[2020-02-20 15:53] #2609 closed

[2020-02-22 14:41] SukantPal opened #4191 "Mocha site bug: before, after hooks described incorrectly"
<img width="941" alt="Screen Shot 2020-02-22 at 9 39 07 AM" src="https://user-images.githubusercontent.com/22450567/75094238-57b1b080-5557-11ea-8632-b7ef9eff5d79.png">

According to this thread https://stackoverflow.com/a/32682451/6805653, the `before` and `after` hooks run before all test in the _file_ rather than in the _block_. I believe the documentation has been incorrectly modified (as shown

[2020-02-22 15:27] juergba commented on #4191
No, this part of our docs is correct.
`before` and `after` hooks run before all test in the `describe` block.
You should not trust me though, just test it.

[2020-02-22 16:45] SukantPal commented on #4191
@juergba I see that. I think the documentation should be a little more elaborate - because the only difference in the two sentences is "all" vs "each". It is easy to mistake that "before all" means "before each".

[2020-02-23 09:13] juergba commented on #4191
@SukantPal thank you, we will incorporate your input at the next docs update.

[2020-02-23 09:13] #4191 closed

[2020-02-24 17:18] #2188 closed

[2020-02-24 19:18] AakankshaDC commented on #950
Will filename be displayed when run `mocha -u exports --recursive test --reporter json` on command line? Do I need to change something in my arguments to enable it?

[2020-02-27 11:55] danielbodart commented on #2975
Is there any plan to fix this in the long term?

[2020-02-27 16:51] ematipico commented on #2505
Hi, is there any movement around this?
At the moment this is causing an issue. I am running mocha in a bundled file (I packed mocha using rollup) to he executed in a serverless environment.

I get an error in the following snippet:

[code]

[2020-02-27 17:23] boneskull commented on #2505
Does the serverless environment not support `module.paths`?

As this is marked `help wanted`, if a contributor can find an alternative, we’d accept a PR to address.

[2020-02-27 19:07] ematipico commented on #2505
I take a guess: could it be empty because there's no `node_modules` folder?

Would bypassing that lines of code break the framework? I could help if pointed to the right direction

[2020-02-28 12:21] icetbr opened #4195 "Add option to kill current test on change detected in watch mode."
### PROBLEM
Hi, when running in watch mode and a change is detected, a new run is scheduled but the current one still runs to the end. This slows down testing when the rest of the code has expensive calls.

### EXAMPLE
Something I do frequently, lets say I want to modify the following method to include the user email, but I don't know how to extract it.

[code]
I put a breakpoint in `const user =

[2020-02-28 15:04] basickarl commented on #2138
Doesn't work on Bash on Linux.

GNU bash, version 4.3.48(1)-release (x86_64-pc-linux-gnu)
Linux version 4.10.0-32-generic (buildd@lcy01-01) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.4) ) #36~16.04.1-Ubuntu SMP Wed Aug 9 09:19:02 UTC 2017

[2020-02-28 16:53] bajtos commented on #2839
We are interested in this feature for LoopBack too. Our main development is happening in https://github.com/strongloop/loopback-next, a medium-sized monorepo.

Few comments from the experiments I did so far using https://www.npmjs.com/package/mocha-parallel-tests:

- The module uses worker threads on Node.js 12+ and child processes on older versions. Are failing when run via worker threads, becaus

[2020-02-29 09:41] juergba commented on #4186
Yes, you are correct.`--recursive` is not working as expected.

Currently it's working only for **directories:**
- `mocha --recursive "./test"`
- depending on your `extension` setting: it should return all files in (`./test` and subdirectories) with defined extension(s).

You can set the extensions via CLI `--extension` or via configuration file.

Unfortunately our dependency _glob_ does not offer

[2020-02-29 11:59] juergba commented on #4158
Please try our new release v7.1.0 which supports Node's native ESModules support.

[2020-02-29 12:27] #509 closed

[2020-02-29 12:55] juergba commented on #2193
You can use the `--reporter-option` flag:
`--reporter xunit --reporter-option output=test-reports.xml`

[2020-02-29 12:55] #2193 closed

[2020-02-29 13:15] #2618 closed

[2020-02-29 13:28] juergba commented on #3006
We implemented Node's native ESM support in Mocha v7.1.0.

[2020-02-29 13:28] #3006 closed

[2020-02-29 14:25] juergba commented on #4195
Mocha does not spawn a child-process for each test re-run as _Nodemon_ does.
Therefore we can't just massacre the child-process - ignoring any side-effects - and start from zero with a new child-process.

Therefore we are not planning to implement your feature request.

Anyway we have to re-think our `watch` implementation in the middle run, since ESModules can't be watched with our current `watch

[2020-02-29 14:27] #4195 closed

[2020-02-29 14:59] fedulovivan commented on #4186
@juergba Am I right, that passing directory along with extension as **./test/*.js** does not make any sense? So the ***.js** part is just ignored?
And thanks for pointing to extension option. `--extension ts,js` is exactly what was needed.

[2020-02-29 15:16] juergba commented on #4186
You are welcome. Yes, it does not make any sense/has no effect.
But it's the `--recursive` flag which is just ignored when you run `mocha --recursive "./test/*.js"`.
The same for `mocha --recursive "./test/*.ts"`.
The extension does not make any difference in these cases.

[2020-02-29 16:02] juergba commented on #4183
@nicojs thank you for this issue, it sounds interesting to me.

I would like to understand better the big picture and will need some time to clarify:
- `grep` feature: all tests are linked into the `runner`, but at runtime only the matching ones are executed?
- your feature: you only load the matching test, unmatching ones are ignored?
- `only` feature: could we use the static `it.only`?
- can we

[2020-03-03 03:55] pengliheng commented on #1083
how to setup `setup.test.js` in mocha???

[2020-03-05 01:38] kunjarani commented on #1906
Hi,
Any one got a solution for this error. I am facing the same issue. I am using gulp-spawn-mocha-nyc .

[2020-03-06 08:00] AWolf81 commented on #1906
@kunjarani You could use [JSDOM](https://github.com/jsdom/jsdom) so it can run the html reporter from CLI with-out a failure about a missing document. I've created a basic script to start Mocha.js with that reporter [here](https://gist.github.com/AWolf81/e5a25ced70709ead0e16a49fa63b0ff1).

It's creating two globals (document & window) and also a mock of `getContext` for the canvas. Probably the mo

[2020-03-06 12:04] kunjarani commented on #1906
@AWolf81  Tq for the response.

The issue got resolved in another way. Actually  [gulp-spawn-mocha-nyc](https://www.npmjs.com/package/gulp-spawn-mocha-nyc) is internally using [mocha](https://www.npmjs.com/package/mocha) to execute the unit tests and [nyc](https://www.npmjs.com/package/nyc)  to create a code coverage report.

var gulp = require('gulp');
var mochaNyc = require('gulp-spawn-mocha-nyc

[2020-03-07 01:43] btilford commented on #2313
Any update on typescript or typescript sourcemaps for either markdown or docs reporters?

[2020-03-07 07:00] juergba commented on #2313
@btilford Newer versions of Node.js introduce the `--enable-source-maps` flag. Could this flag help in anyway?

[2020-03-07 23:54] btilford commented on #2313
@juergba That actually gets pretty close. It looks like `--require source-map-support` isn't needed anymore?

[2020-03-09 08:02] #2753 closed

[2020-03-09 08:49] #4158 closed

[2020-03-10 14:33] juergba commented on #4179
Re "Additional Information": _ts-node_ does not support ES modules, see [mocha-examples](https://github.com/mochajs/mocha-examples/tree/master/packages/typescript).

[2020-03-11 16:15] Farenheith commented on #3670
Just to report here, mocha worked with --experimental-worker with the following command in the package.json:
[code]

[2020-03-12 08:23] AuHau commented on #4108
Any thoughts on this? @juergba or anybody else? I would happily work on this as it is really pain-point for me 😒

[2020-03-12 08:47] juergba commented on #4108
@AuHau Could this issue be related to [#4183](https://github.com/mochajs/mocha/issues/4183)?
Can you briefly outline how to cache and filter those tests?

I don't really like the idea to implement this issue using huge `grep` expressions. As _mocha-broken_ does?

[2020-03-12 09:27] AuHau commented on #4108
Yeah, the #4183 would be definitely beneficial for this idea as I don't like the "huge `grep`" approach either.

I am not yet familiar how mocha internally identifies each test-case, but the general outline could be like this:

## For every test run

 1. successful finished test run (eg. ignoring early-terminated runs using, for example, SIGTERM/SIGKILL)
 2. save the result (success/failure/skippe

[2020-03-12 14:08] #4163 closed

[2020-03-12 16:49] juergba commented on #3769
The support of Node v8 has been dropped.

[2020-03-12 16:49] #3769 closed

[2020-03-12 20:10] MrShoenel opened #4199 "Replace vulnerable mkdirp with fs.mkdir"
- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't supported in the environ

[2020-03-12 22:14] boneskull commented on #4199
please note that `fs.mkdir` with `recursive: true` does _not_ completely obsolete `mkdirp`. that said, I think we can move away from it once Node.js v8 support is dropped from Mocha.  the `recursive` flag arrived in Node.js v10.12.0.

[2020-03-13 09:32] juergba commented on #4183
I don't really like our `grep` feature, mainly because first it adds all tests to the runner, but then runs only a selection of filtered matching tests.

You would like to do the same, right? Load all unfiltered tests to the runner and re-use the same runner with different filters.

[2020-03-15 12:22] outsideris commented on #4199
We will drop Node.js v8 support in mocha v8.0.0, see https://github.com/mochajs/mocha/pull/4164

[2020-03-15 14:32] feckertson commented on #4151
We ran into the below \[distilled\] issue with done. Is it the same thing?

The coding defect was caught in a code-review, but it never should have made it that far.

developer's erroneous source code:
[code]

a test which should have exposed it:
[code]

[2020-03-15 19:08] mark-bixler opened #4201 "TS aws-sdk Not Outputting Test"
Writing a simple test to see if a secret exists in AWS Secret Manager that has dependencies later on.

Using Typescript & aws-sdk.

Code:

[code]

Expected results:

[code]

Actual Results:
[code]

I confirmed the values are correct and if statements are all working per expected behavior, just not the tests.

[2020-03-15 20:49] feckertson opened #4202 "🐛 Bug: Test stops recognizing exceptions once done has been called"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-03-15 20:52] #4201 closed

[2020-03-16 13:55] PranavBhatia commented on #1327
Same **failed** test ran twice despite having **done** handled properly:
3) should update the attribute: awayMode of a device with: {"type":"action"}
4) should update the attribute: awayMode of a device with: {"type":"action"}

[2020-03-17 09:42] juergba commented on #4108
@AuHau thank you.

First I need to know what the author of #4183 exactly wants.
- the test identifier would probably be `fullTitle`
- last-failed: seems ok so far, to run only the failed tests without any re-ordering.
- first-failed: I don't think we can split our `describe` blocks into two parts, the failing tests at the beginning and then later the passing tests. This would break our hook patter

[2020-03-17 16:04] fasttime commented on #1454
Any way to do something like `it.only` and `it.skip` with (one particular instance of) a parameterized test? For me, that would be the only reason for using a helper package rather than dynamically generating tests.

[2020-03-17 22:10] Hypnosphi commented on #4199
It should be enough to add caret (`^`) to `mkdirp` dependency, because `0.5.3` has `minimist` updated:

[code]

[2020-03-18 12:10] ejke commented on #4199
If someone else gets here because of `minimist` vulnerability, do
- force update `mocha` (remove from `package.json` and `$: npm install mocha` with optional
`--save-dev`) Note: `$: npm update` might work as well. Didn't for me.
- delete `node_modules` and `package-lock.json`
- `$: npm install` to get all fresh and updated dependencies. Check with `$: npm audit` that all is fixed.

[2020-03-18 12:50] brettz9 commented on #4199
@ejke: The key is to use the `depth` flag with `npm update`. Even just `npm update --depth 10` is typically enough (the docs recommend `9999`, but besides often hanging, it doesn't seem to be typically necessary to check to such a high depth).

[2020-03-18 13:22] richard-m1 commented on #4199
I think you shouldn't have to remove it from `package.json` if you specify the version. Something like `npm i mocha@7.1.1 --save-dev`.

[2020-03-18 18:04] JimmyBjorklund commented on #4199
Getting this too in the log when installing -> npm WARN deprecated mkdirp@0.5.3: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x.

[2020-03-18 22:54] brettz9 commented on #4199
@JimmyBjorklund : That's an improvement (and separate issue) though (the message actually means you got the vulnerability fixed or avoided). While 0.5.3 is deprecated in favor of the new 1.0 series, 0.5.3 includes a fix for a security vulnerability present in 0.5.1 (which some of us still had in our `node_modules` or `package-lock.json`).

But it would indeed be good to start using the 1.0 series

[2020-03-19 09:20] mitchallen opened #4209 "this.timeout not working"
Using **this.timeout** has no effect.  I was careful not to use arrow functions.

[code]
As you can see from the output, the test only took **5ms**:

[code]
## Versions

[code]
## Operating System

[code]

[2020-03-19 09:34] juergba commented on #4209
This test fails:
[code]
With `this.timeout()` you set the **maximum time** in ms allowed to let the test pass.

[2020-03-19 09:34] #4209 closed

[2020-03-19 09:38] #4199 closed

[2020-03-19 10:40] joseluisvl opened #4210 "Missing version dependency, mkdirp@0.5.3"
Today we have this problem when installing mocha, it seems that the mkdirp@0.5.3 is missing.

npm ERR! code ETARGET
npm ERR! notarget No matching version found for mkdirp@0.5.3
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of 'mocha'
npm ERR!

[2020-03-19 13:00] juergba commented on #4210
https://github.com/mochajs/mocha/issues/4199#issuecomment-600586478

[2020-03-20 05:33] #4210 closed

[2020-03-20 10:06] renanbandeira commented on #3393
I'm facing the same issue. I use mocha 5.0.1 because when I go to mocha 5.1, it reduces tests execution from 2100 to 455.

[2020-03-20 21:05] daveisfera opened #4212 "Relaxed versions?"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**
Using specific versions causes users to end up with duplicate versions of modules and can leave them [exposed to security vulnerabilities](#4199)

**Describe the solution you'd like**
Please use `^` instead of specific versions

**Describe alternatives you've considered**
Using `~` would be better than a specific

[2020-03-21 14:46] phil294 commented on #138
redirecting to `/dev/null is not enough`. This leads to error output like

[code]

When I would expect the entire error stack trace to be shown, as in

[code]
(made with Chai)

[2020-03-21 15:55] n8sabes opened #4213 "No Mocha test results in VS Code Debug Mode (TypeScript, async, fast-running, mocha tests)"
**Problem:** No test results from fast-running test output to integrated-console in VSCode + TypeScript.

**Workaround:** Set a breakpoint in the test, or including an `await sleep(1000)` in the `before` function.

**Environment:**
Mocha: 7.1.1
TypeScript: 3.8.3
Mac OS X: 10.15.3

--> I have not found a related issue, but please associate if one exists.

launch.json configuration:
[code]

fast_tes

[2020-03-21 15:58] n8sabes commented on #4213
This is the workaround I'm using in the interim:

[code]

[2020-03-22 11:26] cristian-spiescu commented on #3584
I'm posting here my current workaround (via monkeypatching) for this:

mocha-monkeypatched.js:

[code]

package.json:

[code]

NOTE: I also discovered [another issue](https://github.com/paulmillr/chokidar/issues/987) regarding linked files, but related to watching.

[2020-03-23 13:25] juergba commented on #4213
`launch.json` is the VSCode configuration file for debugging. I don't really understand your question.
Does your test work in normal mode (without debugging)?

[2020-03-23 13:35] Overdrivr commented on #1454
@binduwavell @timaschew

Just my two cents, but coming from the Python world the syntax proposed in https://mochajs.org/#dynamically-generating-tests looks very poor to me:
1. The parameters must be retrieved through the `test` variable while in fact they should just be function parameters
2. Each `tests` entry must contain an object with key:value for each parameter. This makes the initial parame

[2020-03-23 14:58] n8sabes commented on #4213
Hi @juergba, Upon further investigation

1. The problem **does not** occur when executing the test in the console.
2. The problem **only occurs** when running the test in debug mode w/o breakpoints and the test is fast/short-running.

As a matter of convenience in VS Code, I often hit F5 to execute the currently selected test and verify results. If the test is too short/quick, there are no results

[2020-03-23 16:09] juergba commented on #4213
Can you explain why you think this is a Mocha issue?
What do you expect when you start a debug session without breakpoint?
Why have you changed `internalConsoleOptions`?

[2020-03-23 17:54] rgroothuijsen commented on #3895
@juergba Correct, the tests are stubbing `process` [here](https://github.com/whyboris/karma-helpful-reporter/blob/karma-helpful-reporter/test/data.types.test.js#L73) and [here](https://github.com/whyboris/karma-helpful-reporter/blob/karma-helpful-reporter/test/data.types.test.js#L119). Since it's a global object, this altered state is carried over into other test files. If I comment out these line

[2020-03-23 18:32] n8sabes commented on #4213
@juergba, I have since opened this issue in the VS Code project as well (referenced, above). Mocha and VS Code are the two tools (together) in the toolchain that result in test output failure. I am uncertain where the failure originates.

As for your question about `internalConsoleOptions`, it was part of a mocha+vscode+typescript blog post in TypeScript debugging scenario that worked in my enviro

[2020-03-24 06:32] juergba commented on #3895
@rgroothuijsen thank you for your confirmation. 👍
@whyboris can I close this issue?

[2020-03-24 06:43] juergba commented on #4212
@daveisfera thank you for your proposition.
We are aware of this possibility, but have decided against some time ago.
We should update our dependencies more often though.

[2020-03-24 06:43] #4212 closed

[2020-03-24 14:53] hnatashah96 opened #4215 "Uncaught TypeError: done is not a function"
Hi, can someone please tell me why i am getting this error message when i am trying to update and delete records in Mocha.
![image](https://user-images.githubusercontent.com/62608153/77439802-86989c00-6e0d-11ea-852c-236575695ad6.png)
![image](https://user-images.githubusercontent.com/62608153/77439823-8dbfaa00-6e0d-11ea-9083-787a4a4c2b5a.png)

My Update code is an follows:
const assert = require('

[2020-03-24 15:04] daveisfera commented on #4212
That's unfortunate. Any specific reasons why that decision was made?

[2020-03-24 15:44] ilgonmic opened #4216 "🚀 Feature: Possibility to return 0 exit code when tests run successfully even with fails"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**
A clear and concise description of what the problem is. E.g. I'm always frustrated when [...]

Sometimes it is useful to separate situations when tests run successfully, and there is no infrastructure or runtime problems, and when there are some runtime problems.
Possibility to return non-zero exit code only on i

[2020-03-24 23:04] whyboris commented on #3895
I had this issue with version `6.1.4` -- my tests would generate this error:
[code]
I updated to `7.1,1`  -- now the error is just
[code]
It's not clear what the error is, but at least it points to a file in my repository, rather than to _mocha_

Please feel free to close the issue if you think you've resolved it 👌
I suspect it is fixed, but can't be sure 🤷‍♂
Cheers 🙂

[2020-03-25 00:10] brettz9 opened #4217 "mkdirp needs another update (to 0.5.4 or better yet, to a still newer 0.5.5)"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-03-25 01:04] hfiguiere commented on #4217
I have `5.2.0` and it has the same problem (expected). That would be terrific to have an update for that branch to solve `npm audit` warnings. (upgrading to 6 or 7 cause some trouble here)

[2020-03-25 05:59] juergba commented on #3895
@whyboris I'm closing this issue.
I think it's your turn now to improve your testing code. Mocha needs the uncaught error handler to process uncaught exception. Overwritting the `process` object is a severe error in your code. It's your turn.

[2020-03-25 06:00] #3895 closed

[2020-03-25 13:23] voxpelli commented on #2735
Here's an old PR implementing this: https://github.com/mochajs/mocha/pull/2381

[2020-03-25 16:27] LeonardoSalvucci commented on #4047
<img width="539" alt="Captura de Pantalla 2020-03-25 a la(s) 13 22 26" src="https://user-images.githubusercontent.com/5777762/77560120-c6a66000-6e9b-11ea-999b-f5c7616c281e.png">
I just made this fix, it'll verify if file exists and if not will remove from args and show a warning like the image but continue to process the other files. Do you think that is resolved like this? Must i send a PR?
[It's

[2020-03-26 00:03] brettz9 commented on #4217
@hfiguiere : mkdirp was pegged earlier at 0.5.1, and apparently fixed to 0.5.3 per https://github.com/mochajs/mocha/pull/4206 by @juergba  but shortly thereafter there was another mkdirp patch bringing it to 0.5.4.

[2020-03-26 00:08] hfiguiere commented on #4217
Exactly, so if there could be `5.2.1` with `^0.5.4`.

[2020-03-26 00:26] brettz9 commented on #4217
Apologies, it looks like `mkdirp` was already removed in `master` (see https://github.com/mochajs/mocha/commit/f87825a2e7ed2af79c0393cfd76bd73edebcc1d9#diff-b9cfc7f2cdf78a7f4b91a753d10865a2 ), so just awaiting a new release.

[2020-03-26 00:29] hfiguiere commented on #4217
So no chance this happen for `5.2.0`?

[2020-03-26 00:44] brettz9 commented on #4217
I am not part of the project, so you'd need to file another issue if you wanted them to back-port security fixes for older mocha versions. I'm personally happy just upgrading to the latest 7.* mocha.

[2020-03-29 07:19] juergba commented on #4212
Mocha runs in various environments as Node, modern browsers and our lovely IE11. We prefer therefore to peg our dependencies. Security incidents have been very rare in the past.

[2020-03-30 15:12] krzkaczor commented on #185
Another idea: if you use mocha's config JavaScript file you can just put it there:
*.mocharc.js:*

[code]

[2020-03-31 04:48] G-Rath opened #4220 "Backport updating mkdirp to 5.2.x branch"
The latest version of the `svg-sprite` package has `mocha` ^5.2.0 as a dependency, which means it's being flagged by our security auditors due to mochas extract constraint on `mkdirp`.

While `svg-sprite` does appear to be active, there's not a lot of movement currently and they're gearing up for a new major, so it's not a guarantee that they'll have the bandwidth for a patch release.

For mocha,

[2020-04-01 05:34] spencerwasden commented on #3484
I am using ts-node and PHPStorm/Mocha.  In the Mocha configuration dialog, there is a field "Extra Mocha options".  I entered `--require ts-node/register` there and it resolved this issue.

[2020-04-01 05:48] spencerwasden commented on #3228
I am using ts-node and PHPStorm/Mocha. In the Mocha configuration dialog, there is a field "Extra Mocha options". I entered `--require ts-node/register` there and it resolved this issue.

[2020-04-01 07:16] juergba commented on #4215
@hnatashah96 Please note this is an issue tracker, not a help forum.
You find Mocha/mongodb samples by googling, or you can try to get support on our [gitter](https://gitter.im/mochajs/mocha?source=orgpage) channel.
Formatting your code would be nice.

[2020-04-01 07:16] #4215 closed

[2020-04-01 08:11] juergba commented on #4159
@osher No, we will not allow multiple ui's again.
As mentioned above, we already had this situation (BDD plus a second ui).
I'm sorry.

[2020-04-01 08:11] #4159 closed

[2020-04-01 12:44] juergba commented on #4108
There is one additional problem, see #1955.
Currently when a hook fails, Mocha skips the corresponding tests. The skipped tests just disappear, don't get any state as eg. 'skipped' and aren't listed anywhere. So these tests can't be stored in a cache for re-running.

[2020-04-03 01:34] kevinx701 commented on #1327
I got same issue, I only have one case.
 #indexOf()
    √ new test (1979ms)
  #indexOf()
    √ new test (4547ms)
  2 passing (7s)

[2020-04-03 03:42] brettz9 commented on #4217
@juergba : Could you

[2020-04-03 03:42] brettz9 commented on #4217
@juergba : Could you put out a new release for the 7 branch to include the latest mkdirp bump (0.5.4+)

[2020-04-03 05:20] nicojs commented on #4183
No, it would basically work the same as `grep`, but would allow us to determine whether to run the test or not programmatically

No. During mutation testing, we can't instrument/change the tests. They are what they are.

Sounds good. But that does seem #2783 also needs to be implemented.

It should run programmatically and should also work in the browser.

This isn't useful to us since we might no

[2020-04-03 12:52] outsideris commented on #4216
I didn't understand it. Could you explain more detail for usecases.

[2020-04-03 13:11] ilgonmic commented on #4216
Using Mocha in some build tools (for example Gradle).
After Mocha successfully run, I know test status via custom loader. Then I provide test results to "parent" build system and doesn't matter on Mocha exit code. Further results will be processed, and I don't want to fail "parent" build system.
But it does matter if there is some problems with infrastructure (for example Node problem). And in thi

[2020-04-06 06:43] nicojs commented on #3727
How would you want the type `Mocha.Rc` to be kept in sync with the json schema? I have some experience with this using https://github.com/bcherny/json-schema-to-typescript. Do you want me do create a merge request for this?

[2020-04-06 06:43] nicojs commented on #3727
I would also suggest to use the schema for validation, but that would be a different MR I think.

[2020-04-06 08:26] G-Rath commented on #4217
I've created #337 requesting the update be backported to the 5.2.x branch.

[2020-04-06 09:07] brettz9 commented on #4217
Are you referencing the wrong issue or PR, @G-Rath? That looks like it is about the TeamCity reporter, while this is about mkdirp.

[2020-04-06 09:08] brettz9 commented on #4217
There is now also a 0.5.5 release: https://github.com/isaacs/node-mkdirp/commits/v0.5.5 (removing a deprecated Node feature).

[2020-04-06 09:13] G-Rath commented on #4217
@brettz9 yes good catch; that's the issue number for it's sister issue over in `svg-sprite` 😬

I've updated my original title, cheers.

[2020-04-07 06:58] #4213 closed

[2020-04-07 16:53] juergba commented on #4220
@G-Rath We are not patching as far back as Mocha@5 which is almost two years old.
I'm sorry.

[2020-04-07 16:53] #4220 closed

[2020-04-08 13:23] richard-flosi commented on #2927
Is there some technical reason for not supporting `before()` and `after()` within an `it()`?

[2020-04-08 15:23] jayaddison commented on #4220
@juergba I'll try to be brief, I appreciate your time and feedback as a maintainer here.

Would it be possible to clarify the maintenance policy via the [project charter](https://github.com/mochajs/mocha/blob/master/PROJECT_CHARTER.md#22-out-of-scope)?

This issue affects a project using a relatively up-to-date node engine (`v10.19.0`) - but for various reasons it may take time to upgrade `mocha`.

[2020-04-08 16:05] boneskull commented on #2927
yes. before, in particular, cannot be run since the test is already underway

[2020-04-09 12:46] outsideris commented on #4220
We should make a LTS strategy, but we need more discussion in [here](https://github.com/mochajs/admin/issues/8).

[2020-04-09 15:52] jayaddison commented on #4220
Thanks @outsideris - I'll follow discussion there.

[2020-04-10 05:06] brettz9 opened #4226 "Expose `test.speed` (or `slow` value) in reports (at least JSON)"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**

Relative to my purposes to allow precise badge-making from Mocha reporters that takes into account test `speed`/`slow` , it is a problem.

**Describe the solution you'd like**

I'd like for `test.speed` to be recorded in JSON results (and/or the `slow` value associated with the file as a whole and individual tes

[2020-04-10 06:07] juergba commented on #4142
@brettz9 `reporter-option` in `.mocharc.js` is an array. Please try:
[code]

[2020-04-10 06:23] brettz9 commented on #4142
Excellent, thank you, @juergba, I see this is working now. However, for `require`, it still does not work:

[code]

[2020-04-10 06:27] brettz9 commented on #4142
Hmmm... Ok, I was left with:

[code]

which after removing the requires, I just had:

[code]

...which was complaining, but it is ok with "mocha".

[2020-04-10 06:29] brettz9 commented on #4142
So I guess this is resolved as far as I am concerned (though I'd be interesting in knowing why `_mocha` is different).

[2020-04-10 06:55] juergba commented on #4142
`mocha` checks for Node flags and spawns a child-process if found any. `--require esm` is handled as Node flag, the rest of the `require`'s are passed to Mocha.

`_mocha` is for backwards compability only and does not care for Node flags. It was used also for debugging, in times when debugging a child-process was difficult.

I would like to close this PR.

[2020-04-10 06:58] #4142 closed

[2020-04-10 09:43] juergba commented on #2804
outdated

[2020-04-10 09:43] #2804 closed

[2020-04-10 09:45] juergba commented on #2917
outdated

[2020-04-10 09:45] #2917 closed

[2020-04-14 00:53] ukd1 commented on #4132
+1 came here looking for this

[2020-04-14 03:20] BenJohnThird commented on #4080
Just for confirmation, update your nyc version to the latest and it would work.
Currently, I've set mine into "npx nyc@latest mocha" which from the documentation, installed the latest nyc versions for us.

[2020-04-14 07:16] Munter commented on #4132
@zxlin @ukd1 Mocha can use external reporters with the [`--reporter`](https://mochajs.org/#-reporter-name-r-name) option. Have you considered cresting one yourself and open sourcing it?

[2020-04-14 07:18] c8y3 opened #4227 "mocha does not stop on failure in beforeEach anymore"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-04-14 07:42] juergba commented on #4227
Running your test sample in Chrome (without Karma), everything works as it should.
Please try and set Mocha's `allow-uncaught` option to `true`.

[2020-04-14 07:42] zxlin commented on #4132
@Munter thanks for the reply, in my initial posting I said:

and I again reiterated in my follow up post after this issue got, in my opinion, mistakenly closed that:

I was hoping to find some support for this from the maintainers in it being at least a good idea to implement, but in the follow ups from @juergba, it sounded like he doesn't see the necessity which was low key very demotivational fo

[2020-04-14 15:16] daveisfera commented on #4212
I agree that security incidents aren't a common problem, but multiple versions of a module is a common problem that causes bloat and wasted resources, so would you consider at least using `~` instead of specific versions?

[2020-04-14 22:37] boneskull opened #4228 "lint the jsdoc"
I'm getting bit with failing documentation builds because I'm writing docstrings that JSDoc doesn't like (specifically, TS-style).  But there's no linting happening before getting to Netlify.

We may be able to make JSDoc just check the syntax and exit (and make it part of the `lint` scripts).

This is moot if we want to move forward with maintaining our own TS types (for which there is an open PR

[2020-04-15 07:35] Munter commented on #4132
I can certainly see the benefits. But there is a difference between creating a PR for a new reporter and making it as its own project. Putting it in core puts the maintenance burden on the core developers, which have little time available as it is. So for a reporter, which already can be plugged in from external packages, I also see little motivation to put it in core.

[2020-04-15 10:05] aishwaryabk commented on #4020
Hi, is this issue solved? I am facing the same issue on PowerPC ppc64le architecture.

[2020-04-15 10:37] Munter commented on #4020
Travis doesn't seem to be able to recreate this with node `10.20.1`: https://travis-ci.org/github/mochajs/mocha/builds/675200024

I can't recreate what you see myself. My system information:

- The output of mocha --version and node node_modules/.bin/mocha --version:
- The output of node --version: v12.16.0
- Your operating system
   - name and version: MacOS Mojave v10.14.6
   - architecture (32

[2020-04-15 10:37] #4020 closed

[2020-04-15 11:02] aishwaryabk commented on #4020
I am trying to build zeromq package from source, which fails due to mocha. So I am building mocha from source.
My system information:

OS: rhel 7.6
architecture: ppc64le
mocha --version: 7.1.1
node version: v12.16.1
npm version: 6.13.4
gcc version : Red Hat 7.3.1-5
Packages installed: libjpeg-devel, pkgconfig, cairo, giflib-devel.

Would like some help on understanding the same.
Thank You.

[2020-04-15 15:46] Munter commented on #4020
There isn't really any build step in mocha when you run in node. Are you running in a browser? And which error is it you get from the official releases?

[2020-04-15 19:10] jimbits commented on #3839
When testing make sure you don't use https: that worked for me...

[2020-04-16 03:59] aishwaryabk commented on #4020
I am running it on a High end VM with good connectivity. The following is the result of npm install and npm test:

Install:

	bash-4.2# npm install
	npm WARN acorn-jsx@5.2.0 requires a peer of acorn@^6.0.0 || ^7.0.0 but none is installed.
        You must install peer dependencies yourself.
	audited 24310 packages in 14.516s

	75 packages are looking for funding
	  run `npm fund` for details

	fou

[2020-04-16 09:55] silkfire commented on #4217
Can't we upgrade to 1.0.4 to prevent this message?

`npm WARN deprecated mkdirp@0.5.3: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x. (Note that the API surface has changed to use Promises in 1.x.)`

[2020-04-16 13:23] Munter commented on #4020
@aishwaryabk Your errors in the log you link to are related to your local machine not being able to connect between karma and headless chrome. It's very unlikely to be a mocha issue.

The stack you post when running mocha is not related to mocha either. It's node not being able to require your zeromq node bindings.

I'm going to keep this ticket closed, since none of these errors seem related to n

[2020-04-16 17:09] ukd1 commented on #4132
@Munter great reply; you explain why this shouldn't be in core (tbh, totally makes sense) and a route out (writing an external reporter). Thanks!

[2020-04-17 00:56] dbettini commented on #1810
@enobufs @boneskull It seems you're saying that the new behavior is the same as `mocha-prepare`. However, the test files are STILL loaded before the root `before` promise (from file used by the `--file` flag), but their hooks/tests are not run. `mocha-prepare`, on the other hand, loads the test files AFTER prepare hook calls `done`. Tested on `mocha@6.2.3`

[2020-04-17 06:37] juergba commented on #4126
Meanwhile I don't think this is a good way to dynamically create tests. Our interface has not been designed for iterative parsing/runner-creation and tests execution.

We should think about extending our programmatic API and exposing some (new) functions like `addSuite`, `addTest`, `addHook`, etc.

[2020-04-17 06:38] #4126 closed

[2020-04-18 05:46] resistdesign commented on #1327
For me the Glob path for `spec` was running/**FINDING** a test twice.
AND using QUOTING mattered.
I landed on using single quotes around my Glob path in my `npm` script: https://github.com/resistdesign/rdx/blob/refactor/2020/package.json#L30

[2020-04-18 07:53] juergba commented on #4217
closed by #4222.

[2020-04-18 07:53] #4217 closed

[2020-04-20 09:01] juergba opened #4231 "Reporter HTML: listen to new 'EVENT_TEST_SKIPPED` event"
### Description

Currently a failing hook changes the shape of a test run and related tests just disappear. They are neither listed in the reporter output nor shown in the test summary.
#4221 / #4233 add new test events: `EVENT_TEST_SKIPPED`.

ToDo in reporter HTML:
- listen to `EVENT_TEST_SKIPPED`
- report `skipped` tests in color red (similar to `pending` tests)
- `mocha-stats`:
  - add `pending

[2020-04-20 10:06] nicojs commented on #2783
Ok, I've investigated the issues a bit and I want to propose the following changes. They are designed to be 100% backward compatible and minor while still allowing for the new feature. @boneskull @plroebuck do you agree with these changes? I'd be willing to prepare the PR.

## 🔀 `cleanReferences`

I want to add a feature to allow references not to be cleared. Let's call it `autoDispose`. By defaul

[2020-04-20 15:33] boneskull commented on #2783
sounds reasonable to me. you’ll also want to ensure there’s no eventemitter leaks happening.

[2020-04-21 06:36] jedwards1211 opened #4232 "Feature request: MOCHA_GREP environment variable (alternative to --grep)"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**
I've been working with `sequelize` lately and it's got a bunch of package scripts for testing, here are a subset:
[code]
Grepping for tests is really annoying because
1) I have to use a bunch of `--`, like `npm run test-docker-integration -- -- --grep foo`, to pass `--grep` to the actual `mocha` command.  `yarn`

[2020-04-22 09:28] nicojs commented on #2783
The PR is finished. @boneskull would you care to take a look?

Great integration tests you guys have! I broke mocha's `watch` functionality apparently. Never would have known without those awesome tests!

I choose in the end NOT to call it `autoDispose`, rather i've called it `cleanReferencesAfterRun`. My reasoning is that `dispose()` on the mocha instance should also remove any `uncaughtException

[2020-04-22 17:04] jedwards1211 opened #4248 "[Feature Request] ability to use "is" instead of "be" in .and.have.property('foo').that.be(X)"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**
Not a huge deal but it's awkward that we have to use incorrect English grammar in this case.  Most significantly it's probably a bit confusing for first-timers.

**Describe the solution you'd like**
  Would be nice if we could use `.is` in the same place as `.be`:
[code]

**Describe alternatives you've considered

[2020-04-23 05:11] juergba commented on #4248
`.and.have.property('foo').that.is(X)` is not a Mocha feature. Please close.

[2020-04-23 05:39] jedwards1211 commented on #4248
@juergba I know, that's the feature I'm requesting

[2020-04-23 05:40] jedwards1211 commented on #4248
oh argh.  Sorry, I'm confusing mocha and chai 😅

[2020-04-23 05:40] #4248 closed

[2020-04-23 23:00] mclin opened #4250 "karma-mocha hangs when there's a exception in afterEach hook"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-04-24 06:25] juergba commented on #4250
@mclin thank you for this issue and your detailed analysis.

I will have a look. Emitting a `test end` for a hook (karma-mocha) is wrong. But I guess I will add a check in our code.

[2020-04-24 06:28] juergba commented on #4250
cc @andrewminer

[2020-04-24 08:39] SeekDaSky commented on #2839
Seeing there is efforts put in this I'd like to submit a slightly different use-case.

I am using mocha to execute browser automated tests. In those tests almost every single method is `async` and each test run in their own "private" browser tab (ie. technically all the tests could run in parallel without any issue).

This use case does not need other background threads to execute tests concurrent

[2020-04-24 12:06] juergba commented on #4250
@mclin could check please wether it works with following change?
- old line: `if (test.retriedTest() && test.parent) {`
- new line: `if (test.type === 'test' && test.retriedTest() && test.parent) {`

[2020-04-24 14:02] juergba commented on #4227
duplicate #4250

[2020-04-24 14:57] oussama-ber commented on #3664
May I work on this?

[2020-04-24 15:55] mclin commented on #4250
Works on my end! Sorry I didn't see that other issue.

[2020-04-24 16:41] craigtaub commented on #4169
Is there a scenario where it is useful for mocha to continue watching here rather than quit?
A lot has changed since v6 and the expected behaviour when no test files are found is to exit the current process, regardless of watch mode.

[2020-04-24 17:08] craigtaub commented on #4135
Hey, so according to the docs

Nothing to do with an async test. The code checks for a promise returned but your example does not do that so would not throw the expected message.

[2020-04-24 19:03] coreyfarrell commented on #4135
Async functions always return a promise.

[2020-04-24 21:13] #4227 closed

[2020-04-24 21:13] #4250 closed

[2020-04-25 10:58] craigtaub commented on #4135
@coreyfarrell yes but the "test function" and what the "test function" returns are 2 different things. A promise chain depends on that.

Mocha checks what the (async) test returns. For your example the test itself returns undefined, whereas for the docs example a promise is returned.

[2020-04-25 11:44] coreyfarrell commented on #4135
This does not seem consistent to me but to be honest I'm indifferent.  This is something that was discovered investigating an issue discovered by a user of the tap mocha interface.  Since you say mocha is acting as intended I'll close this issue.

[2020-04-25 11:44] #4135 closed

[2020-04-25 20:37] marmik18 commented on #3740
i am facing issue with `this.skip()` in `it` tests.
the test does not skip.

[2020-04-26 09:09] gannons commented on #2392
Disappointing to see this remains an issue in 2020. Did anyone come up with a work around?

So far I'm heading toward

    sh "npm test || true"

which is not ideal.

[2020-04-27 11:40] #4081 closed

[2020-04-27 11:47] craigtaub commented on #4081
We will need to release this. I'll take a look.

[2020-04-27 12:16] craigtaub commented on #3664
There is already an open PR @oussama-ber .

[2020-04-27 12:18] #3664 closed

[2020-04-27 18:36] kevinoid commented on #3675
I just ran into this issue due to large and difficult to diff `err.actual` and `err.expected` objects:

[code]

I killed mocha after 10 minutes.  Inspector showed the following stack trace:

    at execEditLength (/tmp/example/node_modules/diff/lib/diff/base.js:53:7)
    at Diff.diff (/tmp/example/node_modules/diff/lib/diff/base.js:116:19)
    at diffLines (/tmp/example/node_modules/diff/lib/diff/

[2020-04-27 19:38] fasttime opened #4254 "Tests and suites do not timeout when a zero timeout is changed to nonzero"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-04-28 15:22] ianwremmel commented on #2392
@gannos Not exactly a workaround but I
1. Switched to jest
2. Switched to buildkite for CI which let's me control which jobs fail a build
3. Built check-run-reporter.com to move the report processing out of the CI system so I don't have to care about the exit code.

Mostly, I simply accepted that most report systems don't acknowledge the difference between Errors and Failures so I stopped trying.

[2020-04-28 15:27] gannons commented on #2392
Good memory @ianwremmel. I doubt I'd have much luck recalling what I worked on 4 years ago.

Originally I switched to `jest`. But it had a few problems (mostly around logging) and I ended up switching back to `mocha`.

Think that's the really answer here.

[2020-04-28 15:34] ianwremmel commented on #2392
I mean, I've been working on check-run-reporter.com for quite a while now, so it's hard to forget ;)

But really, it is mostly that Jenkins is the only system I've encountered that has this particular notion of "unstable", so once I was freed from Jenkins's tyranny, this stopped being a thing on my mind.

[2020-04-28 16:30] boneskull commented on #2392
I'd recommend using `mocha || true`.  `command-that-may-exit-with-nonzero-code || true` is how I've implemented behavior akin to this, and I've seen it used in various scripts

[2020-04-28 17:28] PFight opened #4257 "Missing callstack in error"
In the cli.js there is such code:

[code]
When this code handles the error it does not print error callstack. So I getting output like this:

![image](https://user-images.githubusercontent.com/198847/80517971-89e3f200-898e-11ea-9f43-4771d98aaeab.png)

Such output does not help to localize the problem. I spent hours to debug - where problem is by removing lines of code one by one.

I have some proj

[2020-04-29 12:47] alexanmtz opened #4259 "Extending mocha reporters from a Browser integration"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-04-29 19:10] leonelRos commented on #2958
Hey, guys, I was running through the same error. after carefully searching I found out I need to call the "done()" function. It was given some trouble but now it passes the test.

describe('sample_tests', function () {
	// this.timeout(10000)
	it('test 0', (done) => {
		expect(1).to.be.equal(1);
	--->	done();
	});
});

[2020-04-30 16:21] craigtaub commented on #4254
This seems legit. Ive given this a go here https://github.com/mochajs/mocha/pull/4260

[2020-04-30 22:10] boneskull opened #4262 "🛠️ Repo: e2e test helpers could be better (test/integration/helpers.js)"
As part of PR #4241, I was tweaking a few things in our test helper module, which helps Mocha call itself in a child process for end-to-end testing.  It got me thinking a bit...

This is the current situation.  I think we can do better:

1. `runMocha`/`runMochaAsync` spawns `lib/cli/cli.js` and gathers some basic information about the run.  Attempts to parse some information from the output.  Beca

[2020-05-01 10:31] outsideris commented on #4232
Couldn't you use [configuration files](https://mochajs.org/#configuring-mocha-nodejs)?

[2020-05-01 11:31] outsideris commented on #4257
I don't know where `Cannot read property 'get' of undefined` comes from.
You can see call stack by setting `DEBUG` environment variable as `DEBUG=mocha:cli:cli` or `DEBUG=*`.
We don't want to show call stack to every user because it only needs to debug.

[2020-05-01 11:31] #4257 closed

[2020-05-01 16:24] jedwards1211 commented on #4232
I guess that's true...it would be a bit more of a hassle to edit the grep and avoid committing the file to the repo than if I could just use an environment variable though

[2020-05-01 18:07] boneskull opened #4263 "🛠️ Repo: Look at a Finite State Machine (FSM) implementation"
we’re starting to use finite state machines in open PRs. right now there are two separate implementations.

to be clear, we don’t need anything fancy: nested states, async transitions, etc. we’re looking to replace small collections of boolean flags a across a few classes.

I’m interested in [@xstate/fsm](https://github.com/davidkpiano/xstate/blob/master/packages/xstate-fsm/README.md) since it’s m

[2020-05-02 17:22] georgeben opened #4265 "AssertionError causing test to fail with timeout"
Hey, I don't understand what's going on with my code. I am writing a test for an asynchronous function which expects a callback.
The function looks like this:
[code]
This is how my test suite looks like:
[code]
When I run my test, the function executes correctly, when it reaches the line where I made the assertion ` expect(err).to.equal('hello');`. It throws an AssertionError as expected. The asse

[2020-05-03 07:00] juergba commented on #4265
@georgeben please note, this is an issue tracker, not a help forum. For questions you can try to get support via [gitter](https://gitter.im/mochajs/mocha). What you have already done, and received a valid answer.

If your assertion fails, it throws an uncaught exception and `done()` will not be called. It's not a good practice to throw uncaught exceptions in **async tests** and leave the exception

[2020-05-03 08:39] georgeben commented on #4265
Thanks @juergba , so what I should have done is to wrap my assertion in a try-catch block?

[2020-05-03 11:25] sskorol opened #4266 ""hook" event is triggered after "test" event"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-05-03 20:47] evg656e opened #4267 "Consider to add .js extenstion to main entry point (bin/mocha) for better ES modules compatibility"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**

Since extensionless files in ESM context [was dropped](https://github.com/nodejs/node/pull/31415) in latest node versions, there is a problem problem using the `Mocha` with new [esm-loaders](https://nodejs.org/dist/latest-v14.x/docs/api/esm.html#esm_experimental_loaders) like [ts-node esm-loader](https://github.

[2020-05-04 00:58] cspotcode commented on #4267
FYI I posted on https://github.com/nodejs/node/issues/33223 that I actually believe this is a bug on node's side.  mocha declares itself to be a commonjs module, not ESM, so node should not be attempting to load it as ESM.

[2020-05-04 08:25] iongion commented on #2313
The browser based version doesn't show original source, even with source-map-support

[2020-05-04 11:49] #4265 closed

[2020-05-04 13:40] skiod opened #4268 "Error: Timeout of 3000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves"
i wanted to add a delay between two tests because one it depends on another

all's good except when i change params to test catch it only shows this error

[code]

test code

[code]

am i missing something?
Thank you

[2020-05-04 15:25] juergba commented on #4268
Your `done` call is too late. (3000ms + runtime) > 3000ms

[2020-05-04 17:36] btilford commented on #2313
I ended up writing a tool that executes markdown blocks as mocha tests. Also supports typescript. https://github.com/btilford/md-check/tree/master/plugins/exec-mocha

[2020-05-05 00:55] danger89 commented on #291
Use: `npm test` instead

[2020-05-05 06:52] #4268 closed

[2020-05-05 18:47] #2505 closed

[2020-05-05 20:11] monishgg opened #4270 "Request to upgrade yargs-parser dependency"
**Affected component:**
yargs-parser 13.1.2

**Description:**
Affected versions of yargs-parser are vulnerable to prototype pollution. Arguments are not properly sanitized, allowing an attacker to modify the prototype of Object, causing the addition or modification of an existing property that will exist on all objects. Parsing the argument --foo.proto.bar baz' adds a bar property with value baz t

[2020-05-06 05:34] juergba commented on #4270
This is an old snyk security report from March/2020.

yargs-parser 13.1.2

No, this is wrong, v13.1.2 is not affected.

Upgrade to versions 13.1.2, 15.0.1, 18.1.1 or later.

We use _yargs-parser_ v13.1.2.

[2020-05-06 05:34] #4270 closed

[2020-05-06 11:44] #4254 closed

[2020-05-07 22:45] boneskull opened #4271 "display all backers/sponsors on site"
Currently we're limited to ~15 of each.  Another drawback is the URL behind the logo is not visible in the browser.

I frequently get complaints/queries about why a logo is not showing.  If we show all of them, then I won't.

I have a proof-of-concept which uses 11ty's data layer to pull the sponsorship information from OC's GraphQL API (the code is based on webpack's [grabber](https://github.com/

[2020-05-08 11:34] 43081j opened #4273 "package-lock/package are out of sync"
You have published version 7.1.2 but your package-lock and package manifests are still at 7.1.0.

What this also means is you have dependencies which do not exist in your github repo (i.e. in your manifest files) but do exist in the published mocha package.

Is this because you are publishing builds manually? if so, the lock file must've updated when whoever published it, published it, so maybe it

[2020-05-08 20:23] cspotcode opened #4274 "ESM considerations for ts-node and other require.extensions hooks"
I want to share a couple things I've hit while adding ESM support to ts-node, because I think it affects design decisions for mocha's ESM support.

### `require.extensions` need to add hacks to classify files as either CJS or ESM

@emma-borhanian hit an issue with babel's `require.extensions` hook, which also happens to ts-node
https://github.com/mochajs/mocha/pull/4038#discussion_r380195672

I've

[2020-05-08 21:05] shobhu98 commented on #4047
I want to work on this issue

[2020-05-09 11:38] outsideris commented on #4232
I don't agree to add `MOCHA_GREP`. Because if we support mocha flags with environment variable, we should support all flags with environment variable rather than only `--grep`.
It makes hard to maintain mocha's flags.

[2020-05-10 05:16] shobhu98 commented on #3716
Please assign me to this one

[2020-05-10 05:48] shobhu98 opened #4277 "Some Grammatical errors (Code of Conduct)"
THere were some grammatical errors. I have made a pull request. Kindly review and merge.

[2020-05-10 18:48] jtacoma opened #4278 "Using require('../../package') breaks in Polendina"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-05-10 20:49] boneskull commented on #3716
I can’t but would be happy to see a PR to fix!

[2020-05-10 22:26] Munter commented on #4263
I'm still hoping to find time to continue work on the transpilation step soon. If we get that, pulling in fsm would not be a problem.

I agree that we should rather use a well tested one than roll our own

[2020-05-11 08:25] Munter commented on #4278
Why are you bundling mocha when we've already made a browser bundle available?
It looks like Polendina can let you specify the test runner with `--runner`, where you can specify mocha. And you don't even have to because it's default

[2020-05-11 08:39] ethernal12 opened #4279 "Mocha error in terminal while running Ethereum Smart Contracts tests."
Hello ,
I˙m having issues with running some ethereum smart contracts tests.

My Inbox.test.js:
-------------------------------------------------------------------------------------->
[code]
------------------------------------------------------------------------------------------->
My package.json:

[code]
My compile.js
------------------------------------------------------------------------------

[2020-05-11 09:21] Munter commented on #4279
This error doesn't come from mocha. If I recall correctly I've seen that error from the `async` library a bunch of times

[2020-05-11 09:21] #4279 closed

[2020-05-11 10:02] ethernal12 commented on #4279
Oh, hmm so what can I try to get rid of this error ?

Tnx

[2020-05-11 11:38] craigtaub commented on #4040
Sorry this has taken so long to get seen. Did you have any luck here?

[2020-05-11 12:22] craigtaub commented on #4028
Hi apologies it has taken a while to respond to this. Is this still an issue?
There is a specific order of priority when it comes to loading options via different methods, see https://mochajs.org/#merging.

[2020-05-11 18:05] maboesanman commented on #971
I've also created a minimal implementation of this behavior called [givens](https://github.com/enova/givens)

[2020-05-11 19:55] #2783 closed

[2020-05-11 20:08] wheresrhys opened #4280 "📝 Docs: Document that hooks support the 'done' parameter"
In the fetch-mock library I have always bound the `reset`  method to the module in order that it can be used unwrapped in afterEach blocks: `afterEach(fetchMock.restore)`

I'm at the point where I need to [allow config to be passed in](https://github.com/wheresrhys/fetch-mock/pull/553), which now means the function length is `1`.

I've been unable to find the exact place in mocha's hooks codebase

[2020-05-11 20:33] wheresrhys commented on #4280
I managed to find a workaround, and fortunately my tests, by complete chance, captured what would have been a significant production bug. But I can't honestly think of anything you could have done to make me aware at the right time that function length matters, although I do note that [it isn't documented](https://mochajs.org/#asynchronous-hooks), so adding a note there would be good.

[2020-05-11 21:08] regseb opened #4281 "Parameter `--require` cannot load an ES module."
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-05-12 09:32] paulovich10 opened #4283 ""before all" hook issue undefined value"
I'm new at mocha and unit testing, and I'm dealing with some issues as I get this error. I have tried to include a setTimeout, and checked all the issues possible but none of what I'm trying seems to work.

  1) "before all" hook

  259 passing (32s)
  10 pending
  1 failing

     Uncaught TypeError: Cannot read property '_id' of undefined
      at chai_1.default.request.get.set.end (dist/test/dev

[2020-05-12 12:51] 95Rawan opened #4284 "How can I test console.log using mocha chai?"
I have this code and I want to make a test for the `console.log` piece, can you help?
[code]

I want to test it in two ways, the result showing in the terminal when I run the file and the testing it without me running the file and having a result in the terminal, is it possible?

[2020-05-12 13:30] Floriferous opened #4285 "Using mocha programmatically, update supported options"
The documentation for `Using Mocha programmatically` lists the options that are supported when using mocha. However it seems like it is not up to date with the actual mocha runner. I'm not sure if this is because it is outdated or because this is intended?

* https://github.com/mochajs/mocha/blob/master/lib/mocha.js
* https://github.com/mochajs/mocha/wiki/Using-Mocha-programmatically

[2020-05-12 18:03] #3840 closed

[2020-05-12 21:37] Munter commented on #4284
Please use the gitter chat for questions on how to test. We'd like to keep GitHub issues focused on project development

[2020-05-12 21:37] #4284 closed

[2020-05-12 21:48] boneskull opened #4286 "Mocha.prototype.run API is weird and inconsistent"
Currently, `Mocha.prototype.run` looks like this:

[code]

Note:

1. This function can throw if the `Mocha` instance is not in the correct state.
1. The callback parameter, `fn`, is _optional_.
1. `Runner#run` returns a `Runner` instance.
1. `Runner#run` will call its callback, `done`, asynchronously.
1. `fn` will then be called (asynchronously) with a single numeric argument, `failures`.

This is

[2020-05-12 21:50] boneskull commented on #4286
on second thought, we could also instantiate the `runner` in the `Mocha` constructor (instead of within `Mocha.prototype.run` itself), and consumers could just reference it, instead of needing to return `{{Runner, Promise<whatever>}}`.

[2020-05-12 22:05] Munter commented on #4283
From your error it seems like you have a problem in your own code to set up your tests. Please use the gitter chat for support questions as we try to keep GitHub issues focused on project related matters

[2020-05-12 22:05] #4283 closed

[2020-05-12 22:17] Munter commented on #4280
The hooks follow the same pattern as test callbacks. If the arity is above 0 the first argument is assumed to be an async callback function usually named 'done'. If this function is supplied, tests won't finish before it has been called.

It's a relic from before promises and native async behavior, and it's not something we can easily get rid of.

A pull request for clearer documentation would be

[2020-05-12 23:48] jtacoma commented on #4278
I didn't really know what you mean by "bundling mocha" in this context, but there wasn't a lot of information in my post from which you could conclude I was bundling mocha. I looked for something I had mentioned that I could remove and, when I removed `import 'mocha';` from test.spec.ts everything worked. In fact, it worked better than before. I had no idea that mocha did not need to be imported.

[2020-05-12 23:48] #4278 closed

[2020-05-13 07:39] 95Rawan commented on #4284
Can you tell me how to get there, please?

[2020-05-13 08:02] Munter commented on #4284
https://gitter.im/mochajs/mocha

[2020-05-13 08:05] 95Rawan commented on #4284
Thanks a lot, I appreciate it

[2020-05-14 08:45] dariadomagala commented on #4270
Hello team,

We use Mocha as a dependency in our project, and the WhiteSource scan also marked yargs-parses 13.1.2 as a high-security vulnerability.

Recommended fixes:

[2020-05-15 08:26] nicojs commented on #3882
@boneskull what are you're thoughts on this? Would you allow me to write a PR for this?

[2020-05-16 00:13] icetbr opened #4292 "ObjectID error message should use string, not buffer"
[code]

actual
[code]

expected (8/7 are red/green)
[code]

[2020-05-16 10:22] Munter commented on #4292
Please file this request in the chai repository

[2020-05-16 10:22] #4292 closed

[2020-05-16 11:38] icetbr commented on #4292
Chai mantainers(?) say its the reporter responsibility.

https://github.com/chaijs/chai/issues/469

If I try catch the chai expect, I get a pretty string like I wanted.

I could create a custom reporter, but I think t should be default behavior.

[2020-05-18 18:00] #3716 closed

[2020-05-18 18:01] boneskull commented on #3716
I fixed this on accident in #4291

[2020-05-18 18:01] boneskull commented on #4281
This is known, and is a "missing feature"

[2020-05-18 18:09] boneskull commented on #4274
Thanks!

I'll admit I don't have enough experience with TS, `ts-node`, nor loaders to understand what, if anything, is actionable here.

I think we'll want to add some tests for whatever we do, though.  There's precedent for this in our test suites, so we can pull in `ts-node` or whatever is necessary to test ... whatever it is we need to test, exactly.

[2020-05-18 18:19] cspotcode commented on #4274
The only actionable thing is:

* don't use `import()` to load all test files.  It will fail to discover files with non-standard file extensions.  The only action, if any, is to update the code comments to explain why `import()` fails to consider `require.extensions`

Also, I mentioned a hack we were going to use to classify files as either CJS or ESM.  Turns out that hack won't work reliably.  Ins

[2020-05-18 21:27] #3713 closed

[2020-05-19 01:04] resistdesign commented on #1073
Oh man, I thought this was already a thing! 😮

[2020-05-19 21:19] boneskull opened #4294 "🛠️ Repo: Refactor Runner unit tests"
These unit tests (`test/unit/runner.spec.js`) could be written more declaratively if we used [unexpected-eventemitter](https://npm.im/unexpected-eventemitter), as we do elsewhere in the tests.  e.g.:

[code]

becomes

[code]

See https://unexpected.js.org for information on assertions and the "to satisfy" semantics.

[2020-05-19 22:17] boneskull commented on #4294
We also need to get rewiremock working here, but that is another issue.

Currently, if you do something like this in `test/runner.spec.js`:

[code]

You hose the whole test run, because the `mocha` process _and_ the test use the same `Runner`.

[2020-05-20 14:14] MihailPertsev opened #4296 "Mocha with Playwright and parallel test execution"
### Prerequisites

- [x ] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't sup

[2020-05-20 19:08] #4151 closed

[2020-05-21 01:14] snoack opened #4297 "Please don't prevent ES modules from being used on older Node.js versions"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**
We still support Node.js 10.19.0 and would like to use ES modules. But Mocha refuses to use `import()` on versions older than Node.js 12.11. However, if I relax [that check](https://github.com/mochajs/mocha/blob/cb5eb8ed42abfd0d63c5013353843f1208ff6582/lib/utils.js#L820-L822), Mocha just works fine with ES module

[2020-05-21 10:30] craigtaub commented on #3301
Apologies this did not get replied to. This now throws a timeout error.

[2020-05-21 10:30] #3301 closed

[2020-05-21 10:35] craigtaub commented on #3992
Sorry nobody replied sooner. Just tried this on mocha v7 on a mac and got the expected
[code]

I believe this is now resolved in latest.

[2020-05-21 20:02] boneskull commented on #4297
I'm calling this a bug.  Because pre-v12.11.0, Node.js' implementation had some differences, so it's more of a "use at your own risk" thing.  @giltayar are you able to explain and/or address this?

[2020-05-21 20:10] boneskull commented on #4296
1. `describe` cannot be asynchronous.  I don't think this is necessarily the problem, though.
1. Mocha does not execute tests in parallel.  One test must finish before the next begins.  Mocha will [soon have the ability to run individual test files in parallel](mochajs/mocha#4245), however.
1. Run `console.log(this.timeout())` before setting the value to `30000`.  What is the result?  Are you decr

[2020-05-21 21:19] snoack commented on #4297
FWIW, I filed this as a feature request rather than as a bug since it works [as documented](https://mochajs.org/#nodejs-native-esm-support). Still it would be nice to lift this limitation. Removing the version check and updating the documentation to say "use at your won risk on versions of Node.js before X.X" sounds like a great idea.

[2020-05-22 05:27] MihailPertsev commented on #4296
1. Yes, describe is not the case here.
2. As I said it **almost** parallel execution (there is 2 seconds delay, because of 2 seconds default timeout). You need to see it yourself. I want to be crystal clear here, _I like this behaviour_, but I also want my tests to pass.
3. 2000
4. Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensu

[2020-05-22 06:18] giltayar commented on #4297
From what I remember, Node v10 ESM support is the "old support" (before the big changes that made ESM what it is today (e.g. before "type": "module")). So I didn't even try to see if it works.

@boneskull, if you think it's important, I can do a PR to lift that restriction, see that it works, and add a "try at your own risk" note in the docs, as @snoack suggested.

But @snoack, be aware that ESM i

[2020-05-22 06:58] snoack commented on #4297
For reference, [this](https://gitlab.com/eyeo/adblockplus/adblockpluschrome/-/merge_requests/266) is what I am doing. I even found a [workaround](https://gitlab.com/eyeo/adblockplus/adblockpluschrome/-/commit/88de10b78e8b95a5f78ff5c4c4c2ac160edc2a1c#766f9831ff5897c0f2ddc3d968bbb3e87d7021b8_45_23) to bypass your version check without patching Mocha. Anyway, I tested that code on Node.js 10.19.0, 10

[2020-05-22 07:45] giltayar commented on #4297
@snoack How can I say no to somebody that wants to use ESM?  😀

Here you go: https://github.com/mochajs/mocha/pull/4299

Now it's up to the the maintainers to decide if they want unofficial support for ESM on Node v10. If they do, they can accept the PR that relaxes the check and enables Mocha ESM support on Node v10.

[2020-05-22 12:27] #4271 closed

[2020-05-23 07:45] outsideris commented on #4277
Closed because we closed #4276

[2020-05-23 07:45] #4277 closed

[2020-05-26 08:06] MatthiasGwiozda opened #4301 "--ignore-only - Option for the cli"
# The problem
We are running our tests automaticly through CI (Jenkins). Sometimes we forget the .only - Flag and commit it into git.

While there is a  --forbid-only - Option  it just throws an error and doesn't run the tests.

# Solution (example)
A `--ignore-only` - flag would be intuitive because you could use the command on the cli that just ignores all .only's and proceeds with all the tests

[2020-05-27 06:53] dubzzz commented on #3992
Indeed, thanks a lot 👍
It seems that the issue is now fixed with the latest version of mocha

[2020-05-27 07:17] dubzzz commented on #3992
@craigtaub While it works for the two examples above, I still have an issue when the message contained into the error looks like a stacktrace, here is an example of the issue:

[code]

If you run this snippet with Mocha 7.2.0, you should see the error message `An error occured with following trace` twice in the report.

When I ran it, the reported error was the following (with mocha 7.2.0):
_*bold

[2020-05-27 18:02] JacobLey opened #4302 "Support --require of ESM"
(Note I am not talking about literal `--require esm`, loading the [esm](https://www.npmjs.com/package/esm) module appears to work fine for me)

I am running node v14, using `"type":"module"`, so I am writing and using ESM by default.

Writing tests with ESM works just fine, but `--require`ing ESM does not.

e.g. my `mocha.cjs` file looks something like:
[code]

Running mocha fails, because the pro

[2020-05-27 18:05] JacobLey commented on #4302
Bleh I swear I can never find an existing issue until I make my own.

Duplicate of: https://github.com/mochajs/mocha/issues/4281

Will add my proposal there

[2020-05-27 18:05] #4302 closed

[2020-05-27 18:06] JacobLey commented on #4281
Ran into this issue as well.

In a quick dive through the code, this seems like a feasible and quick tweak to support. I am happy to take a swing at a PR, but I wanted to discuss possible reasons not to support this, or alternative solutions.

The error spawns here: https://github.com/mochajs/mocha/blob/master/lib/cli/run-helpers.js#L92 See how the require method is being used directly.

If we swa

[2020-05-27 18:24] boneskull opened #4303 "update sinon usages"
As of v5.0.0 (we are on 9.x, so it's been there awhile), [sinon](https://npm.im/sinon) is a "sandbox", which means `sinon.createSandbox()` is no longer needed.

In our unit tests, we have a lot of this:

[code]

We can change this to:

[code]

...and replace all instances of `sandbox` (may sometimes be called `sbx`?) with `sinon`.

See [Sinon migration guide](https://sinonjs.org/guides/migrating-t

[2020-05-27 18:49] sharath2106 commented on #4303
I'd like to work on this if this is not taken.

[2020-05-28 11:03] outsideris commented on #4301
Committing code with `.only` to CI is a mistake.
IMO forcing a developer to fix the mistake and push it again by CI is a better practice than just run tests in CI regardless `.only`.

[2020-05-28 15:48] MatthiasGwiozda commented on #4301
if commiting `.only` is a mistake it proves that it is a feature that is used only during test-development.

Running a test - suite locally that contains  a `.only` - Test will lead to a situation where only one test will be started. If someone commited a `.only` it will not be hard to find that test because it's the only test that will be started.

Therefore: yes that's correct the mistake should

[2020-05-28 20:41] Trevoke opened #4305 "🚀 Feature: Ability to pass line number in command line to run single test"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**

It is quite convenient to be able to tell an IDE to start a specific test, and the absolute simplest way to pass this information out is to refer to the cursor's position in the file.

**Describe the solution you'd like**

I'd like to see that `mocha ./test/myfile.js:42` runs the test that surrounds line 42.

**

[2020-05-28 21:56] boneskull opened #4306 "refactor: utils.type()"
`utils.type(value)` is a function which returns a human-readable "type" of whatever value you pass it.

About `type()`:

- It works by first comparing against a set of tricky values (`undefined`, `null`, etc); if it does not find these, it then looks at the result of `Object.prototype.toString.call(value)` (e.g., `[Object object]`) and extracting the second token from within the brackets
- It's pr

[2020-05-29 06:27] juergba commented on #4273
We have various branches in our repo. The `master` branch normally does not correspond to the published versions since it contains PR's which haven't been released yet.
For v7.1.2 the release branch is `release/v7.1.x` which exactly mirrors the published version. Btw the lock file is not published.

[2020-05-29 06:27] #4273 closed

[2020-05-29 07:04] juergba commented on #4301
@MatthiasGwiozda I understand your reasoning, but I agree with @outsideris. Remove `.only` and push again seems a good way to me for handling your issue.
I'm against inflating our CLI with each and every possible option.

[2020-05-29 07:56] juergba commented on #4285
@Floriferous thank your for issue.
You are right, this Wiki page is outdated. I updated it by adding a link to our [API documentation](https://mochajs.org/api/mocha).

[2020-05-29 07:56] #4285 closed

[2020-05-29 13:11] TheOptimisticFactory opened #4307 "[BUG] Migrating from mocha.opts to mocharc broke glob pattern support"
### Prerequisites

<details>
  <summary>Click for details</summary>

  - [X] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
  - [X] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to en

[2020-05-29 14:08] adjerbetian commented on #4307
I confirm, I have the same problem.

[2020-05-30 03:58] juergba commented on #4307
@TheOptimisticFactory thank you for your detailed description.
I haven't tested, but I guess you are correct.

It's the `list` function which splits the parsed string by the `,` separator.
As a work around you can use: `spec: [ 'controllers/**/*.test.js', 'test/**/*.test.js' ]`

[2020-05-30 16:11] biern commented on #290
I've implemented a mocha reporter that captures (and hides) stdout and stderr during tests. It then displays the captured output only of the failed tests alongside their error messages. For me it significantly increases readability of a test report.

Internally it just mocks `process.stdout` so it should work with most third party libraries out there.

Maybe you'll find it useful: https://github.c

[2020-05-30 18:01] rgroothuijsen commented on #4307
@juergba From the looks of it, one possible fix would be to do an additional globbing pass over the raw `spec` values (thus performing brace expansion if necessary) before parsing them any further.

[2020-05-31 06:10] juergba commented on #4307
@rgroothuijsen I don't know. I don't really like the idea to have two glob expansion steps in two different places. There could be more comma-delimited glob patterns than just brace expansion?

`spec` is kind of a bastard option form. In our first parsing step by _yargs-parser_, it's an option. In our second parsing step by _yargs,_ it's a positional argument.
We could disallow comma-delimited lis

[2020-05-31 08:54] adjerbetian commented on #4307
@juergba Just as a note, commas are sometimes necessary in forms like this: `{,!(node_modules)/**/}*.js`, and there the workaround doesn't work.

[2020-05-31 11:51] craigtaub commented on #3992
Ah I see, so the message is
[code]
So should print that _then_ the call stack. Odd. Not sure its a big issue but certainly seems odd.

[2020-06-01 15:40] nicojs commented on #3882
Same goes for [handleRequires](https://github.com/mochajs/mocha/blob/master/lib/cli/run-helpers.js#L84)

[2020-06-01 16:25] nicojs commented on #4303
@sharath2106 go right ahead!  👍

[2020-06-01 19:31] boneskull commented on #3882
Propose something... unsure if just calling the API "public" is what we should be doing.  When you do, please show an example use-case.

[2020-06-01 21:19] #2839 closed

[2020-06-01 22:47] boneskull opened #4308 "global setup / teardown hooks"
With the addition of [root hook plugins](#4244) and [parallel mode](#4245), an important use case may have been omitted.

In serial mode, a root _before all_ (`before()`) hook can perform async setup (e.g., starting a test server) and a root _after all_ (`after()`) can perform async teardown (closing the server).  This is not perfect, given Mocha could crash and the server would not get cleaned up

[2020-06-01 22:48] boneskull commented on #4308
FWIW I think it may be confusing to use `mochaHooks` for this, since there isn't a 1:1 mapping between `begin` and any other hook.

[2020-06-01 22:53] #4281 closed

[2020-06-02 05:43] nicojs commented on #3882
Thanks for pitching in, @boneskull . I agree that making internal stuff in `run-helpers.js` public isn't maintainable in the long run. Maybe it's better to create a new abstraction that supports our use case more directly.

I think the goal is to be able to mimic the mocha cli, but override certain things. This is what Stryker is doing. I think this is also what @jan-molak is looking for.

An exam

[2020-06-02 19:17] MihailPertsev commented on #4296
Any update?

[2020-06-03 04:38] snoack commented on #4297
For reference, [this is how I ended up detecting ESM support in Gulp](https://github.com/gulpjs/gulp-cli/commit/15d064867185b27a7de9bf62e3aecf8e7e2e22e0#diff-40cd6517471ede0f4f676483c49e4f76R5-R10). No hard-coded versions, but feature detection.

[2020-06-03 21:54] boneskull opened #4310 "update docs to show that ES modules can be used with root hook plugins"
~~With #4244 landing and #4304 thereafter, we should ensure that root hook plugins can be used with ES modules; e.g. `export const mochaHooks = {..}`

I'll take care of this.  Should probably land for v8, as it would be confusing if it didn't.  ~~

It _does_ work, and there are even tests for it.

What's missing is docs.  I'll get to that.

[2020-06-03 21:56] boneskull commented on #4310
Actually I think it does work.  wow, good job

[2020-06-03 22:09] boneskull commented on #4310
Hmm, I don't like the failure mode when `--require some-esm.js` (instead of `.mjs`).  The error is unrelated and unhelpful

[2020-06-03 23:57] scibert commented on #2025
I was also getting that error, and after several hours of researching and debugging, I found the root cause.

Consider this test:
[code]
When I run the test, I get this error:
[code]
Now consider this slightly different test, where the **done** argument is **removed**:
[code]
When I run this test, it passes.

Somehow the presence of the **done** argument in the async function breaks the test, even

[2020-06-04 04:08] john-dev commented on #3284
I am looking for such a solution as well.
If i understood @Starmann right, he would like to execute tests programmatically to be able to evaluate the results for further processing.
Same goes for me. Those tests are coming via an api (so the webinterface), having access to mocha results as json(streams) would be very handy for a lot of things like notifications etc. (i use mocha to cron-test remot

[2020-06-05 07:25] wnghdcjfe opened #4313 "How to use mjs module in mocha?"
I try to use mocha like this for this reference
https://mochajs.org/#nodejs-native-esm-support
### main.mjs
[code]
### add.mjs
[code]

## command
[code]
But both of them is not working

I also found the npm link
https://www.npmjs.com/package/mjs-mocha
But Can't Mocha just alone do that?
## version
 - mocha : v7.2.0
 - node : v10.15.1

[2020-06-05 13:39] juergba commented on #4307
IMO the best way to solve this, is to remove the comma splitting for options which could contain glob patterns: `--spec` and `--ignore`.
As per _yargs_ configuration comma-delimited lists are not customized for these two option/positional argument anyway.

@TheOptimisticFactory @adjerbetian if you have some time left ...
Could you check wether the following patch in _lib/cli/option.js_ is working,

[2020-06-05 14:39] adjerbetian commented on #4307
@juergba I just tested, it works with me :+1:

[2020-06-05 16:19] TheOptimisticFactory commented on #4307
@juergba I also confirm your diff fixes the issue in all my projects :+1:

[2020-06-05 21:25] #4297 closed

[2020-06-06 04:29] juergba commented on #4313
duplicate of #4297

[2020-06-06 04:29] #4313 closed

[2020-06-06 04:36] juergba commented on #4307
@adjerbetian @TheOptimisticFactory thank you!

[2020-06-06 17:09] alexjeffburke opened #4316 "Regression in output of an error throw by a `-r` module throws (within yargs)"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] 'Smoke tested' the code to be tested by running it outside the real test suite to get a better sense of whether the problem is in the code under test, your usage of Mocha, or Mocha i

[2020-06-07 01:42] wnghdcjfe commented on #4313
Thanks a lot @juergba. Have nice a day

[2020-06-07 15:38] craigtaub opened #4317 "Is GLOBAL in the API documentation correct?"
Are globally scoped variables in the api docs correct?

<img width="236" alt="Screenshot 2020-06-07 at 16 33 15" src="https://user-images.githubusercontent.com/3532787/83973180-9ab44b80-a8dc-11ea-9aab-b646d1c1387a.png">

Im not a JSDOC expert, but I would expect any globally scoped method to be available in a suite or test, yet many are not e.g. https://mochajs.org/api/global.html#runWithSuite.

I

[2020-06-07 19:58] Devesh14 commented on #2655
@dd-david  Thanks for the solution

[2020-06-07 20:01] boneskull commented on #4317
No. there are many issues with the API organization. likely missing `@module` yes. none of these are always global. in fact we should not document ANY globals in the context of programmatic usage, which is the target for these doca

[2020-06-07 20:03] boneskull commented on #4317
essentially this is all messed up because we never made it the API docs a priority,  and aren’t really rigid about it in PRs. there’s probably some way to automate it but I’d rather go full-TS-types-in-docstrings and generate docs that way. these are incompatible with the jsdoc processor.

[2020-06-07 20:04] boneskull commented on #4316
addressed by #4310, but not a duplicate per se.

[2020-06-07 20:05] boneskull commented on #4310
closes #4316

[2020-06-07 20:05] boneskull commented on #4316
sorry got confused. #4311

[2020-06-07 20:06] boneskull commented on #4316
duplicate of #4310

[2020-06-07 20:06] #4316 closed

[2020-06-07 20:06] boneskull commented on #4316
a fix will land in v8.0.0

[2020-06-07 20:06] boneskull commented on #4310
closed via #4311

[2020-06-07 20:06] #4310 closed

[2020-06-08 09:37] alexjeffburke commented on #4316
@boneskull thanks for looking at this - did look around for other issues but didn't quite make the connection this would be solved by the one you linked to.

Btw, this came up when I was trying to port a mocha plugin to the new `exports.mochaHooks = {}` mechanism. It does some validation and throws when things are out of whack which is how I stumbled on this. But this aside, hooks worked really we

[2020-06-08 14:50] craigtaub commented on #4317
In general we are pretty good with fixes/small features etc, but yeah things slip with the larger scale changes.

Yep sounds sensible.

Yeah I know there a separate and wider issues for this.

[2020-06-08 18:00] boneskull commented on #4316
@alexjeffburke Thanks for the kind words.  Yes, this was kind of buried (the fix landed as part of something else), so I don't fault you for not being able to find it.

[2020-06-09 09:44] mprinc commented on #2312
This is working for me: https://www.npmjs.com/package/mocha-clearscreen-reporter

[code]

[2020-06-09 23:10] boneskull opened #4322 "make parallel mode smarter"
I have a few ideas for improvements here now that we're past the MVP:

1. Detect if we're only running a single file, and disable parallel mode automatically.  Running a single file in parallel mode will _always_ (AFAIK) be slower than running in serial.  Add a command-line option to disable this behavior (a general-purpose, contextual `--force` might be helpful)
1. Automatic optimization via dura

[2020-06-09 23:11] boneskull commented on #4322
(Note new `parallel` label)

[2020-06-09 23:12] boneskull commented on #4308
@mochajs/core Any ideas?  @jan-molak?

It would be helpful to have someone with this actual use case.  Might not figure this out until somebody has a problem with how it works and complains about it.  :smile:

[2020-06-09 23:23] boneskull opened #4323 "parallel mode: browser support"
Mocha consumes [`workerpool`](https://npm.im/workerpool) for its, um, worker pool.  `workerpool` is a generic abstraction over Node.js child processes, Node.js' `worker_threads`, and web workers.

Because of this abstraction, in theory, we could retain a significant portion of our implementation for browser usage.

- How would a browser user enable it?
- Would this be wildly different from how Moc

[2020-06-10 16:16] #4259 closed, assigned to nobody

[2020-06-10 18:32] boneskull opened #4325 "add netlify logo to site"
We should put it at the bottom with Matomo and OJSF.

This is a pre-requisite to getting free service from Netlify.  After this is up, there's a form I'll fill out.

cc @Munter

[2020-06-10 19:03] boneskull opened #4326 "remove "unit tests in serial mode" job"
This is a continuation of #4319. There's a job in `.travis.yml` that should be removed, since unit tests get run in serial mode by default again.

[2020-06-10 20:43] jeremychone opened #4327 "mocha 8.0.0 --watch throws "Mocha instance is already disposed" on code change"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-06-10 21:33] #4327 closed, assigned to boneskull, nicojs

[2020-06-10 23:04] boneskull commented on #4202
I misunderstood @craigtaub; I thought he was saying that the code doesn't throw a "multiple calls to done()" exception when it should.

That should throw.  This is the circumstance where `done` is provided, but the code neither returns a `Promise` nor calls `done` asynchronously.  This code, OTOH, will error as expected:

[code]

I haven't had time to bisect, but it may be a regression introduced

[2020-06-10 23:05] boneskull commented on #4202
cc @juergba; the code here was most recently changed when fixing an issue with `this.skip()`

[2020-06-10 23:07] jedwards1211 opened #4330 "🚀 Feature: Support setting options via environment vars"
As discussed in #4232, it can be difficult to pass mocha command-line options through `npm run` scripts.  As @boneskull said:

I didn't see any open issues for this so figured I would open one.

[2020-06-10 23:09] boneskull commented on #4330
sorry, butt-closed this one

yargs has support for this via `.env()` which we _should_ be able to leverage.

[2020-06-10 23:21] jedwards1211 commented on #4330
From reading [the `yargs` docs](https://yargs.js.org/docs/#api-envprefix) seems like `.env('MOCHA')` should be sufficient, I'll open a PR soon

[2020-06-10 23:22] boneskull commented on #4330
in my experience, it's never that easy, but I wish you luck regardless 😅

[2020-06-10 23:26] jedwards1211 commented on #4330
*You know*, this just makes me wish yargs itself would accept an environment variable that's equivalent to `.env('MOCHA')` so I could do this kind of thing with any command build with yargs

[2020-06-11 02:57] gerardolgvr commented on #4326
Hello @boneskull !  The job that you are talking is this?

- script: MOCHA_PARALLEL=0 npm start test.node.unit
   name: 'Latest Node.js (unit tests in serial mode)'

if not can you give me a hint? I would like to help :)

[2020-06-11 05:33] juergba commented on #4202
Multiple including mocha 5.2.0/7.1.0, node 8.10.0/10.16.0 (64-bit) on Windows cmd and Linux bash.

#4030 was released in v7.0.0, so probably this is an older issue. I will have a look.

[2020-06-11 08:54] Munter commented on #4325
Did they mention which one, or is it just at our discretion? https://www.netlify.com/press/#logos

We already have this one in the footer, which would probably look a but out of place next to the other ones:

![image](https://user-images.githubusercontent.com/331790/84365515-dd726e00-abd1-11ea-9fe2-00bdf5832644.png)

[2020-06-11 15:27] boneskull commented on #4325
duh, forgot about that one.

[2020-06-11 15:27] #4325 closed

[2020-06-11 20:52] jwerre commented on #4100
Why wouldn't he `--spec` flag overwrite `spec` in the configuration file. This seems like basic functionality.

[2020-06-11 23:17] boneskull commented on #4100
Arrays can either be replaced outright or merged.  More often than not, merging makes sense; e.g., you should be able to `require: ['foo.js', 'bar.js']` in your config file, but then execute `mocha --require baz.js` and get all three.

Changing this on a per-option basis would introduce inconsistency and complexity we don't want to maintain.

[2020-06-12 03:10] martinoppitz opened #4331 "High vulnerability | serialize-javascript@3.0.0"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-06-12 03:14] martinoppitz opened #4332 "Medium vulnerability | yargs-unparser -> lodash@4.17.15"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-06-12 08:51] juergba commented on #4202
[code]
Above test does not run correctly neither in Mocha v5.2.0, nor v7.2.0, nor in v8.0.1.
It's an async test with explicit call to `done`, but the function body is running synchronously.

Similar test cases with async body functions are handled by Mocha's `uncaughtException` listener and work correctly.

[2020-06-12 09:19] juergba commented on #4202
@feckertson in case you have some time left ...

[lib/runnable.js](https://github.com/mochajs/mocha/blob/master/lib/runnable.js#L276)

Please could you apply following patch and test your code with:
[code]

[2020-06-12 13:15] andresvelezperez commented on #4332
lodash@4.17.15
Prototype Pollution
Affecting lodash package, ALL versions

The function zipObjectDeep can be tricked into adding or modifying properties of the Object prototype. These properties will be present on all objects.

Report:
[https://snyk.io/vuln/SNYK-JS-LODASH-567746](https://snyk.io/vuln/SNYK-JS-LODASH-567746)
GitHub PR
[https://github.com/lodash/lodash/pull/4759](https://github.com/l

[2020-06-12 14:21] martinoppitz commented on #4332
@andresvelezperez but nobody fix that . And nobody merge the pr

[2020-06-12 19:57] #4331 closed

[2020-06-12 20:26] martinoppitz commented on #4332
It is possible to remove yargs-unparser.

I dont Knie, how publish a new yargs-unparser package?

[2020-06-13 08:43] outsideris commented on #4182
Are message and type attributes mandatory?

[2020-06-13 14:06] meszaros-lajos-gyorgy commented on #4313
For anyone googleing why `--watch` is not working with mjs files, the docs state, that this is a known limitation: https://github.com/mochajs/mocha/blob/master/docs/index.md#current-limitations

One possible workaround is to use `nodemon` and it's `--exec` flag:

[code]

[2020-06-13 14:19] rkpareek commented on #4182
@outsideris XML extractor (cloud pipeline) looks for these attributes for graphical stistical representation specially for xml(Junit/xunit) outputs

[2020-06-13 21:49] MihailPertsev commented on #4296
What are you talking about? I made a steps to reproduce. This will work 10/10 times.

[2020-06-14 18:15] craigtaub commented on #4266
Yes I see what you mean.
The runner fires `EVENT_TEST_BEGIN` followed by the beforeEach hooks and the test. After that `EVENT_TEST_END` fires followed by the afterEach hooks.
From this it does seem that "test function execution" includes beforeEach but not afterEach, which seems confusing.
It appears only the "list" reporter listens for `EVENT_TEST_BEGIN` event so it is possible this could be a bu

[2020-06-14 19:43] getsnoopy opened #4335 "Properly format units"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-06-14 21:02] getsnoopy commented on #4335
Turns out this is a bug upstream in the `ms` npm package, so will just keep this open until it is fixed there so that the dependency can be pointed to the new version here.

[2020-06-15 07:42] juergba commented on #4266
This behaviour is not a bug, it was designed like this back in ancient times. We have integration tests for checking the event order, and there already are similar issues.

This is not a trivial topic, there should be good reasons for a change. It affects at least:
- the failing hook pattern (test is skipped upon failing `beforeEach`)
- conditional `this.skip()` in `beforeEach`
- when a test passe

[2020-06-15 10:18] ilgonmic commented on #4216
@boneskull Thank you for reply.
I don't need any result as "passing", I think that in TS I incorrectly expressed the thought.
Let's imagine we have states:
- Tests passed and run successful - 0 failed tests and 0 zero code
- Some tests failed but run **successful** - some failed tests and 0 zero code
- Run **failed** - some infrastructure problems (for example don't find some critical module)

I w

[2020-06-15 16:56] rickcarrier commented on #4308
I see a need for a begin() and end() hooks that run once for all describes in parallel mode.  I'm currently doing some setup multiple times in the beforeAll() because there isn't a better option that allows me to set up once

[2020-06-15 17:31] nicojs commented on #3882
This is what needed to change for Stryker to support mocha 8's rootHooks:

https://github.com/stryker-mutator/stryker/pull/2259/files

![image](https://user-images.githubusercontent.com/1828233/84687884-b18f1980-af3e-11ea-9023-3c679527b8ce.

@boneskull Would it be OK if I took a shot at my proposal above?

[2020-06-15 18:03] boneskull commented on #3882
something like this, but try to avoid adding node-specific stuff to the default exports. this doesn’t seem applicable to the browser

[2020-06-15 18:51] boneskull commented on #4332
1. We can't trivially remove `yargs-unparser`.
1. `zipObjectDeep`, where the Lodash vulnerability lies, is not used in `yargs-unparser`
1. Therefore `yargs-unparser` is not vulnerable and this is a false positive.

This will get addressed if/when Lodash merges the PR, `yargs-unparser` updates, and Mocha updates to the latest `yargs-unparser`.

I would strongly suggest creating an exception in your

[2020-06-15 19:26] boneskull commented on #4308
yes, I think this is needed, but unsure what the API should look like. open to ideas.

won’t have time to implement anything for a couple weeks at least

[2020-06-15 22:19] craigtaub commented on #4266
Thanks.

@sskorol unfortunately this is an outstanding nontrivial bug which has not been resolved yet. Perhaps there is an alternative approach you can take?

[2020-06-16 06:37] sskorol commented on #4266
@craigtaub @juergba the main problem I see here is that such a design flaw on the core level forces API users creating workarounds for all potential child reporters. This issue won't be annoying unless you need to collect some internal metadata from within the hook's body and physically save or send it somewhere in real-time. In this case, the wrong execution order might affect the child reporter'

[2020-06-16 08:15] martinoppitz commented on #4332
@boneskull Yes, I am agree, with you description.

But I observe that many vulnaribilities stay unfixed out there. We must reduce unmaintanaced dependencies.

[2020-06-16 12:59] craigtaub commented on #736
Closing as believe it is now fixed (https://github.com/mochajs/mocha/pull/4234)

[2020-06-16 12:59] #736 closed

[2020-06-16 14:14] #4332 closed

[2020-06-16 15:10] craigtaub commented on #1799
Sounds like there are 2 bugs right now.
1. `{delay: false}` enables the delay
2. the bug from this issue

Perhaps something like below to fix both issues?

[code]

@boneskull What level of testing would we _need_ with this do u think? AFAIK html reporter tests are not ready, could introduce a unit-level somewhere.

[2020-06-17 03:17] martinoppitz commented on #4332
@Munter
- closing the old PR is okay.
- but. why you closed the issue?

Sorry?

The new PR fixed the issue in the common way. I am happy that I could found anyone to publish a new version of `yargs-unparser`.

See. https://github.com/mochajs/mocha/pull/4336

[2020-06-18 11:34] rsahni commented on #2655
With the latest Mocha and Babel this problem is still there. I tried all the tricks it didn't help so reverted back to mocha version 7 works fine with it.
Anybody else faced the same issue?

[2020-06-18 12:51] ciprianpratia commented on #3068
here is the problem:
`/**
 * Setup mocha with the given setting options.
 */

mocha.setup = function (opts) {
  if (typeof opts === 'string') {
    opts = { ui: opts };
  }
  for (var opt in opts) {
    if (opts.hasOwnProperty(opt)) {
      this[opt](opts[opt]); // <=========
// TODO: nice to have this[opts] && this[opt](opts[opt]); or throw an error;
    }
  }
  return this;
};`

in the setup you

[2020-06-20 18:03] MihailPertsev commented on #4296
Any update?

[2020-06-21 19:55] martinoppitz opened #4340 "Medium vulnerability | yargs-unparser -> lodash@4.17.15 (reopened)"
See #4332.

PR https://github.com/mochajs/mocha/pull/4338

[2020-06-22 06:00] yuriy-g-eleks commented on #2026
Any plans on adding this feature?

[2020-06-24 14:14] mantoni opened #4344 "Mocha 8: Failing async test exits mocha watch mode on reload"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-06-24 22:18] boneskull opened #4345 "CONTRIBUTORS and PROSPECTIVE CONTRIBUTORS: join the Mocha session at OpenJS Collaborator's Summit, June 25 2020"
**WE WILL HAVE A MEETING TOMORROW**: https://openjscs2020.sched.com/event/clHP/mocha-contributors-meeting

This is intended for Mocha's maintainers, current contributors, past contributors, or if you are interested in contributing.

The agenda is, err... well, that's what this issue is for.  @craigtaub and I will be in attendance, at minimum; maybe other maintainers as well.

Some things I'd be in

[2020-06-24 23:28] craigtaub commented on #4345
I can present this (https://youtu.be/XefD5zuLAkU) if it's useful. As long as I can use speaker notes. I have no idea what the platform is like but I will try and have a proper look tomo.

[2020-06-25 16:25] eps1lon opened #4347 "Thrown error in afterEach as a root hook plugin is ignored in watchmode"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- ~[ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't supp

[2020-06-25 21:39] cspotcode opened #4348 "Hook only renamed when it fails, not when it begins and ends successfully"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-06-26 00:11] Devjeel commented on #4326
@boneskull Please check fix to this issue here : #4342

[2020-06-26 10:02] craigtaub commented on #4345
Closing now. Meeting notes and actions here https://docs.google.com/document/d/1mtgbG6Sj7W1jB7HI6y9Kdv95ONslvdJGwhlGhzh5ZbA/edit

[2020-06-26 10:02] #4345 closed

[2020-06-26 11:30] alexanmtz commented on #4259
@craigtaub thanks!

I found another solution using events to extend the HTML reporter but this seems a better solution 👍

[2020-06-26 11:42] craigtaub commented on #4308
Been looking into how Jest does things. Setups and teardowns provided by Jest:

- [Once-global](https://jestjs.io/docs/en/configuration.html#globalsetup-string) - creates state only available for this context, not tests. You can add basic properties to the `process.env` global here, but not resources (limitation of nodejs, type-casts any props to a string).
- [Single-use per-file](https://jestjs.i

[2020-06-26 11:47] craigtaub opened #4349 "Multiple reporter output"
Discussed at OpenJS collaborators summit.

We want "Flexible output streams" -- where a user can choose one or more streams for any given reporter.

The first step is to propose a reasonable user-facing API

[2020-06-26 11:50] craigtaub opened #4350 "Integrate code coverage?"
We have had reports of issues using 3rd party code coverage tools and the question around why mocha doesn't come with one natively. We could potentially use the Node v8 coverage tool if its works well enough.

[2020-06-26 11:55] craigtaub commented on #4350
@boneskull will be speaking to the Loopback + TypeScript teams at IBM, who have both reported issues, to understand the problem.

[2020-06-26 11:57] craigtaub opened #4351 "Better TypeScript integration"
We have had reports that the 2 mechanisms for using TypeScript

1. via `tsnode`
2. compile code then run tests

Are both not ideal and rather slow. Can we look at improving this?

[2020-06-26 12:50] Munter commented on #4350
I have had success using `nyc` in all the places where I needed code coverage. I think it would add a great deal of overhead if we added code coverage into mocha itself

[2020-06-26 12:54] Munter commented on #4351
The slowness come from the typescript compiler. So I don't see how we could add anything on top of that to improve the compilers speed. I think the best we could do is having a mode where we skip unchanged files. That comes with its own set of problems with dependency graph tracing, which we already know we're not super good at from the current implementation of watch mode.

I think there are bigg

[2020-06-26 19:12] boneskull commented on #4351
Yes, maybe the real problem is skipping unchanged files.

[2020-06-26 19:12] boneskull commented on #4350
to be clear: LoopBack team is at IBM and the TypeScript team is the TypeScript team. 😄

[2020-06-26 19:36] boneskull commented on #4350
The LB team doesn't want this _per se_; it's a means to an end.  Quoting @bajtos:

This doesn't necessarily mean we need code coverage to implement "minimal re-runs"; I'll create a new issue for that.

_However_, there's still some unknown ask from the TypeScript team on this; still trying to get more information.

[2020-06-26 19:39] boneskull opened #4352 "re-run only affected modules in watch mode"
This would really help teams that have very large test suites.

I am not sure exactly how other test frameworks accomplish this, but I can think of a few strategies.

@craigtaub if you're looking for something to do, researching various strategies and proposing a way forward would be helpful.

When we _do_ implement, we can assume that the computation of the "affected module hierarchy" will save t

[2020-06-26 19:40] boneskull commented on #4352
@craigtaub if you want to look at this, please assign to yourself

[2020-06-26 19:44] boneskull commented on #4351
The specific ask from @bajtos was:

@bajtos or @raymondfeng, can you explain again how LB is doing this currently?  Have you experimented with `mocha --enable-source-maps` or `NODE_V8_COVERAGE=1`?

[2020-06-26 19:44] boneskull commented on #4351
(as I understand you compile up-front then run tests on the compiled output, and are not using `ts-node` because I assume it's slower?)

[2020-06-26 19:46] boneskull commented on #4348
I haven't actually confirmed this, but it's certainly plausible.  Would hopefully be a pretty straightforward fix

[2020-06-26 19:48] boneskull commented on #4344
Yes, we've been monkeying with that code path, trying to reduce the chance we leak `uncaughtException` listeners.

[2020-06-26 19:50] boneskull commented on #4344
cc @juergba who may have interest in this one.  @mantoni if it's blocking you, adding a test to reproduce this in a PR would be helpful to get us moving.  `test/integration/options/watch.spec.js` seems reasonable, and add a fixture in `test/integration/fixtures/options/watch/`

[2020-06-26 19:52] boneskull commented on #4335
I don't expect `ms` to actually change this, because it would probably break a ton of consumers.  But if they do, feel free to mention it and we can reopen this.

[2020-06-26 19:52] #4335 closed

[2020-06-26 19:53] boneskull commented on #4347
This might be the same root problem as #4344.

[2020-06-26 19:56] boneskull commented on #4308
Thanks.  I think a `mochaGlobalSetup` and `mochaGlobalTeardown` would be appropriate then.  I'll see if we can share the context object between them.

[2020-06-26 20:16] raymondfeng commented on #4351
@boneskull Yes, we run `tsc` to transpile and generate source map files up-front.

Here is what we have to enable source map support:

[code]

Does mocha already support `--enable-source-maps`?

[2020-06-26 20:30] boneskull commented on #4351
it should if your node version does. mocha passes known node flags thru to node. (“known” is reported by node itself; we don’t have to keep a list)

[2020-06-26 20:30] boneskull commented on #4351
is ts-node too slow then? trying to get at the real problem

[2020-06-26 20:35] raymondfeng commented on #4351
The `--enable-source-maps` option is NOT available in Node 10, which is the minimum version we require.

[2020-06-26 20:36] raymondfeng commented on #4351
We're avoiding ts-node for a few reasons:
- Less magic for JS developers
- Allow our modules to be used by JS
- Performance concerns
- Subtle bugs we encountered with ts-node in the past

[2020-06-26 22:16] mcandre opened #4353 "[WSL] Test report corruption"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-06-26 22:27] boneskull commented on #4308
I _think_--but am not sure--that we should _not_ re-run these when watching files.

[2020-06-27 09:22] Munter commented on #4350
A watch mode with incremental tests should start with just the dependency graph knowledge based on the files. Potentially that could be further improved with extending that knowledge into es module import/export pairs. The problem when you go beyond the file level is always figuring out if there are side effects that need to be taken into account.

Jest has an incremental mode. Maybe we can learn

[2020-06-27 10:11] Mogztter commented on #956
Now that https://github.com/mochajs/mocha/issues/3006 is resolved it would be nice to have the same named exports in the browser.

Currently, the following is working:

[code]

But the following is not:

[code]
(as requested by https://github.com/mochajs/mocha/issues/956#issuecomment-167453800)

[2020-06-27 15:01] juergba commented on #4303
closed by #4312

[2020-06-27 15:01] #4303 closed

[2020-06-27 23:33] craigtaub commented on #4352
Sounds interesting. Will look into this when I get some time.

[2020-06-28 17:26] exrishu commented on #3228
`/usr/local/lib/node_modules/mocha/lib/esm-utils.js:6`
    return import(url.pathToFileURL(file));
           ^^^^^^

SyntaxError: Unexpected token import
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:616:28)
    at Object.Module._extensions..js (module.js:663:10)
    at Module.load (module.js:565:32)
    at tryModuleLoad (module.

[2020-06-29 07:31] aemrebasus commented on #2688
[code]

This is working fine for me.

### Bug:
when I put a space after --grep, it returns Not enough argument ERROR.

### **NOT WORKING**
./test/**/*.test.ts --grep  --

### **WORKING**
./test/**/*.test.ts --grep--

[2020-06-29 20:24] Munter commented on #2688
@aemrebasus If you want to report a new bug, please open a new issue. However, don't do it for this one, It's not a bug

See the [POSIX Utility Syntax Guidelines](https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html#tag_12_02):

[2020-06-30 15:11] Munter commented on #956
This might become easier when we merge our branch with roll-up and get transpilers set up. It seems feasible to have an esm bundle and a legacy bundle that consumes the esm code paths and adds the global leaks. We'd have to take a lot of care to only make changes in newly added code paths and bundles so we wouldn't break or code both in browsers and node

[2020-06-30 20:48] boneskull commented on #4353
This sounds plausible.  You can see the same issue when using "Git Bash" under Windows.  The fix would live in `lib/reporters/base.js`, whatever it is--but we probably want to detect terminal capabilities (encoding?) instead of whatever we're doing.

[2020-06-30 20:50] boneskull commented on #4353
IMO we should consume [log-symbols](https://npm.im/log-symbols) here; we already use it (elsewhere).

[2020-06-30 21:53] boneskull opened #4356 "reduce netlify build times for PRs"
The only branch that needs the "full production build" (the `docs.postbuild` script in `package-scripts.js`) is the `mochajs.org` branch, which is what mochajs.org is built from.  This script takes up _most_ of the build time, and we want to reduce the build minutes on netlify, because we're using too many.

I _think_ it's relatively safe to disable.  It's been a source of flake, and the problems

[2020-07-01 07:19] Munter commented on #4356
Some of the production build creates significant performance improvements for our visitors, so I wouldn't want to disable them for the master branch. We could probably skip them for branches that don't work on the build system

[2020-07-01 21:46] #4340 closed

[2020-07-02 10:22] craigtaub commented on #1799
This should now be fixed in the latest PR.

[2020-07-02 10:22] #1799 closed

[2020-07-02 11:19] #4317 closed

[2020-07-02 15:37] vania-pooh commented on #4296
@MihailPertsev JFYI we added remote parallel Playwright test execution support on the remote side in recent release of [Moon](https://aerokube.com/moon/). It was initially running Selenium tests in parallel in Kubernetes cluster, but is now able to do the same with Playwright. Documentation about it is here: https://aerokube.com/moon/latest/#_using_playwright It is a free solution up to 4 parallel

[2020-07-02 18:21] chasedenecke commented on #2107
This appears to suppress normal Mocha output during my testing to the point where tests that failed were not being reported as such.

[2020-07-04 12:25] outsideris commented on #4356
I've tried to optimize build time at #4264 , but I couldn't reduce time effectively.

I think we can run Netlify builds when the only PR has changes under `docs`.

[2020-07-04 14:27] jgehrcke opened #4364 "Feature: add option to print stack trace right away when a test fails"
This is a screenshot shown on https://mochajs.org/#reporters:
![](https://mochajs.org/static/reporter-spec-fail.resize920,9999-withoutEnlargement.b040f524a0.png)

The screenshot shows that the spec reporter shows the stack trace corresponding to each failed test at the _end_ of the test suite (the "epilogue", as this part of the report I think is called in mocha).

I'd like to see such stack trace

[2020-07-06 08:33] jesonxie commented on #3484
I use the lower version mocha to solve it.  `npm i mocha@^7.0.0 -g`
and run like this:  `mocha xxx.js`

[2020-07-06 14:03] bramevo commented on #3228
Apparently the latest mocha version is broken. I installed 7.1.1 which solved the error above.

[2020-07-06 19:18] fainashalts commented on #4009
Hello! I wanted to check in on this issue and see if there is any interest in fixing it. Unfortunately Truffle is unusable on Node 12 because of the `uncaughtException` listener. We are working on possible solutions on our end but it would be nice if Mocha provided Node ^12.3.0 REPL Support out of the box. Thanks, let me know if I can help or clarify anything here!

[2020-07-06 23:35] boneskull opened #4367 "drop AMD/RequireJS support?"
Are you writing new code using RequireJS and Mocha?  Please let us know.

We have explicitly supported RequireJS thus far, but if it is not widely used, there's a maintenance overhead I'd like to avoid.

Of course, old versions of Mocha will still support RequireJS (and new versions _might_) but we would no longer explicitly test the integration.

[2020-07-07 08:52] tstibbs commented on #2448
I struggled with some of the same issues expressed on this thread, so here's my solution just in case it helps someone else.

My requirements were that I could run the tests using karma but I also had a webpage that allowed me to run the mocha tests in a browser.

I did manage to get something working using an html page based on the html that @ericclemmons posted. However, I was pretty unhappy wit

[2020-07-07 11:47] jgehrcke commented on #4308
:+1: This has little mental overhead and aligns with existing concepts. I was looking for something like this just today.

When we look at https://mochajs.org/#run-cycle-overview that visualization I think immediately makes the point that we need a hook at a hierarchy level closer to the root of things (I looked at this picture today and wondered: why would there be no "global hook"?, then found t

[2020-07-07 18:58] boneskull commented on #4308
Yes, if we add something like this we will reduce the complexity there (at least in terms of documentation).  If you want to run a hook ("fixture") _once_, use `mochaGlobalSetup`; if you want to run it before all tests in a suite _in a given file_, use a `before` hook; if you want to run it before _each_ test, use a `beforeEach` hook.  There may not be any practical difference between `mochaGlobal

[2020-07-08 16:45] SalmonMode opened #4368 "[Proposal] Safer, cleaner, and simpler teardowns through generator fixtures"
Tl;dr: Added ability to use yield in before and beforeEach to separate setup and teardown logic. Teardowns will then only get executed if the setup doesn't have any issues.

## Example scenario

An e2e test needs to instantiate a client to interact with the admin API, use that client to create a user, launch a web browser session, use that session to go to a login page, and then login using the cr

[2020-07-09 17:33] boneskull commented on #4367
I think we may need to display a warning when Mocha detects if it's being used with RequireJS, because we have no insight into this whatsoever

[2020-07-09 21:51] dclark27 commented on #2655
I was able to get this working by adding a .mocharc.yaml file at the source of my project with the following:

[code]

source: https://github.com/mochajs/mocha-examples/tree/master/packages/babel

[2020-07-10 08:33] curbengh opened #4372 "nyc reports no coverage in parallel mode in powershell/cmd"
Cross-posting https://github.com/istanbuljs/nyc/issues/1328 here.

### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration withou

[2020-07-13 19:45] boneskull commented on #4356
@outsideris can #4264 be closed?

this should have been closed via #4358

[2020-07-13 19:45] #4356 closed

[2020-07-14 00:29] Swivelgames opened #4374 "🚀 Feature: Support ESM (ECMAScript Modules) in watch mode"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-07-14 08:55] juergba commented on #4374
Please see our docs: [current limitations](https://mochajs.org/#current-limitations).

We do not (yet?) support ESModules in `watch` mode. Node's ESM implementation is using its separate cache (not `require.cache`), which currently can't be cleared before re-running the tests in `watch` mode.

[2020-07-14 17:15] jrrbru opened #4375 "NPM package specifies serialize-javascript@3.0.0, but same version in repo specifies 3.1.0"
https://nvd.nist.gov/vuln/detail/CVE-2020-7660 outlines a vulnerability with serialize-javascript prior to 3.1.0. Thankfully, mocha 8.0.1 specifies version 3.1.0. Unfortunately, the package published on NPM still says 3.0.0. Can this be fixed?

[2020-07-14 18:24] eps1lon commented on #4347
One more related issue: console logs are ignored in root hooks in watchmode.

[2020-07-14 19:20] boneskull commented on #4347
that sounds like a bug

[2020-07-15 13:13] DanTup opened #4376 "afterEach is not called if test is skipped"
I use `afterEach` to undo some stuff done in `beforeEach` (a workaround for not being able to add cleanup functions dynamically - see https://github.com/mochajs/mocha/issues/3296). If my test is skipped dynamically with `this.skip()` the `afterEach` code is skipped, which means the actions in `beforeEach` are not undone correctly (leading to future test failures).

[code]

Output:

[code]

I'm not

[2020-07-16 01:39] owenfarrell commented on #911
I just stumbled on this thread looking for something similar. So to anyone else who stumbles on this post...

I've adapted the approach that @marqu3z outlined in to its own NPM package: [`mocha-suite-hooks`](https://www.npmjs.com/package/mocha-suite-hooks).

So if you find yourself in a situation where `before` isn't enough, and `beforeEach` is too much, give `beforeSuite` a try.

The package is s

[2020-07-16 05:52] juergba commented on #4376
I can't reproduce your test result. Running your test with Mocha v8.0.1:
[code]

[2020-07-16 06:30] dschiller opened #4377 "SyntaxError: Unexpected token import"
Repro Steps on Windows:

- Install mocha: `npm i --save-dev mocha`
- Update `package.json`:
[code]
- Execute mocha: `npm test`
Result:
[code]

Workaround:

Change `node_modules\mocha\lib\esm-utils.js` from

[code]

to

[code]

Someone has any idea why this Error appears ?

[2020-07-16 07:30] juergba commented on #4377
Probably it has something to do with Node's ESModules support. Difficult to say with above information.
Check the `type` property in your _package.json_.

[2020-07-16 08:00] juergba commented on #4326
fixed by #4342

[2020-07-16 08:00] #4326 closed

[2020-07-16 08:44] DanTup commented on #4376
Ugh sorry, I wasn't on v8 😞

It's working fine there, thanks!

[2020-07-16 08:44] #4376 closed

[2020-07-17 07:01] #4377 closed

[2020-07-20 06:48] wnghdcjfe commented on #4375
[code]
package.json said 3.1.0 /
What do you think you see?

[2020-07-20 10:22] kwasimensah opened #4379 "Add debug logging that --inspect turns off timeouts"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**

I spent a couple hours debugging this until I found https://github.com/mochajs/mocha/issues/3519#issuecomment-435134716 and https://mochajs.org/#-timeout-ms-t-ms.

**Describe the solution you'd like**

Something in the the debug logs that makes the behavior clear. Ideally without having to specify DEBUG=mocha*

[2020-07-20 15:49] jgehrcke commented on #4364
CC @boneskull -- what do you think?

[2020-07-21 13:56] Wxh16144 opened #4380 "A set of global variables that need to be available in all test environments."
I use mocha in the `typescript` tool library, and I use the `.test.ts` test file. I want to use `__ENV__` globally. I didn't find the specific function in the document. Can you help me see it?

This is a screenshot of my project
![image](https://user-images.githubusercontent.com/32004925/88063627-ce051e00-cb9c-11ea-9756-82fd84cda26c.png)

Also I read the documentation of jest [globals](https://jes

[2020-07-21 20:26] boneskull commented on #4380
`globals` is a list of _global variables_ (defined on the `global` object) which are _allowed_ to be added during a test run.  It does not have anything to do with environment variables.  The Mocha config file does not allow environment variables to be set, either.  If you want to set environment variables, do it in your shell or `package.json`, e.g., `NODE_ENV=development mocha` or use [cross-env

[2020-07-21 20:26] #4380 closed

[2020-07-21 20:30] boneskull commented on #4364
Thanks for the suggestion.  You can [create a custom reporter](https://mochajs.org/api/tutorial-custom-reporter.html) which will exhibit this behavior.

(I noticed the embedded code in that page is broken; the file it's referencing is [this one](https://github.com/mochajs/mocha/blob/ca0daa36c241d929f511a292f5471bd213aedb9f/test/integration/fixtures/simple-reporter.js))

[2020-07-21 20:30] #4364 closed

[2020-07-21 20:34] jgehrcke commented on #4364
Thanks @boneskull -- I'll look into that. Do you know of custom reporters openly out there in the wild that do this?

When I get to that and if I have success, I'll share the outcome here.

[2020-07-21 20:35] boneskull commented on #4364
I don't know any offhand but you're bound to find some examples on npm. you can also use our own reporters as a starting point (the `spec.js` is the default)

[2020-07-22 16:38] stevenvachon commented on #4039
Same with:
[code]

There is no `after` for "after each suite".

[2020-07-23 05:23] beeryt commented on #4375
Release 8.0.1 [package.json](https://github.com/mochajs/mocha/blob/v8.0.1/package.json) in 9b203fa uses `serialize-json 3.0.0`
Use of `serialize-json 3.1.0`  was introduced to master in f073689.

[2020-07-25 09:48] MoonSupport commented on #4353
I tried to reproduce this issue. And I found some reason.

My operating system
[code]

In conclusion, when running node, if it is executed with double quotes like `"node"`, the report will collapse

This is the situation
![KakaoTalk_Photo_2020-07-25-18-46-26](https://user-images.githubusercontent.com/41575415/88454024-3ad32d80-cea7-11ea-90ce-eaf59edcca8c.gif)

This had no problem when using `cmd`

[2020-07-25 18:52] indieisaconcept commented on #4344
Hit this issue myself recently. I did a little digging & issue seems to be caused by the cloning the suite on L40. If I remove this hooks fire as expected.

https://github.com/mochajs/mocha/blob/02bdb6bc6c029fb0c01389b27797d00faa76ddde/lib/cli/watch-run.js#L38-L66

[2020-07-25 19:00] indieisaconcept commented on #4344
FYI looks like `suite.clone()` doesn't copy over any of the hooks.

https://github.com/mochajs/mocha/blob/7d3151d08a3082dd022116d00234caf1600a71b5/lib/suite.js#L117-L127

I did a quick local patch to add these & watch worked as expected.

[2020-07-26 00:03] indieisaconcept commented on #4347
Hit this issue myself recently. I did a little digging & issue seems to be caused by the cloning the suite on L40.

https://github.com/mochajs/mocha/blob/02bdb6bc6c029fb0c01389b27797d00faa76ddde/lib/cli/watch-run.js#L38-L66

It looks like `suite.clone()` doesn't copy over any of the hooks.

https://github.com/mochajs/mocha/blob/7d3151d08a3082dd022116d00234caf1600a71b5/lib/suite.js#L117-L127

I did

[2020-07-26 02:30] indieisaconcept commented on #4347
FYI I've submitted a PR to address. https://github.com/mochajs/mocha/pull/4382

[2020-07-27 23:32] VishSinha commented on #2025
Adding --timeout 10000 to the the "test" "scripts" , worked like charm to me.
Thank you!

[2020-07-28 08:55] zyf0330 opened #4384 "set timeout in .mocharc.yaml not work"
### Prerequisites

- [ ] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-07-28 12:09] whitecolor commented on #956
With global vars and typings this just makes mocha legacy thing.

[2020-07-28 12:34] juergba commented on #4384
@zyf0330  I can't reproduce your test result.

As per my tests with Mocha v8.0.1 setting the `timeout` value in a _.mocharc.yaml_ configuration file is working perfectly.
Please make sure to place _.mocharc.yaml_ in the root directory of your project and to apply a correct syntax: `timeout: 1000`.

[2020-07-28 13:08] juergba commented on #4379
You can pass `--inspect` in different ways to Node:
1. via NODE_OPTIONS
2. `node --inspect mocha test1`
3. `node mocha --inspect test1`

In alternatives 1. / 2. you are passing `--inspect` directly to Node and the `timeout` value remains unchanged.
In alternative 3. you are passing  `--inspect` first to Mocha, which then re-forwards it to Node. In this case `timeout` is intentionally set to zero.

[2020-07-28 13:34] whitecolor commented on #956
Btw just created `@types/mocha` without globals: https://github.com/whitecolor/mocha-types

Hope they (globals) just will be removed officially soon.

[2020-07-29 02:10] zyf0330 commented on #4384
I know why. I enable node inspect flag and timeout is set as 0. So how to override this timeout in config?

[2020-07-29 05:30] juergba commented on #4384
Pass `inspect` directly to Node, see https://github.com/mochajs/mocha/issues/4379#issuecomment-665029112.

[2020-07-29 05:30] #4384 closed

[2020-07-29 10:36] ThisIsMissEm opened #4385 "utils.stringify used for diff output makes undefined & null look like arrays"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-07-29 15:37] JayeshThamke commented on #3484
@jesonxie It worked for me! What is the root cause?

[2020-07-29 20:44] #4348 closed

[2020-07-29 20:47] #4375 closed

[2020-07-29 21:11] #4347 closed

[2020-07-29 21:12] boneskull commented on #4344
I think this is closed by #4382.  Please let me know if it isn't.

[2020-07-29 21:12] #4344 closed

[2020-07-30 08:18] regaldisclaimer commented on #3044
Is there a way to get the equivalent effect of using the `--exit` flag when using mocha "[programmatically](https://github.com/mochajs/mocha/wiki/Using-mocha-programmatically)?" I don't see a documented option for the exit, or a general way to pass in a flag while using the NodeJS API.

[2020-07-30 12:25] regaldisclaimer opened #4388 "Missing `exit` option in the API documentation, and the NodeJS API"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-07-30 17:20] gabegorelick commented on #2735
This can work if you're willing to use a custom reporter. See https://github.com/unscrambl/mocha-custom-stack-trace-reporter/blob/8c23026d7bc5aef823a0011e3f575b61e039e2c8/src/mochaCustomStackTraceReporter.ts for example. The custom reporter can simply register a `fail` event handler that updates `err.stack`.

[2020-07-30 18:43] boneskull opened #4390 "cache growl on appveyor"
To run growl-related tests on windows, we install growl:

[code]

I think github's rate-limiter may not appreciate this sort of thing, and occasionally the download will fail.  We shouldn't need to download this installer on every build; we can cache the installer, and only download if it is not present in the cache.

I'd do this myself, but I don't know enough (read: any) PowerShell to skip the d

[2020-07-30 18:51] #4388 closed

[2020-07-30 19:12] boneskull commented on #4385
I agree it's weird.  `Function`-typed values, `null`, `undefined`, `Date`, `Buffer`, and circular references (`[Circular]`) all display this way.  Strings use double-quotes, but numbers (including `Infinity`) and booleans are bare.

A quick fix would just be to remove these brackets.  But also I've never really been happy with how Mocha outputs representations.

It occurs to me that Node.js' [`uti

[2020-07-30 19:14] boneskull commented on #4385
Anyhow, if someone from the community knows of a good library, or wants to propose a `util.format`-based solution, that'd be cool.  Any changes here should be considered semver-major

[2020-07-30 19:16] boneskull commented on #4374
@Swivelgames Have you tried `--parallel` combined with `--watch`? It might work, since we dump the workers after each run, but I don't think we are testing it anywhere yet.

[2020-07-30 22:14] ThisIsMissEm commented on #4385
A very light touch approach would be to just change the symbols wrapping, e.g., « and » instead of [ and ]

(Not using <> because jsx is a thing)

[2020-07-31 00:35] boneskull commented on #4385
may not be displayable on some windows terminal

[2020-07-31 12:03] bajtos commented on #4351
When I think about my experience with mocha in https://github.com/strongloop/loopback-next (a large-ish monorepo written mostly in TypeScript), the biggest pain point is slow feedback in [red-green-refactor cycle](https://www.codecademy.com/articles/tdd-red-green-refactor).

1. I start by writing a failing test, this typically involves changing a single test file.
2. Then I write an implementation

[2020-07-31 13:07] bajtos commented on #4350
Hello from the LoopBack team 👋🏻  Thank you for starting this discussion!

In LoopBack, we have been using Mocha with `nyc` for years, there are no major issues there. (I _think_ the code runs a bit slower because of nyc/istanbul instrumentation, but it's not too bad.)

We have been looking into the options to replace `nyc` with built-in code coverage provided by v8/Node.js, see https://github.com/

[2020-07-31 17:30] jmiller-airfox opened #4392 "🚀 Feature: Failures in before() and beforeAll() should cause all impacted tests to be reported as failed"
### Description

every other testing suite that i've come across in my career (including, since it's a peer-ish library to `mocha`, [`jest`](https://github.com/facebook/jest)) will consistently report results for all tests on each run - more specifically,  it will show a test failure (or error, which is distinct from a "failure", depending on the framework) for each test in the suite(s) you're try

[2020-07-31 20:21] boneskull commented on #4392
If `before` or `beforeEach` fails, would you expect the tests to be _run_ or would you just expect them to be _reported_?

[2020-07-31 20:44] boneskull commented on #4392
Some notes:

- If you have a failing hook at or near the root of your test suites, the reporter output will repeat the same error, potentially _many, many_ times; we should consider showing a unique error _once_ in the reporter's epilogue.
- This would likely be a high-impact breaking change for tools built upon Mocha
- This may require changes to built-in reporters AND third-party reporters
- The

[2020-07-31 20:50] boneskull commented on #4350
I've looked at `node-tap`'s implementation, and it seems the information we need is generated by `nyc` and placed into a JSON file, which we can then read to determine which test files changed.  If it's really as simple as that, we could enable this "minimal re-run" behavior when a user runs `nyc mocha` with `--watch` just by checking for the existence of the file.  Mocha would not need to have `n

[2020-07-31 20:54] boneskull commented on #4350
..._and_ we could add an option (e.g., `--changed`) which would check this file and only re-run changed files--no watch mode necessary.

[2020-07-31 21:29] jormaechea opened #4393 "Test nyan and progress reporters broken since 8.1.0"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-08-01 09:27] sgissinger commented on #4372
Hi,
I have the same behavior, everything is good when running `nyc mocha`.

But when running `nyc mocha --parallel` the result is the same as what described @curbengh

[2020-08-02 03:46] tylerweitzman commented on #2556
It would be nice to have a mocha log function that would do two things: (1) Auto indent at the appropriate level (2) Delay output of errors to after the name of the test corresponding to it rather than before

[2020-08-03 06:49] rohitpiush commented on #3228
I upgraded my mocha to 8.1.0.
I am still facing the same issue. Is there any update on how can I fix this. I need mocha 8 and above to run parallel tests.

[2020-08-03 08:17] Munter commented on #3228
@rohitpiush @bramevo @exrishu Could one of you open a new bug report on this instead of piggybacking on an already closed issue that is unrelated? There is no guarantee that any maintainer will see this, as we might be unsubscribed.

Please take the time to fill in the important details in the bug report, as specified in the bug report template, so we have a chance to recreate the problem.

[2020-08-03 13:44] jmiller-airfox commented on #4392
- i agree; repeating the same error ad nauseum isn't terribly helpful.
- definitely agree, at least if it is defined as the new default and isn't switchable.
- i would expect as much, since the contract between them would potentially be changing.
- i also agree that clearly and explicitly differentiating between hook and test failures is a good idea - again, the use case i'm trying to express here

[2020-08-03 13:57] RiccardoMargiotta commented on #4393
I'm seeing similar line-break issues with the 'dot' reporter.

[2020-08-04 16:18] bajtos commented on #4350
I like your proposal, @boneskull, it looks like a great improvement requiring not too much effort to implement (hopefully 🤞🏻 ). I think it should work well with TypeScript in the watch mode, because the developer is in control of the timing - when should Mocha start to look for changed files to decide which tests to (re)run.

It makes me wonder, would this feature allow incremental tests on CI too

[2020-08-04 16:19] boneskull commented on #4350
--changed would theoretically work w CI, assuming you cache the cache file 🙂

[2020-08-04 17:14] boneskull commented on #4393
yikes, ty.

[2020-08-04 17:16] boneskull commented on #4350
this is not going to be easy

[2020-08-04 17:21] boneskull commented on #4393
I see the issue, will publish a fix soon

[2020-08-04 17:26] boneskull commented on #4393
Ref: #4394

[2020-08-04 18:38] #4393 closed

[2020-08-04 19:17] boneskull commented on #4393
fixed in [v8.1.1](https://github.com/mochajs/mocha/releases/tag/v8.1.1)

[2020-08-05 07:18] schrotie opened #4395 ""Mocha" not defined"
### Prerequisites

- [ x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't sup

[2020-08-05 08:11] regaldisclaimer commented on #4388
@juergba Thanks for your response. Yes I am aware, and have noted in my initial post as such. However, the lack of an equivalent option causes certain scripts to stop working starting version 4.

For a script that is only running mocha, your posted code certainly gets the job done. However, for any scripts that need to execute tasks following a test, it does not offer the equivalent effect of havi

[2020-08-05 08:54] pdbq21 commented on #4377
This solution helped me (to change 'import' on 'require')

[2020-08-05 09:01] pdbq21 commented on #3228
I had the same problem. I found a solution here (https://github.com/mochajs/mocha/issues/4377)

[2020-08-05 09:20] rohitpiush commented on #3228
But I don't want to change node modules file. Is there any other way?

[2020-08-05 15:50] philtrep commented on #4395
We're also experiencing the same issue on our project. Mocha is loaded via a `script` tag and never appears in window.

Manually setting `window.mocha = mocha` from the script tag still results other functions not being available in the window scope `Error: ReferenceError: describe is not defined`.

[2020-08-05 18:40] juergba commented on #4388
@regaldisclaimer The `exit` option has not been added to avoid a tear down after all tests have been completed.
- use `before`/`beforeEach` hooks to set up your test environment (as e.g. starting a server)
- use `after`/`afterEach` hooks to tear down your test environment (as e.g. stopping a server).

Intentionally using the `exit` option in order to avoid a correct clean-up after your tests is a

[2020-08-05 22:17] boneskull commented on #4388
There is no way to do this using Mocha programmatically; you have to force-exit yourself once the run has completed.  This is how the CLI does it.

[2020-08-06 16:42] peanutenthusiast commented on #4306
Hi @boneskull I can look into this.

[2020-08-06 16:49] rohitpiush commented on #4377
Hi I am facing the same issue on mac.
SyntaxError: Unexpected token import at line 6 which is  return import(url.pathToFileURL(file));
I don't want to change the node modules file so the above solution do not work for me.
Can someone help? I am facing this on Jenkin build tool as well.

[2020-08-06 22:10] auroq opened #4398 "Mocha.utils.lookupFiles is no longer available"
The commit linked below migrated `lookupFiles` from utils to cli. This caused it to be removed from `Mocha.utils.lookupFiles`, and it appears that it is no longer accessible anywhere.

This was still exposed as of 8.0.1 but is no longer available as of 8.1.1.

Additionally, `Mocha.utils.lookupFiles` does still appear in the current version of `@types/mocha`.

We are using this when calling `mocha.

[2020-08-07 15:42] juergba commented on #4398
Yes, it was moved to _lib/cli/lookup-files.js_ in order to exclude it from our browser build. `lookupFiles` still is a public function and should be accessable by requiring it.

@types/mocha: is not maintained by us. We don't have resources to offer our own version of TypeScript type definitions.

[2020-08-07 17:16] auroq commented on #4398
The only place we have found this exposed is in `mocha/lib/cli/lookup-files`. Are we missing it somewhere else? If not, could we export it somewhere closer to the mocha index for greater visibility?

[code]

[2020-08-07 18:23] juergba commented on #4398
No, I don't think so, must be correct.

I'm not convinced of exporting it somewhere else for greater visibilty. We use this function only in CLI context and need to keep it out of our browser bundle.

The API documentation is incomplete, I can't find `lookupFiles` anymore. Some JSDoc tags must be wrong or missing (@module ?). So I admit it's difficult to re-find `lookupFiles` at the present.

[2020-08-08 11:01] outsideris commented on #4395
global Mocha was hidden by #4366 .

[2020-08-08 13:41] frankli-dev opened #4400 "TypeError: Cannot read property 'equal' of undefined"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-08-08 15:00] rgroothuijsen commented on #4400
Assuming you're using Chai, it appears you forgot to wrap your actual value in `expect()`.

[2020-08-08 15:22] frankli-dev commented on #4400
Thanks for your answer. But I don't use Chai. I just followed the instructions on getting started page of mocha.
I just installed mocha.

[2020-08-08 15:30] rgroothuijsen commented on #4400
That would explain it. Mocha is only a test runner rather than an assertion framework, so you'll have to add those separately if you want to use them.

[2020-08-08 15:36] frankli-dev commented on #4400
Cool. Thak makes sense. Then the getting started page of mocha should comment about that in this section, I think.

![Mocha_-_the_fun__simple__flexible_JavaScript_test_framework](https://user-images.githubusercontent.com/51565705/89714248-afac6a00-d973-11ea-8552-9122823616c4.png)

[2020-08-08 15:36] frankli-dev commented on #4400
https://mochajs.org/#synchronous-code

[2020-08-09 03:20] MoonSupport commented on #4400
Even in my experience, it was difficult for me to first understand exactly what mocha does too.
I think it would be nice if it was added more clearly to the documentation.

[2020-08-09 18:03] pedro-qwkin commented on #792
Why isn't this merged?

[2020-08-10 12:25] #4400 closed

[2020-08-10 12:35] kanikeravi commented on #2197
Can you provide the sample code. I tried this, still I m not able achieve it.

Spec file :
[code]
getValue Method :
[code]

[2020-08-10 15:51] auroq commented on #4398
That makes sense that it is generally only used in the CLI context. However, I feel that a like `lookupFiles` is key to being able to call mocha programmatically as we are doing.

I know running a testing framework isn't the primary method of using them (In our case our tests _must_ be run inside of serverless infrastructure), so if mocha isn't intended to be run programmatically (or doesn't offic

[2020-08-11 09:16] segrey opened #4403 "Broken IntelliJ integration when tests are running in parallel"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-08-11 12:43] MoonSupport commented on #4398
I agree with @auroq's opinion.
If isn't weird to import `lookupFiles` at `cli/lookup-files`, it seems good to write it in a document without any changes.
`lookupFiles` still looks useful for someone to call mocha programmatically. :)

[2020-08-12 09:17] zyf0330 opened #4406 "How to use addFile in browser with npm package of mocha"
Hello, I am using karma and karma-mocha to test in browser. I need to use `addFile` to execute some code before test code. And what happened is, `addFile` and `loadFiles` use `path.resolve` and `path` module is a empty object. Extual mocha file which is executed is mocha.js at root path in npm package. So except use mocha.js built for browser or import webpack to handle, is there any other way to

[2020-08-12 15:13] akopchinskiy commented on #4005
Mocha's documentation about configs really sucks

[2020-08-13 01:20] mf-pherlihy commented on #3916
https://github.com/mochajs/mocha/pull/4407

[2020-08-13 16:08] Bluefinger commented on #4372
I can confirm I have this issue as well. My setup is with pnpm + typescript, and while I have to run nyc with `--use-spawn-wrap`, the moment I run mocha in parallel mode, I lose my code coverage. Running mocha with parallel off gets me working coverage from nyc.

Env: Windows 10
Mocha version: 8.1.1
Node version: v14.4.0
Shell: PowerShell
Transpiler: Typescript @ v3.9.7

"`.mocharc.js`":
[code]

[2020-08-13 16:30] #4379 closed

[2020-08-13 18:06] juergba commented on #4406
I don't really understand your question. We ourselves are using _karma_ and _karma-mocha_ in our CI-tests. Have a look at our implementation in order to understand how to load your test files.

Our _mocha/mocha.js_ built is for use in browser.
`addFile`, `loadFiles`, `path.resolve` and `path` can't be used within a browser.

If you prefer to not use our built _mocha/mocha.js_ for your browser, we

[2020-08-13 18:59] Pomax commented on #3422
Even without an MCVE, that error should say _what is wrong_. Just "SyntaxError: Invalid or unexpected token" does not tell folks anything about what they actually need to fix, or even where to look. They might be staring at 100% correct code with the error somewhere completely else, and Mocha will not help them figure that out.

[2020-08-17 07:14] dschinkel opened #4408 "Cannot redeclare block-scoped variable"
I've so had it with TS that I feel like just ripping it right back out of my damn project.

So I can't resolve this damn thing.  I've searched and tried so many things.

**This test passes - if you run it ALONE:**
[code]
As soon as you introduce more tests, it starts bitching about the famous `Cannot redeclare block-scoped variable`:
`TS2451: Cannot redeclare block-scoped variable 'test_imports_1'

[2020-08-17 07:40] dschinkel commented on #4408
Then of course after I post I have a revelation and fix it.

The problem was I had this in my compile.ts which was overriding my entire .tsconfig.json:
[code]

[2020-08-17 07:40] #4408 closed

[2020-08-17 10:09] segrey commented on #4403
@boneskull What do you think about this issue?

[2020-08-17 15:15] boneskull commented on #4403
It's likely not going to work. The test objects are not the same; they are shallow copies and lack certain properties, as you see.

To support yr use-case, IntelliJ would need to attach a reporter to the underlying worker process. This is currently not possible, but happy to discuss an API that'd make it work.

[2020-08-17 17:57] segrey commented on #4403
Sure, let's discuss an API. Would be great to use the same API for both parallel and non-parallel runners.

There is no such requirement that the test objects are the same. We just need a way to associate some data with a test object. For example, if a test object could provide an unique key (if different test objects reference the same test, the keys would be the same), that would work.

[2020-08-17 18:18] boneskull commented on #4403
the way the parallel mode works is that the main process uses the user's chosen reporter, but it has a special Runner. this Runner creates a pool of subprocesses, and those subprocesses run the tests. each subprocess uses fixed reporter ("buffered" reporter) that doesn't do anything other than aggregate events in memory. at the end of a test file run, the subprocess takes the events stored by the

[2020-08-18 14:20] JaredCE opened #4410 "Flat 4.1.0 is deprecated causing an npm warn"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-08-18 21:55] arvidOtt commented on #4385
@boneskull if you pass something to `util.format` which is not a format string and not a string itself it uses `util.inspect` to print it.

And it is possible to configure the output when directly using `util.inspect` or `util.formatWithOptions`( since v10.0.0) and passing the `inspectOptions` parameter (e.g. ANSI colors is disabled by default). So I would propose trying solve this with a configur

[2020-08-19 11:27] sujin-park opened #4412 "some text looks link hidden text when the device width is less than 680px."
[API docs](https://mochajs.org/api/) has responsive web design that automatically adjust for different screen sizes and viewports.
However, It's so hard to read the white color text when the device width is less than 680px. Because the text is white color and white background too.

**AS-IS**
width: 360px, 375px too.

<img width="358" alt="스크린샷 2020-08-19 오후 8 22 22" src="https://user-image

[2020-08-19 17:19] mdrichardson commented on #4372
I'm running into this as well. Has anybody found a temporary workaround?

[2020-08-19 18:43] jcollum commented on #2975
Yeah this behavior is a pain, resulted in a lot of weird race conditions for me.

What worked for me: if you need `async`, do it in your `before` blocks.

[2020-08-19 20:20] dvtate commented on #3472
[code]

[2020-08-19 20:44] dvtate opened #4414 "`jsonStringify` util regularly causes out of memory crash"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-08-19 20:51] dvtate commented on #4414
[code]

[2020-08-19 21:42] boneskull commented on #4414
@dvtate Thanks.  We really would need sample code to generate such an object so we can confirm the behavior.

[2020-08-20 21:13] christopherchubb commented on #2655
I rolled back to Mocha 7 and all is right again.

[2020-08-21 01:43] curbengh commented on #4372
I disable parallel mode in coverage test.

[code]

[2020-08-24 06:33] nicojs commented on #4183
We no longer need this functionality, because Stryker 4 can work with the current `--grep` regex. Closing this issue. Thanks for taking a look and helping us.

[2020-08-24 06:33] #4183 closed

[2020-08-24 19:14] jmiller-airfox commented on #4131
any update here? if you need another use case to add momentum to this ticket: i'm trying to add `mocha-multi-reporters` to a project so that our custom `stdout` reporter still shows up on our bitbucket pipeline, but also have a json output blob so we can do more programmatically interesting things with the results outside of the execution of the tests themselves.

[2020-08-25 02:05] nbcarey commented on #3727
I have opened a pull request to add a `.mocharc` JSON schema to https://www.schemastore.org — PR is at https://github.com/SchemaStore/schemastore/pull/1215

[2020-08-25 08:35] outsideris opened #4415 "Print wrong count concurrent jobs in debug log"
# Description
In `mocha:cli:run:helpers` debug logs, it will print current concurrent jobs like below:

[code]

But without `--jobs` option, it prints `NaN`.

[code]

### Steps to Reproduce
Run mocha with `--parallel` option but, without `--jobs` option.

[code]

**Expected behavior:** [What you expect to happen]
Print current concurrent job count instead `NaN`.

### Versions
- The output of `moch

[2020-08-25 08:45] munierujp commented on #4131
I've created a third-party reporter for outputting test result as JSON file.

- [@mochajs/json-file-reporter](https://www.npmjs.com/package/@mochajs/json-file-reporter)

[2020-08-25 17:31] boneskull opened #4417 "node flag parsing strategy is backwards"
https://github.com/nodejs/node/pull/34637 introduces a `-u` flag for `node`, which conflicts with Mocha's `-u`/`--ui` flag.  I had expected Mocha would prefer its _own_ options over `node`'s where there was a conflict, but this is not the case--instead, Mocha explicitly whitelists `-r`/`--require`, which was previously the only known command-line flag shared between `mocha` and `node`.

To fix thi

[2020-08-25 17:31] boneskull commented on #4417
cc @bethgriggs

[2020-08-25 17:45] boneskull commented on #4417
This _does_ mean that if someone wants to use custom conditions w/ `mocha`, they need to use `--conditions`, not `-u`.

[2020-08-25 18:18] boneskull commented on #4417
Fix is in #4418

[2020-08-25 19:09] #4417 closed

[2020-08-25 20:14] boneskull commented on #4398
Either way, since `lookupFiles` was a public API and it moved, it was a breaking change that we didn't catch.  Apologies!

1. We can't move it back into `lib/utils`, because browser
1. We can't move it into `lib/mocha` (which is what you get when you `require('mocha')`), because browser
1. We should make sure it shows up in the API documentation

The Node.js-specific public APIs we have are very f

[2020-08-25 20:42] boneskull commented on #4398
See #4419 for changes regarding this

[2020-08-25 22:42] justin-wingo opened #4420 "TypeError: Suite was defined but no callback was supplied. Supply a callback or explicitly skip the suite."
I'm receiving the following error message
TypeError: Suite "" was defined but no callback was supplied. Supply a callback or explicitly skip the suite.
My code:
describe('Sample Test'), async function(done){
    const test = await someFunction()
    it('get partner',  function() {
      stub.get({ id: 1, tenant: 'dev'}, function (err, response) {
        console.log('data for partner:', response)}

[2020-08-25 23:09] Munter commented on #4398
Does lookupfiles really need to be a public API? I know we accidentally made a breaking change here, and that's very unfortunate. But really all that lookupfiles is, is a glob function. There are myriads of implementations of glob to take off the shelf. Why does mocha need to maintain another one as a public API?

[2020-08-26 00:23] boneskull commented on #4403
@segrey please see #4409

[2020-08-26 00:25] boneskull commented on #4420
Please double-check your syntax, as seen on https://mochajs.org.

(it's not `describe('something'), function() {}`, it's `describe('something', function() {})`)

[2020-08-26 00:25] #4420 closed

[2020-08-26 07:18] nicojs commented on #4398
I think a proper public API for running mocha programmatically is what's missing here.

Related issues:
#3882
#4419

It was a public API in the sense that it was documented in API docs. Personally, I don't like a big API surface, since it's hard to maintain (hence this issue). It's better to have a smaller one (as discussed in #3882) and then have proper integration tests for them.

Maybe it's goo

[2020-08-26 07:42] chenzx opened #4421 "Separately run each async test file ok, but batch run will cause timeout"
I'm using Mocha to do async testing, each test around starting up a server & a client, I use before() to start server & after() to close it, & beforeEach with done callback to wait for client socket connected to server(with afterEach() to close the client) then do each it() test case.

The problem is, when i do the single test file running:

mocha --exit test/testCase1.js

The test quickly run ok,

[2020-08-26 07:44] chenzx commented on #4421
This happens on prev Mocha-v7.2.0 + Node-v8.9.9 & latest Mocha + Node-v14

[2020-08-26 08:47] chenzx commented on #4421
[code]

[2020-08-26 08:50] chenzx commented on #4421
Try to reproduce the problem with minimal case(its size still very big), and Mocha hints that "done is called multiple times", which reminds me that cases may be run serializally? (i expect each it() case is run separately/serializally

So i remove before()/after() use, the above minimal case works ok, but my original tests still timeout error...

[2020-08-26 08:51] segrey commented on #4403
@boneskull Sorry for the delay. Just tried it and it worked great! However, I've played a bit more with parallel mode and looks like I missed that the main process reporter receives events after the test file run has been finished. Unfortunately, it leads to the following UX problems:
* Less interactive test run: UI cannot show currently running test. For example, it's convenient to see currently

[2020-08-26 09:23] AviVahl opened #4422 "Regression (8.1.2): mocha/mocha.js is no longer bundle compatible (uses dynamic require)"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-08-26 10:27] Munter commented on #4422
Looks like `Mocha.unloadFile` and `Mocha.prototype.unloadFiles` should be removed from the browser bundle:

Here are the relevant pieces of code from the bundle. Seems webpack is breaking on the `require.resolve()` call, which should never be used in a browser context anyway:

[code]

[2020-08-26 11:05] edwinm opened #4423 "Mocha 8.1.0 adds forEach property to CSSStyleDeclaration, at least inside a Proxy"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-08-26 14:59] stoicchild8910 commented on #4322
@boneskull
hello, I read this issue and working on it and came up with two questions.

first, where to change.
I found mocha has two spots to turn on parallel function,
1) parallelMode function (in lib/mocha.js)
2) parallelrun (in lib/run-helpers)

Because parallelMode function comes first, I think it would be better to check and switch in parallelMode function if the file is better with running i

[2020-08-26 17:04] sarbbottam opened #4424 "❓A global `before` in parallel mode."
`mocha version: 8.10`

[code]

[code]
When I run `mocha --exit` it works fine, however when I run `mocha -p --exit` I get the following error

`ERROR: --parallel runs test files in a non-deterministic order, and is mutually exclusive with --file`

How can I have a global before in parallel mode?

Thanks!

[2020-08-26 21:33] boneskull commented on #4398
I mean `lookupFiles` supports globs but also allows the caller to _not_ use a glob; instead, you can provide a directory, file extension(s), and/or a "recursive" flag.  The only reason it does this is because that's the behavior Mocha's CLI supports, and Mocha's CLI supports that behavior because Mocha's CLI supports that behavior.  :smile:

I would like to know from @auroq and/or @MoonSupport if

[2020-08-26 21:35] boneskull commented on #4398
actually maybe it makes more sense to just add that to #4419, so I can reference the new location.

[2020-08-26 22:49] #4412 closed

[2020-08-26 23:56] boneskull commented on #4403
this means there will be many "currently running" tests, but you probably realize that.

I think regarding the API, since the reporter only interfaces with a `Runner` instance, it makes the most sense to expose a method on `Runner` to do this--override the default "worker" reporter with a new reporter at _path_.  It would still require a main process reporter, however.  Something like this:

[code

[2020-08-26 23:57] boneskull commented on #4403
Please let me know if that sounds OK, and I'll add a proof-of-concept to #4409.

[2020-08-27 11:24] nicojs commented on #4424
I think you're looking for the [root hooks plugin system](https://mochajs.org/#root-hook-plugins), right? It works with `--parallel` and non-parallel mode. (introduced in 7.2)

[2020-08-27 14:28] sarbbottam commented on #4424
Thanks, @nicojs for sharing your thoughts.

I am wondering if there is a way to run the beforeAll or something similar only once not for each file in parallel mode.

[2020-08-27 15:49] agrohs commented on #1815
How has this never been fixed!??!?!

[2020-08-27 21:09] boneskull commented on #4422
Fix for this is in #4419

[2020-08-27 22:01] segrey commented on #4403
Yes, that's right.
Regarding debugging tests in parallel: let's consider a case when execution is suspended by debugger in one worker process and a user debugs something. Seems it'd inconvenient if executions of other worker processes are suspended by debugger too. Because a user will be disturbed by new opened debug sessions, lost focus, changed UI, etc. Am I right that passing `--jobs=1` will do

[2020-08-27 22:51] boneskull commented on #4403
Yes, those modules should be public APIs (if they are not already--the reporter you mentioned is not but should be)

[2020-08-27 22:51] boneskull commented on #4403
rather sorry the parallel buffered reporter is not but should be. base should already be public

[2020-08-28 02:08] ottotsuma commented on #3627
Hey, first time here and If what I am asking is a little silly could you please redirect me.

It is my first time contributing to OSS so even if my work is not merged I would like to give it ago.

When I forked/cloned the repo I noticed the links for your logos are addressed to another website.

https://opencollective.com/mochajs/sponsor/19/avatar

How would I go about adding a new sponsor to that

[2020-08-28 05:26] boneskull commented on #3627
@ottotsuma Thanks for reaching out.  So the `README` has those sponsor links/images, which are automatically retrieved from our top contributors to our [collective](https://opencollective.com/mochajs).  We already display all of our sponsors [on our site](https://mochajs.org), and (IMO) we don't really need to have them in the `README` at all.  I'd be happy with outright _removing_ all of those li

[2020-08-28 06:06] ottotsuma commented on #3627
Hello, @boneskull ,

Thank you for replying and so quickly, I was not expecting that.

- If you would like to remove all of the sponsors from the read me and replacing with a link I could do that for you and if its possible include a picture in a pull request so you can see what it would look like before making a decision about that.

- If you would like me to just add the new ones I will add them

[2020-08-28 06:16] nicojs commented on #4424
Ah, thanks for the clarification. I think #4360 is what you're looking for. Marking it as a duplicate, if you disagree please let me know.

Duplicate of: #4308

[2020-08-28 08:11] segrey commented on #4403
@boneskull Hmm, sorry, I looked through mocha's code and couldn't find a way to access `require('mocha/lib/reporters/base.js')` via API. Could you please suggest the right way?
BTW, `--jobs=1` suppresses parallel mode as expected. Great! It will be passed when debugging tests.

[2020-08-28 12:07] SpiritOfSpirt commented on #1628
[code]

[2020-08-28 13:07] dasilvacontin commented on #1628
@SpiritOfSpirt As far as I know, you can't define new suites and tests after test execution has started. But I may be wrong.

@Delilovic I'd suggest writing all your code/logic inside hooks and tests. In other words, things that get run during test execution. (`Runnable`s)

[2020-08-28 14:49] sarbbottam commented on #4424
Thank you @nicojs, yea this is the same as #4308.

[2020-08-28 14:49] #4424 closed

[2020-08-28 18:46] #4398 closed

[2020-08-28 18:46] #4422 closed

[2020-08-28 19:38] boneskull commented on #4403
that should be in `Mocha.reporters.Base` or `require('mocha').reporters.Base`

I've updated #4409 to include an `isParallelMode()` method on the `Runner`. this will always return `false` for `Runner`, and `true` for `ParallelBufferedRunner`.

I've also:

- added a `workerReporter()` method to `ParallelBufferedRunner` which you can use to swap out the reporter the worker uses
- refactored the defau

[2020-08-28 21:06] boneskull opened #4427 "consider strategy for asserting compat with third-party modules"
We want to make sure that a change in Mocha won't break compatibility with other modules frequently used alongside Mocha (think [CITGM](https:/github.com/nodejs/citgm)).  We already have a few of these checks in our test suite:

- RequireJS
- Chai
- Webpack (very recently)
- CoffeeScript!
- karma-mocha and thus karma
- maybe something else

but what's going to happen if we keep adding these?  A lo

[2020-08-30 05:10] outsideris opened #4430 "Broken wallaby logo on mochajs.org"
<img width="709" alt="스크린샷 2020-08-30 오후 2 06 36" src="https://user-images.githubusercontent.com/390146/91651647-28fa3100-eaca-11ea-845f-744ad96bdd63.png">

In our mochajs.org site, [wallaby-logo.png](https://github.com/mochajs/mocha/blob/master/docs/images/wallaby-logo.png) is broken.

It is only happened in `docs.production` build, so I think it is optimization issue.

[2020-08-30 05:15] Donghoon759 commented on #4430
Let me work on it :)

[2020-08-30 09:46] outsideris commented on #4423
IMO, it caused by we introduced rollup since v8.1.0.
When I removed IE11 in `.browserlistrc` and then rebuild `mocha.js`, I can pass all tests in `carbonium`.
I believe mocha.js affect other Object's iteration method even I don't know why yet.

[2020-08-31 15:06] sarbbottam commented on #4308
Looking forward to a resolution to a global setup that runs only once for all the test files.

[2020-08-31 23:16] segrey commented on #4403
Ah, thanks a lot, missed that! How can I access `Mocha` object from the main reporter?
As I can see, #4409 doesn't expose `require('mocha/lib/nodejs/reporters/parallel-buffered')` on Mocha.reporters? Any plans?

Fixed IntelliJ reporters as you suggested and it's possible to run tests in parallel mode! Awesome!
A small question:
is it guaranteed that:
* `runner.on('start', ...)` (of the main Intell

[2020-09-01 08:14] FlourishS opened #4433 "Mocha does not pass "--prof" parameter to Node and thus does not allow for profiling"
### Expected

When mocha is run with the --prof argument it will pass this argument to Node thus enabling Node to be profiled.

Example package.json:

[code]

### Actual

The --prof argument is not passed to Node. It is therefore not possible to run node in profiling mode when using Mocha.

A dirty workaround is to patch bin/mocha as follows:

[code]

Tested with Mocha 8.1.2 and Node v12.15.0

Tha

[2020-09-02 19:23] boneskull commented on #4430
fixed by #4431

[2020-09-02 19:23] #4430 closed

[2020-09-02 19:29] boneskull commented on #4430
This should be in the process of being deployed to https://mochajs.org

[2020-09-03 19:45] shelbykauth commented on #2245
@iknowcss

## Disclaimer
I don't think there really is a "best practice" way to do this yet.  All we're doing is taking shots in the dark.  I'm not trying to put you down, but offer a possible explanation to the downvote phenomenon.  I don't think your way is wrong.  And it is highly documented.  But I don't think it's the best way possible.

Also, for all three examples, append this in order to g

[2020-09-06 05:52] outsideris commented on #4433
I confirmed `--prof` doesn't work. I think it is because of `--prof` is not in `process.allowedNodeEnvironmentFlags`.

[2020-09-06 06:10] outsideris commented on #4421
When I run your code, it passed. I didn't understand what you prove in this code.

[code]

And if tests are failed when you run all together, it means tests affect each other.

[2020-09-06 09:51] outsideris commented on #3910
We removed it in [v8.0.0](https://github.com/mochajs/mocha/releases/tag/v8.0.0).

[2020-09-06 09:51] #3910 closed

[2020-09-06 10:03] outsideris commented on #4372
I'm not sure whether it is mocha's bug. I tested it  with hexo@`ebc9008f`

Results are different base on hexo's test suites. I did dig hexo source code, but I didn't find what affect coverage.

### test/scripts/console/index.js
[code]

### test/scripts/extend/index.js
[code]

[2020-09-06 12:39] chenzx commented on #4421
I try to make a reproduce case but failed. But it really has the phenomenon i said in my test cases.

OK, i guess the problem may be due to: when a previous test calls server.close(), the server socket/handle is closing but not really closed then the next test's client.connect() crashes in?

I hope mocha can provide one-case per-process mechanism to make running multiple tests just as multiple of

[2020-09-06 15:14] webia1 commented on #3228
Same here, downgrading to v7 (`"mocha": "^7.1.1",`) has helped, but it is not a permanent solution,..

[2020-09-06 20:07] hubiierik commented on #4410
Issue opened in yargs-unparser:  https://github.com/yargs/yargs-unparser/issues/67

[2020-09-07 06:35] gsimon75 commented on #1998
Unfortunately ~if~ when some prerequisite package contains 'console.log' calls, we have very few control over it at that level.

For example, [oas3-tools 2.0.2](https://www.npmjs.com/package/oas3-tools/v/2.0.2) contains page-long dumps from here:
./node_modules/oas3-tools/dist/middleware/swagger.router.js:36:
`
console.log("handlerCache[handlerId]: ");
console.log(handlerCache[handlerId]);
`

As I

[2020-09-07 07:16] chenzx commented on #4421
Hi @outsideris , you need to copy the test file to multiple, named xxx-1.js xxx-2.js ..., & put them in a directory, then batch run them, then will see the wierd timeout...

[2020-09-08 05:24] Munter commented on #3228
@webia1 @rohitpiush you keep commenting on an issue that is unrelated to your problem. If you want your separate issue fixed you need to give us relevant information to work with. Open a new issue and fill out the issue template so we have a chance to recreate those problem. Otherwise nothing will get fixed and you and others will keep having this problem

[2020-09-08 19:58] #4308 closed

[2020-09-08 19:59] boneskull commented on #4308
This will be released in v8.2.0.  I do not know yet when v8.2.0 will be released.

[2020-09-09 01:19] dvtate commented on #4414
Ok so I managed to recreate the problem without using company's code. It seems that mocha is trying to print the entirety of each `Sprite` which can have references to massive texture objects that shouldn't be printed.

In the test I also included `console.log` (could also use [util.inspect](https://nodejs.org/en/knowledge/getting-started/how-to-use-util-inspect/)) which prints a summary instantly

[2020-09-09 01:24] dvtate commented on #4414
I'd recommend:
- Don't try to print every little detail when object is so massive
- Any time you're operating on strings longer than 65kb things are going to be slow, maybe have it return array of strings that can the be printed to reduce number of O(N) `+` operations?

[2020-09-09 05:01] rafarodra commented on #4009
Is there any updates on this change? If not, is there any workarounds to run truffle test?

I'm running:
Truffle v5.1.43 (core: 5.1.43)
Solidity - 0.6.2 (solc-js)
Node v12.18.2
Web3.js v1.2.1

[2020-09-09 14:33] fainashalts commented on #4009
@rafarodra for now you can downgrade to node 10 and Truffle test should work fine. The Truffle team has a fix incoming, currently in code review. Should be good to go in this week or next week’s release!

[2020-09-09 22:44] lunayui commented on #2655
I work with mocha 8 and have the issue

[2020-09-10 04:31] rafarodra commented on #4009
Thanks for replying back. In the meantime, I set up Ganache to run 'Truffle test' to avoid downgrading Node. Thanks again.

[2020-09-11 13:08] FStefanni opened #4441 "Cleanup and management of command line arguments"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**

When a program access the `process.argv` array to get the command line, it just crashes since the command line
is dirty due to the running of mocha, i.e.:
* there will be mocha as first parameter
* possibly, there will follow the mocha parameters
* there will be no way to pass program/test specific arguments (i.

[2020-09-11 14:37] FStefanni commented on #4441
Hi,

I was missing that the actual first parameter is usually the interpeter (node),
so probably the "patched" command line should be something like:
[code]

Regards.

[2020-09-12 09:33] #4406 closed

[2020-09-12 17:52] resistdesign opened #4444 "Support Yarn Workspaces/Monorepos with `--require`"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**
`--require` can't find some modules, like `ts-node/register`, when working in a `yarn` workspace.

**Describe the solution you'd like**
I'd like to see `--require` find modules when using `yarn` workspaces.

**Describe alternatives you've considered**
Jest doesn't support the `exports` style of "ui" or I might us

[2020-09-13 10:52] #4226 closed

[2020-09-14 01:45] zyf0330 commented on #4406
I want to use `files` option to load setup script.

[2020-09-14 12:35] gcatto opened #4445 "Mocha cli throws "ES modules is not supported" error"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-09-14 15:33] gcatto commented on #4445
Finally (perhaps took too long...) figured out that needed to rename my `.mocharc.js` to `.mocharc.cjs`

[2020-09-14 15:33] #4445 closed

[2020-09-14 22:50] boneskull commented on #4433
See #4439 for reasoning

[2020-09-14 22:50] #4433 closed

[2020-09-14 22:52] boneskull commented on #4433
For anyone who wants to use `--prof`:

1. All V8 options (of which `--prof` is one) can be specified by prepending `--v8-` to the flag name, so use `--v8-prof`
1. Alternatively, use `NODE_OPTIONS=--prof` env var

[2020-09-14 22:56] boneskull commented on #4444
This is not a `mocha` problem and is likely due to misuse/misconfiguration of workspaces

(you can also use `mocha --require ts-node/register` but that's not likely to work if your file above doesn't)

Ensure you are running `mocha` from a directory that has a `node_modules` containing `ts-node`.  You can also likely get some magic path resolution by adding `mocha` to your `test` lifecycle script

[2020-09-14 22:56] #4444 closed

[2020-09-14 22:58] boneskull commented on #4441
Hi,

Since your program is expecting `process.argv` to have a certain value, to test your program, you can:

1. Use `child_process.spawn()` or other to create a subprocess with the particular args (if you want an integration/functional test), or
2. Use a hook or root hook (see https://mochajs.org/#root-hook-plugins) to fiddle with `process.argv` yourself

[2020-09-14 22:58] #4441 closed

[2020-09-14 23:05] boneskull commented on #4423
This is surfacing via `core-js` and may be configurable via babel options.  See https://github.com/zloirock/core-js/pull/249

I'll take a further look.

[2020-09-14 23:25] boneskull commented on #4423
This is symptomatic of a bigger issue: we are leaking polyfills into the global context.

I _think_ I might have a fix for this... sending PR

[2020-09-15 06:11] FStefanni commented on #4441
Hi,

well, I know I can do tricks to adjust the command line.
The point is: a built-in feature could avoid mocha users to do these tricks manually, or, in other words,
it would simplify the mocha usage. Usability is a product value.

Regards

[2020-09-15 08:19] bajtos opened #4448 "Better default test location for monorepos and TypeScript projects"
As a long-time Mocha user, I often prefer to skip `npm test` and to run mocha directly from the command line, e.g. `mocha` or `mocha -b`. This works great for traditional projects containing a single npm package written in JavaScript, where all tests are usually located in the directory `test`. Unfortunately, monorepos and TypeScript projects use a different convention for placing test files, ther

[2020-09-16 11:28] scottmwyant opened #4449 "Trouble installing mocha (local and global)"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-09-17 02:14] fotoflo commented on #2026
Using xit.() makes tests pending - which confused me as a new user because pending means "awaiting decision or settlement." - i assumed it was some async that hadn't completed.

seems skipped would be a better description for xit.

[code]

[2020-09-19 05:58] #4390 closed

[2020-09-19 05:59] outsideris commented on #4013
Closed by #4402

[2020-09-19 05:59] #4013 closed

[2020-09-20 07:29] laike9m commented on #3780
This is not elegant, but could work

[2020-09-20 12:04] #3893 closed

[2020-09-21 01:23] fitorec commented on #2958
:neckbeard: Other option, you can use de TIMEOUTS suite, check this example:

[code]

More info: :point_right: <https://mochajs.org/#timeouts>

[2020-09-22 10:36] fgarcia opened #4451 "Document (and/or ease) how to customize Mocha globals"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**

The alternative title: "Make Mocha even more extensible"

I am always tempted to customize / extend Mocha globals to:
   - ease some testing patterns
   - avoid requesting a new feature because I am not  even sure myself it would be worth increasing the feature creep of Mocha

For example:
[code]

**Describe the

[2020-09-22 15:13] togakangaroo commented on #1293
This never got added. Can it get added?

[2020-09-24 05:27] resistdesign commented on #4444
@boneskull Sorry if I made it confusing, I use the file I mentioned above because just using `--require ts-node/register` in a monorepo package doesn't work for some reason.

[2020-09-24 15:48] scottmwyant commented on #4449
Closing the issue.  I get the same error attempting to install `wrap-ansi` package directly.  Reference https://github.com/chalk/wrap-ansi/issues/44#issue-708281442.

[2020-09-24 15:48] #4449 closed

[2020-09-24 22:28] Craigfis opened #4452 "Upgrading to mocha 8.1.3 fails with error "Unexpected token import""
### Prerequisites
- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppor

[2020-09-25 17:28] rickcarrier commented on #4308
@boneskull Any estimate when v8.2.0 will be released?  I'm trying to prioritize some work based on when this fix will be available.  Thanks!

[2020-09-25 23:20] boneskull commented on #4452
- Please provide a complete stack trace
- What version of node?
- Can you supply something that I can test with, like a sample repo?

[2020-09-25 23:26] boneskull commented on #4451
You can create a custom interface to do this.  Look at e.g., `test/integration/fixtures/simple-ui.fixture.js`, and use that as a starting point.  You can then use `mocha --ui path/to/my-interface.js`.  The interface will listen for the `EVENT_FILE_PRE_REQUIRE` `Suite` event, then put whatever functions into the `context` object.  Generally speaking, the `context` object is `global`.

[2020-09-25 23:26] #4451 closed

[2020-09-25 23:27] boneskull commented on #4451
(see `lib/interfaces/bdd.js` for the default interface, which might be better to build off of)

[2020-09-25 23:33] boneskull commented on #4448
[code]

Does that work for your use-case?

I think though you're asking for _more default test file directories_, which I don't think is _necessarily_ a bad thing _if_ we have some data on what exactly are the most popular locations for test files.  I am not sure how I'd surface this info, but it'd seem like either a GH or BigQuery search would help.  It may turn out that `dist/__tests__` is way d

[2020-09-27 10:40] outsideris commented on #4421
I made two same files under a test directory with the code above. But it's passed. If you didn't close sockets or servers properly at end of your tests, it can affect other tests.

[code]

with mocha 8.1.3 and node.js v12.18.4.

[2020-09-28 03:05] chenzx commented on #4421
I'm no longer digging this problem anymore. The bug case may be not accurate, but the description happened here(--exit options cannot steadily effect when running multiple test files)

[2020-09-28 09:52] gurjeetbains opened #4453 "mochawesome, mocha-reporter-junit, third-party reporters do not work in parallel mode"
Here is the screenshot of report in parallel mode
![image](https://user-images.githubusercontent.com/19879766/94417432-8e7e3200-01dc-11eb-9a9a-4c90eb9e45d3.png)

Here is the screenshot of same in serial mode
![image](https://user-images.githubusercontent.com/19879766/94417809-0b111080-01dd-11eb-832b-9014ca33a4cb.png)
Here is the details of package.json files:-
`{
  "name": "playwrightmocha",
  "ve

[2020-09-28 22:19] boneskull commented on #4453
you and/or the mochawesome maintainer(s) would need to find the root cause of the failure; once we have that, we can see if it's fixable.  the data reporters get in parallel mode is _not_ the same as serial mode; see #4403

going to leave this open, but it's not actionable until we know more about why.

(note: mochawesome is not maintained by the mocha team)

[2020-09-28 22:20] #4421 closed

[2020-09-28 22:22] boneskull commented on #4414
thanks for getting that.

the lib we use internally for assertions, [unexpected](https://unexpected.js.org), has a default maximum depth setting.  I think adding a feature like that might work.

[2020-09-29 05:14] gurjeetbains commented on #4453
@boneskull  I tried with the junit-reporter for mocha and got the below error. Mochawesome I don't have error
D:\My Practice Projects\playwrightmocha\node_modules\mocha\lib\nodejs\parallel-buffered-runner.js:269
          throw err;
          ^

TypeError: Cannot read property 'testsuite' of undefined
    at lastSuite (D:\My Practice Projects\playwrightmocha\node_modules\mocha-junit-reporter\index

[2020-09-29 06:59] segrey commented on #4403
@boneskull Sorry for bothering, any updates on this? Seems it's mostly fixed, at least it works for me locally with #4409.

[2020-09-29 23:08] boneskull commented on #4414
this code is not really so easy to work with... not having luck simply patching it, but feel free to take a crack at it to solve this immediate problem.  I think this is a dupe of #3675 anyway.

[2020-09-29 23:08] #4414 closed

[2020-09-29 23:09] boneskull commented on #3675
I would like to see this move forward, as we are still getting issues relating to it.

[2020-09-29 23:10] boneskull commented on #3675
it has issues from top to bottom -- from the stringification code to the diffing of those canonical results... yuk.

[2020-09-30 04:51] dvtate commented on #4414
Yea, fixing #3675 would probably also fix this. Unfortunately I'm busy with work+uni so not a lot of free time currently. The example I made is kinda weird because it's testing something that normally would only be run in browser using node. Right now at work I replaced chai with builtin assert so at least it's not an immediate problem, but would improve readability

[2020-09-30 12:55] praf111 opened #4454 "Some tests get skipped when the whole test folder is given as part of configuration whereas all tests pass when they are ran individually"
### Prerequisites

- [ x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't sup

[2020-09-30 18:08] Craigfis commented on #4452
This was with node 8.15.1

Stack trace:
/builds/extensibility/gallery-api/node_modules/mocha/lib/esm-utils.js:6
     return import(url.pathToFileURL(file));
            ^^^^^^
 SyntaxError: Unexpected token import
     at createScript (vm.js:80:10)
     at Object.runInThisContext (vm.js:139:10)
     at Module._compile (module.js:617:28)
     at Object.Module._extensions..js (module.js:664:10)

[2020-09-30 18:17] Craigfis commented on #4452
Sorry, I just found in the release notes: 'Mocha no longer supports the Node.js v8.x line' :-(

[2020-09-30 18:32] #4452 closed

[2020-09-30 19:00] Craigfis commented on #4452
Confirming upgrading my version of node fixed the problem.
Would've been nice if mocha detected it was running on an unsupported node version.

[2020-10-01 03:37] beckbria commented on #4377
I hit this because my version of Node was out of date (v8).  Updating to a newer build (v14.13) caused the error to go away.

[2020-10-01 20:14] catdad opened #4456 "parallel workers should have an ID that can be used to prevent conflicts among workers"
**Is your feature request related to a problem or a nice-to-have?? Please describe.**
I have a problem. I need to start a server on a pre-know port (due to limitations of a third-party library). I usually hard-code this port, but when running parallel tests, I need to start multiple unique servers -- one for each worker. I can't just check for a free port due to race conditions. Usually, parallel

[2020-10-02 12:32] dschiller commented on #4377
Agree with Brian. Updated Node to 12.x and it works.

[code]

[2020-10-02 21:21] boneskull opened #4460 "run browser tests on GHA"
Once #4459 lands, the only thing building on Travis-CI will be the browser tests.  I'd like to see those moved as well, but I'm struggling to get it working ([example](https://github.com/mochajs/mocha/runs/1200904392?check_suite_focus=true#step:10:1)).

This CI config is where I left off:

[code]

In addition, some changes to `karma.conf.js` will be necessary, e.g.:

[code]

- For whatever reason,

[2020-10-02 21:22] boneskull commented on #4460
I wonder if @christian-bromann is bored and might want to shoot a pointer my way 😇

[2020-10-02 21:36] boneskull commented on #4403
To get at `Base`, you can do `require('mocha').reporters.Base`.

The problem with exposing the `ParallelBuffered` reporter this way is that it should not get shipped to a browser.  Further, `ParallelBuffered` is not designed to be used directly (e.g., via `--reporter parallel-buffered`).  So it breaks the convention.  I'll try to think of a better way to expose it, but just use the module path for

[2020-10-03 06:04] umakanth-pendyala commented on #3772
I have a similar kind of problem. Please take a look at the following link.
https://stackoverflow.com/questions/64173341/unable-to-find-server-js-file-while-testing-with-mocha

[2020-10-03 06:30] umakanth-pendyala commented on #2902
I have a similar kind of issue. Please take a look at the following link
https://stackoverflow.com/questions/64173341/unable-to-find-server-js-file-while-testing-with-mocha

[2020-10-03 06:35] umakanth-pendyala opened #4461 "unable to find server.js file while testing with mocha"
Guys I am using mocha and chai to test my node js/express application.

Here is my directory structure.

[code]

the scripts field in the package.json file is as follows.
![](https://i.stack.imgur.com/KejTA.png)

This is the testing code I have written for a file named list_dentist.js
[code]

whenever I type `npm run test `in the terminal I get the following error

[code]

Guys, i am new to Github

[2020-10-03 08:26] juergba commented on #4461
This path looks different. Is your shown directory structure and file name correct?
` - D:\Smilycon Internship\Journal Server\test\app\routes\admin\dist\list_dentists.dev.js`

[2020-10-03 08:40] umakanth-pendyala commented on #4461
Yeah, this was a silly mistake. I didn't know that I have to keep file names of test scripts as *.test.js. I kept simple *.js even for the test scripts due to which a **dist** folder is created in the admin directory and in that the file named **list_dentists.dev.js** is created. Now for this level of directory, the path to the server.js file will be different obviously. So I am getting that error

[2020-10-03 08:49] #4461 closed

[2020-10-03 11:42] segrey commented on #4403
Thanks for the information. The problem with `require('mocha')` or `require('mocha/some/inner/module')` calls from `mocha-intellij` is that the calls will fail in Yarn 2 PnP environment (and possible some other environments) as `mocha` is not a dependency of `mocha-intellij` actually. So far, IntelliJ integration assumes that these calls might fail and it still functions normally without it (kind

[2020-10-03 15:47] rgroothuijsen commented on #4456
If registering workers with a unique ID is all that's required, one option would be to use dedicated cluster orchestration tools such as [ZooKeeper](https://zookeeper.apache.org/). They're designed to handle the race conditions you describe.

[2020-10-03 16:38] umakanth-pendyala opened #4462 "Error: Timeout of 10000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves."
Guys I am getting this error whenever I use async/await functions in it()method
Take a look at the **test_script.dev.js** file

[code]

when I type npm run test command in my terminal. I get the following output

[code]
Even though I extend the time to 10s, It's throwing me an error.
If I have failed to describe the problem clearly. Please tell me what else do I have to upload.

[2020-10-03 17:01] catdad commented on #4456
I'm not really describing cluster orchestration. In fact, my software has nothing to with clustering. And I feel like integrating a complicated orchestration framework in order to write trivial tests is not feasible. Providing an ID for test workers is a very common for parallel testing libraries. Am I missing something?

[2020-10-04 02:42] yomed commented on #4149
This should be straightforward once `ms` supports decimal places https://github.com/vercel/ms/pull/125

[2020-10-04 05:41] #4274 closed

[2020-10-04 08:28] juergba commented on #4462
@umakanth-pendyala please note this is an issue tracker, not a help forum. You can try to get support in our [gitter chanel](https://gitter.im/mochajs/mocha).

`it("should send status 401 when token is not present", async (done) => {`
Above line doesn't make sense, you have an `async` keyword and a `done`callback. And you never call the callback in your code.

[2020-10-04 09:52] outsideris commented on #4456
Couldn't you use a kind of [get-port](https://www.npmjs.com/package/get-port) module to address your issue?
Otherwise, how will you use `MOCHA_WORKER_ID` for your available port?

[2020-10-04 10:48] outsideris commented on #3951
I believe it only a bug with `mocha.opts. but we already drop to support `mocha.opts `.

[2020-10-04 10:48] #3951 closed

[2020-10-04 12:46] catdad commented on #4456
I actually did use that module, and there's a problem with doing so. This module and others like it work in a deterministic way every time. They start at one port, and just increment up until they find a free port. That means that when you first start several workers, they will all find the same free port. Then when you try to start the server, only one of the workers will actually succeed startin

[2020-10-05 09:29] christian-bromann commented on #4460
Let me take a look at that!

[2020-10-05 17:20] christian-bromann commented on #4460
Ok, some things I noted:

[code]
these are old capabilities, I recommend to update them to:

[code]

Then it seems that it tries to run a browser in CI instead of on Sauce Labs. Let me try to setup and example repository to see if I run into the same.

[2020-10-05 21:32] daveisfera opened #4466 "Hangs when using deasync"
### Prerequisites

- [X] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [X] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2020-10-06 14:43] juergba commented on #4466
I don't trust this `esm` package. It's not well maintained anymore and I remember having had problems with it in the past.
Could you pass `-r esm` directly to Node, please? And see what happens?
`node -r esm node_modules/mocha/lib/mocha test.js` or via NODE_OPTIONS.

[2020-10-06 14:44] #4462 closed

[2020-10-06 14:55] daveisfera commented on #4466
Here's the results of the tests with different ways of running with `esm`:
`NODE_OPTIONS="-r esm" node_modules/.bin/mocha test.js` - hangs in the same way
`node -r esm node_modules/mocha/lib/mocha.js test.js` - exits without doing anything
`node -r esm node_modules/mocha/bin/mocha test.js` - hangs in the same way

Here's a test from running with the ESM support from node 14:
`NODE_OPTIONS=--experi

[2020-10-06 15:30] juergba commented on #4466
`node test.mjs`
Above doesn't work, without `esm` and but with extension `.mjs`?

[2020-10-06 16:27] juergba commented on #4466
Btw I'm quite sure Mocha's `require` does support ESM modules.

[2020-10-06 17:54] daveisfera commented on #4466
Using `.mjs` hangs as well

That comment was meant in relation to doing `node --require settings.js test.js` so that `settings` would pre-load before the rest of the modules and worked with `esm` but [doesn't work with node's built-in ESM support](https://github.com/nodejs/node/issues/35103)

[2020-10-07 05:13] tj opened #4467 "Delete my code"
Since [OpenCollective](https://opencollective.com/mochajs) has more funds than I do in the bank, and no one is willing to share for the % of contributions I've made to the project, I would like to delete every line which is still associated with my commits. I'll try to send a pull-request soon, same for the docs and website.

[2020-10-07 07:39] jspiro commented on #4467
You've given so much to the JavaScript community for so many years. You absolutely deserve whatever there is for your contributions.

If you want to be punitive, also delete lines modified after you created them... 💪🏻￼￼

[2020-10-07 07:45] tj commented on #4467
To be fair he's done a lot of work as well, just feels a bit shady, but whatever don't worry about it I guess. OSS sucks

[2020-10-07 07:45] #4467 closed

[2020-10-07 20:51] boneskull commented on #4403
Mocha makes the assumption that a custom reporter will have a `peerDependency` of `mocha`.  I'm not sure what that means for IntelliJ.  But it does mean that `require('mocha/some/deep/module')` is expected to work.  I don't think this is an unreasonable assumption... you need `mocha` somewhere if you expect a Mocha reporter to do anything, right?

I want to be clear, though: I am not going to go o