[2018-10-06 11:14] def14nt commented on #3489
I need this for `@babel/register`, because the alternative (bundling tests with code) is not pretty.

[2018-10-06 22:27] plroebuck commented on #3489
If by FAQ, you mean [this](https://github.com/mochajs/mocha/wiki/Using-mocha-programmatically)?
No real magic here at all. Basically boils down to this:

[code]

[2018-10-07 11:41] plroebuck commented on #3475
@dougwilson, any problems with patch?

[2018-10-07 14:30] #3472 closed

[2018-10-10 11:29] pronebird opened #3490 "Mocha does not catch crash in native extension"
### Prerequisites

- [ ] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-10-10 15:02] laurentpayot commented on #2107
To overwrite `console.log` and make it silent you can simply use [a stub](https://sinonjs.org/releases/v6.3.5/stubs/):
[code]

[2018-10-10 19:41] plroebuck commented on #3490
You're running someone else's code, not ours -- file your bug report [here](https://github.com/jprichardson/electron-mocha/issues).

[2018-10-11 07:44] pronebird commented on #3490
@inukshuk you think it’s electron-mocha issue? 🤔

[2018-10-11 09:27] #1734 closed

[2018-10-11 09:28] #2293 closed

[2018-10-11 09:29] Bamieh commented on #2483
Mocha has this feature now, reopen if i am misunderstanding this issue.

[2018-10-11 09:29] #2483 closed

[2018-10-11 09:30] #2282 closed

[2018-10-11 09:31] Bamieh commented on #2564
I believe recursive is well documented on the website now

[2018-10-11 09:31] #2564 closed

[2018-10-11 09:33] Bamieh commented on #2280
we have `--forbid-only` flag now

[2018-10-11 09:33] #2280 closed

[2018-10-11 09:35] Bamieh commented on #2936
Travis is giving us all we need at this moment, feel free to re-open if this needs to be brought up again

[2018-10-11 09:35] #2936 closed

[2018-10-11 09:37] #2650 closed

[2018-10-11 09:44] #3490 closed

[2018-10-12 00:04] nojvek opened #3514 "autoscroll mocha html reporter"
We use saucelabs which records browser tests in different browsers. The recordings aren't meaningful as it only shows the first few tests, if something goes kaboom in an off-scroll area, it's not easy to know.

Would be nice to set an option to mocha so it automatically scrolls html #mocha (like a cli console) when there is new output.

[2018-10-12 14:47] #2684 closed

[2018-10-12 16:16] pronebird commented on #2975
Is there any plan to fix this? I need async `describe` to spin off mongo before creating the app and running tests.

[2018-10-12 16:34] plroebuck commented on #2975
Why not spin up MongoDB in root-level `before()`, or use `--delay` with `this.run()`?

[2018-10-12 16:39] pronebird commented on #2975
@plroebuck `--delay` could work. That's the scenario I have:

[code]

[2018-10-12 16:53] plroebuck commented on #2975
Maybe...
[code]

[2018-10-12 17:05] pronebird commented on #2975
@plroebuck Thanks. Surely that works except that Flow doesn't know how mocha works so it will likely force me to check if `expressApp` is null in each occurrence. Doh.. :/

[2018-10-12 17:22] plroebuck commented on #3004
@arvind, To my knowledge, _no one is working on this issue_!
Provide an MCVE and I'll take a look when I get a chance.

[2018-10-12 17:40] plroebuck commented on #2975
LOL...
[code]

".flowconfig"
[code]

[2018-10-12 19:15] plroebuck commented on #3004
Unverified but...

`exports` ui:
* minus sign prepended to title will skip test, same as calling `it.skip`
* exclamation point prepended to title will make test exclusive, same as calling `it.only`

[2018-10-12 23:12] sberney commented on #2684
@plroebuck I also seriously doubt this will be changed, but, for the record, this is a deal breaker.

If I had found or do find any test runner libraries (regardless of its ecosystem maturity, which of course wouldn't match mocha's) that ran mocha-compatible BDD-style tests, but just in order, I would switch to that in a heartbeat.

Your suggestion isn't realistic when you get into complicated nes

[2018-10-13 09:16] plroebuck commented on #2684
@sberney, I don't know your situation. Your initial comment only suggested 3 steps, which isn't all that complex. I only suggested wrapping the first and last parts of your smoke test for grouping to achieve your desired effect. Perhaps for more complex scenarios, I would have unique hierarchially-valued strings in the file headers. Simple shell script could then grab whatever was grepped for, cre

[2018-10-15 05:52] nigurr opened #3516 "[Proposal] Request to add support for CI/CD pipelines for Test reporting"
_Issue:_

Currently Azure DevOps and Circle CI/CD systems provide rich test experience.
In order to get this experience/track test reporting, users has to explicitly generate test reports (currently supported format JUnit) by 3rd party plugins and publish test results.

Most of the popular open source projects aren't using 3rd party reporting plugins.
To keep local development experience and CI/CD

[2018-10-15 08:00] plroebuck commented on #3483
Verified that output is squelched after installation of ```libnotify-bin```.
See [here](https://travis-ci.org/plroebuck/mocha/jobs/441521875).

[2018-10-15 13:30] plroebuck commented on #3483
@alanstevens, could you be talked into fixing your [Growl Chocolatey package](https://chocolatey.org/packages/Growl) so we can get Mocha working correctly for AppVeyor?

[2018-10-16 12:12] plroebuck commented on #3483
@Iristyle, could you be talked into fixing the [Growl Chocolatey package](https://chocolatey.org/packages/Growl) so we can get Mocha working correctly for AppVeyor?

[2018-10-16 14:43] eKoopmans commented on #545
**Tested under:** Browser (Chrome 69.0.3497.100)

**Issue:** `mocha.js` internal stack trace isn't hidden when the file has a different name (e.g. `mocha.min.js`)

---

Hi @boneskull, I appreciate that the internal stack trace has been hidden for the standard use case, but I've encountered that any change to the filename of `mocha.js` (e.g. to `mocha.min.js`, as in @vincentntang's example above) p

[2018-10-16 14:57] sparkida commented on #1810
I think the Mocha wiki article ["Using Mocha programmatically"](https://github.com/mochajs/mocha/wiki/Using-mocha-programmatically) is what a lot of people are looking for.

[2018-10-16 21:13] enobufs commented on #1810
Just to be clear...

This issue is about the command line script, [mocha.js](https://github.com/mochajs/mocha/blob/v5.2.0/bin/_mocha).

[2018-10-16 23:14] plroebuck commented on #1810
@enobufs wrote:

FTFY

[2018-10-16 23:14] plroebuck commented on #1810
@antoinebrault, @sa-0001, no one provided an MCVE for #2063. Anyone have one that we could test against?

[2018-10-16 23:19] plroebuck commented on #1810
@enobufs, still nothing we can test against from you either. Give us something that replicates the problem to test with. If you have an implementation suggestion that _doesn't_ involve monkey-patching `Mocha.run()`, it would be welcome.

[2018-10-16 23:35] jasonswearingen opened #3519 "Mocha ignores timeout on Promise test functions"
### Prerequisites
- [ X] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ X] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't supp

[2018-10-17 02:43] enobufs commented on #1810
@plroebuck I made a proposal for this issue, along with a test case for it to demonstrate what the issues are and how it can be solved.

https://github.com/enobufs/mocha-issue-1810-test

Please review.

[2018-10-17 04:19] nigurr commented on #3516
I would be very happy to answer any queries, will be looking forward to listen to community feedback.

[2018-10-17 07:41] alnvny opened #3520 "adding timestamp in multiple describe prints sametime"
file auth.js
var now = new Date();
describe('AUTH test set: ' + now.toUTCString(), () => {
//has test cases which will run for atleast 2 mins
}

file info.js
var now = new Date();
describe('INFO test set: ' + now.toUTCString(), () => {
//has test cases which will run for atleast 2 mins
}

I run the code using the below command,
mocha test/auth.spec.js test/info.spec.js

when I see the console I am

[2018-10-17 08:25] rla opened #3521 "Inconsistent event output in browser with json-stream reporter"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-10-17 08:32] rla commented on #3521
Comes out that there is a PR that is supposed to fix it yet this issue seems to not be filed before: <https://github.com/mochajs/mocha/pull/3477>

[2018-10-17 08:36] rla commented on #3521
Looks like it was filed before in #2095 but the proposed fix there did not completely fix the issue.

[2018-10-17 14:41] amitp29 commented on #3237
Where can I find travis.yml file. I am using node v10.38. It doesn't use .nvmrc, am I missing out on anything?

[2018-10-17 16:01] mwaz commented on #3237
you create a .travis.yml file, to hold your configurations when running travis

[2018-10-17 23:56] plroebuck commented on #3521
Well, thanks for filing this -- you pointed us to a test case! Had delayed pushing #3477 forward without knowing what (if anything) depended on the current behavior. Yes, standardizing the output stream is _high_ on the list as well; but that would not be until the next **major** release at best.

[2018-10-18 03:04] jasonswearingen commented on #3519
my workaround code, using typescript, ```xlib``` and ```bluebird```, so you'll need to adjust it slightly based on your promise library of choice, and ditch the function name reflection code I'm using from xlib.

[code]

[2018-10-18 09:18] outsideris commented on #3520
Why do you think they should be different?

[2018-10-18 09:20] plroebuck commented on #3520
Spec files from cmdline are loaded via `require`. This occurs _quickly_. If you change your `describe` titles to `Date.now()`, you might see an msec difference between the two files. As such, your `describe` title timestamps represent load time, not run time.

[2018-10-18 11:45] Moulde commented on #2327
Adding --watch-extensions ts works for me too (on osx, visual studio code) 👍

mocha -r ts-node/register test/**/*.ts --reporter mochawesome --reporter-options reportDir=TestResults --watch --watch-extensions ts

[2018-10-18 11:53] hadrich-hatem opened #3523 "Use the global variable outer of `it` block"
When i run this code i get always the value of `undefined` for the global.currentValue in the description of `it`
Is there any solution to solve this problème and that i can use a global variable outer of `it` block ?
[code]

### Versions

- The output of `mocha --version` and `node node_modules/.bin/mocha --version`: v5.2.0
- The output of `node --version`: v10.6.0
- The version and architecture

[2018-10-19 09:13] ArkeologeN commented on #3398
A soft reminder here - it became a breaking change for us today, as we expect `afterEach` to make `cleanup` onto the nested `context` block.

[2018-10-19 10:10] plroebuck commented on #3096
Possible that the fix to this problem should have been done [here](https://github.com/outsideris/mocha/blob/e798eeca5ba3e9d6e37a1d9bfa2ed9ff8215b6dc/lib/runner.js#L842) instead?

Done is done, right? Just process the event **once**.

[code]

[2018-10-19 10:39] plroebuck commented on #3398
Think #3278 should be backed out.
IMO, it's completely wrong: `--bail` was **not** supposed to stop the `after` or `afterEach` hooks of the failed test.

[2018-10-19 10:43] plroebuck commented on #3398
@rainder, but it does work without `--exit`?

[2018-10-19 10:45] plroebuck commented on #3520
Question answered? Can we close this?

[2018-10-19 13:42] plroebuck opened #3524 "Fix Base reporter test failure due to timeout"
### Description

Quite often see existing test fail after push due to timeout (especially on Appveyor),
which causes CI build to fail.

[code]

### Steps to Reproduce

**Expected behavior:**
Expect untouched code to pass all existing tests.

**Actual behavior:**
Sometimes fails for `Base` reporter attempting to interpret Chai custom error messages due to timeout.

**Reproduces how often:**
Random

[2018-10-19 18:38] rainder commented on #3398
Yes. It does work without exit.

[2018-10-19 19:52] plroebuck commented on #3433
Hey, they finally released the fix in v2.19.0.

[2018-10-19 23:59] randonia commented on #3044
I ran into this very issue writing a Serverless function that communicated with Firebase. Turns out their admin SDK maintains an open handle indefinitely. Because of this change (and the subsequent suggestion to use `wtfnode`, I was able to identify that fact and save myself a **ton** of headache (and costs) down the road.

In my opinion, it would be very helpful to include some sort of "if it han

[2018-10-20 01:22] plroebuck opened #3526 "JSONStream ctor misnamed"
### Description

`JSONStream` constructor is misnamed, possibly due to cut'n'paste creation.

[2018-10-20 06:45] plroebuck commented on #3521
My _first_ "Mocha in the browser" test!

### Files:
"auth.spec.js"
[code]
"browsertest.html"
[code]

### Steps:
* Loaded HTML file into browser window
   * Expect no visible output on webpage _ever_.
* Open browser console
   * Cleared (press trashcan icon in console on Firefox)
* Reload current page

### Results:
[code]
**Note the last line starts with `stdout: `.**

### Reccomendations
1. We now

[2018-10-20 07:57] plroebuck commented on #2095
PR #2373 had a bug which left the `stdout: ` prefix intact.
PR #3477 corrects that problem.

My tests confirm that the prefix is gone afterwards. But I find **no** evidence of terminal control codes in `spec` reporter output. Obviously, some reporters (`nyan`, `landing`, etc.) are lost causes for the browser console.

Plan to close this (again, for good) when #3477 is merged.
If you still experien

[2018-10-20 12:09] plroebuck commented on #3520
See also #3523.

[2018-10-20 12:09] #3520 closed

[2018-10-20 20:45] outsideris commented on #2095
close by #3477

[2018-10-20 20:45] #2095 closed

[2018-10-20 20:45] outsideris commented on #3521
close by #3477

[2018-10-20 20:45] #3521 closed

[2018-10-21 00:33] outsideris commented on #3526
Will you submit a PR?

[2018-10-21 00:41] #3320 closed

[2018-10-22 10:43] alnvny commented on #3520
Thanks a lot. This answered my question

[2018-10-23 12:36] aido179 opened #3530 "Mocha does not recognise third party reporters installed from a local directory"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-10-23 13:37] plroebuck commented on #3530
You verified installation?
[code]

[2018-10-23 13:52] plroebuck commented on #3404
Looks like you're generating files to be tested. Did you attempt to make use of `--delay`?

[2018-10-23 13:54] aido179 commented on #3530
Yep, definitely installed.

[2018-10-23 14:06] plroebuck commented on #3327
Are you specifying a file with `--file` that would _also_ be included from recursive directory walk of your project's "test" directory?

[2018-10-23 14:10] plroebuck commented on #3342
Should this issue already be closed?

[2018-10-23 17:55] plroebuck commented on #3530
Very odd. All you should have needed to do was add the reporter as a dependency of your project.
[code]

[2018-10-23 17:55] plroebuck commented on #3530
As a **test**, does this work?
[assumes your reporter implementation is a single file]
[code]

[2018-10-23 18:58] plroebuck commented on #3516
JUnit is a test specification format for Java, not a report.
And CircleCI does **not** specify a report format.

Doesn't matter whether most open source projects are using 3rd party reporters or not; if they use Mocha, you can install your own reporter and use that instead. But not sure why you're trying to run tests on open source projects rather than your own code.

And? Par for the course, no?

[2018-10-23 19:19] aido179 commented on #3530
Your first test:

Worked and outputs: ```[Function: apmochareporter]``` Which suggests that the dep is indeed there.

Your second test, creating a symlink worked as expected. The tests run, the reporter works.

For reference, the exact code I'm working with is [here](https://github.com/aido179/apb-mocha-reporter)

[2018-10-24 08:39] plroebuck commented on #3247
BTW, you could _alter_ Chai's default `expect` assertion message:
See [here](https://github.com/chaijs/chai/issues/81) and [here](https://stackoverflow.com/questions/45678706/how-to-provide-chai-expect-with-custom-error-message-for-mocha-unit-test) for details.

[2018-10-24 08:43] plroebuck commented on #3247
BTW, your `testsPassed`, `testsFailed`, and `totalTests` variables above are already available via Mocha-provided `runner.stats` object.

[2018-10-24 08:44] #3247 closed

[2018-10-24 08:59] plroebuck commented on #3383
There are **no** links in Mocha's stacktrace output. `vscode` is _creating_ those links for you.

[2018-10-24 10:05] plroebuck commented on #3530
Relevant Mocha code is [here](https://github.com/mochajs/mocha/blob/2344119a178c6a2210cf41c42e97d7140edcac74/lib/mocha.js#L158-L224).

Technically, your function should be `apbmochareporter` though. Maybe just mistyped.
Suggest add `debugger` keyword in Mocha code above and see where it goes south.

[2018-10-24 10:05] plroebuck commented on #3530
Package suggestions:
* Use `runner.stats` instead of redoing its work
* Template doesn't belong in `src` directory
* Use [Mustache](https://www.npmjs.com/package/mustache)
* Let user provide the output directory
* Specify these in `package.json`:
   * `repository`
   * `keywords` include `reporter`
   * `bugs`
   * `homepage`
   * `engines`
* What? No tests? :(

[2018-10-24 11:39] aido179 commented on #3530
Yeah, mistyped it.

Will give it a go.

Many thanks. Will get on it!

:p

[2018-10-24 14:06] l1bbcsg opened #3531 "Error format is different depending on message content"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-10-24 18:16] plroebuck commented on #3516
So as I understand what you're in reference to now, CircleCI can provide additonal rich test results if the test output is formatted in JUnit's XML output format. OK. But you can't overgeneralize here, since (to my knowledge) most other CIs (e.g., Travis, Appveyor) don't -- it's _specific_ to your CI pipeline.

Since most CIs do nothing special based on output format type, it shouldn't be surprisi

[2018-10-24 18:50] #3483 closed

[2018-10-24 20:34] #3524 closed

[2018-10-25 00:13] outsideris commented on #3531
I'm not sure it is a bug or not.
BTW it is caused by [here](https://github.com/mochajs/mocha/blob/adb1f612a8e909c3ce158ab66f75bb4a54a29014/lib/reporters/base.js#L245-L246)

[2018-10-25 07:05] rishavsharan commented on #3516
Hi @plroebuck
Myself and @nigurr work on the Azure DevOps product. Our customers/users are the organizations and developers using our Pipelines to Build and Release their products.

Most Ci/CD platforms currently support jUnit-esque format to show rich test metadata.
For example;
Appveyor - https://www.appveyor.com/docs/running-tests/#uploading-xml-test-results
GitLab - https://docs.gitlab.com/ee/

[2018-10-25 11:17] plroebuck commented on #3516
Hello, @rishavsharan. Thanks for identifying yourself and your interest.

Huh, never really bothered to look for such a capability, treating the output as success/failure.
But since you pointed out [AppVeyor](https://www.appveyor.com/docs/running-tests/#uploading-xml-test-results) having this capability, I note it does support xUnit. Was unaware of GitLab's newfound capability. Bitbucket also allo

[2018-10-25 17:29] plroebuck commented on #3531
It's not a bug. Intentional behavior to support extended assertion messages from Chai.
Issue #991 has details, but if that's a TL;DR thing, Chai's [expect](https://www.chaijs.com/guide/styles/#expect) supports prepending arbitrary text to beginning of assertion messages.

Essentially, if you use `expect(someVar).not.to.be.undefined` and `someVar` is undefined, you get back `AssertionError: expecte

[2018-10-25 17:30] plroebuck commented on #3531
Please close this issue if that answers your question. Thx!

[2018-10-26 06:58] plroebuck commented on #1987
@Download I have no `babel` experience per se, but your repo problem would seem a little more basic than that. You never told Mocha to watch your JSX file. Try adding `--watch-extensions jsx`, Mocha only watches 'js' by default.

[2018-10-26 07:15] rishavsharan commented on #3516
@plroebuck Thanks for the link to the xunit reporter. This will be very helpful for our usecase.

Regarding the 2nd request of having environment variables to add/override the mocha configs, I fear shell variables will not work for us. To be able to use shell variables, the platform will have to know that the current project is actually running mocha as the test framework. Environment variables on

[2018-10-26 12:20] Download commented on #1987
@plroebuck Thanks for your reply!

Ok, this sounds interesting. Not being able to get this to work was my single biggest gripe with Mocha. So if there is a simple fis that would be great!

Just to see if I understand you correctly, are you saying that in `package.json` I should change the command that starts Mocha from

[code]

to

[code]

?

It seems pretty counter-intuitive to have to add this w

[2018-10-26 12:32] Download commented on #1987
Well I be darned!! This actually works! W00t w00t!!!!

Wow I cannot believe I spend so many hours trying to get this to work and somehow completely missed this watch-extensions thing. Man this is so great! I have been avoiding mocha + babel in my smaller projects even though I like both because the pain of watch not working was killing all the joy. With this fix I can finally use babel+mocha every

[2018-10-26 13:03] plroebuck commented on #3516
Sorry, but my reading of what you just said would imply one of two things:
1. You're going to create a `ONE_TO_RULE_THEM_ALL` envvar for _all_ test frameworks/runners.
1. You plan to create a fleet of envvars settings, pass them to pipeline where the project's test runner will pick it up the appropriate one automagically. (more likely)

There are platform-specific [limits](https://askubuntu.com/qu

[2018-10-26 13:47] plroebuck commented on #1987
But that's _not_ what you were doing. `--watch` is a non-positional boolean option. The file glob told Mocha _what to run_, not _what to watch_.

This aspect of watching files was covered in the `--compilers` deprecation [documentation](https://github.com/mochajs/mocha/wiki/compilers-deprecation#how-do-i-use-this-with---watch).

Sorry it took so long for you to get your answer. I _despise_ the sta

[2018-10-26 15:02] plroebuck commented on #3327
Afraid you'll need to provide an [MCVE](https://stackoverflow.com/help/mcve) to prove your point.
It seems to be functioning exactly as [documented](https://mochajs.org/#--file-file).

Reading the [code involved](https://github.com/mochajs/mocha/blob/adb1f612a8e909c3ce158ab66f75bb4a54a29014/bin/_mocha#L510-L557), files given via `--file` are handled [here](https://github.com/mochajs/mocha/blob/adb

[2018-10-26 20:42] #3327 closed

[2018-10-27 05:56] #3433 closed

[2018-10-27 11:14] RonanQuigley commented on #3383
Oops I forgot about this, and the email notification for this thread from that last comment popped into my head the fact that this fixed itself back at the end of June with vscode's update. Feel free to close this issue now.

[2018-10-27 22:08] plroebuck commented on #3429
Where's the code?

[2018-10-28 05:56] plroebuck opened #3537 "Philosophical Reporter Questions"
Full Disclosure: _Yes, I know the terminal codes will interfere with certain file formats._

* An upcoming change to the xunit reporter intentionally turns use of color off. If a user issues the command below, were his expections _met_?
[code]
* Should a reporter be able to completely disregard a user setting? If so, should it warn?

If the command line had been that below, I _could_ see not bothe

[2018-10-28 11:42] mlucool commented on #3537
I agree this should either warn or throw.

I have implemented something similar in my code, but the reporter for console is spec and the output for file is xunit because spec is great for people and xunit is great for machines.

[2018-10-28 16:12] christopherreay commented on #3429
oh hello, sorry. I'll dig it out tomorrow. works nicely

[2018-10-28 20:59] plroebuck commented on #3530
Were you able to track down why it wasn't loading?

[2018-10-29 01:38] plroebuck commented on #1931
I know `Runner#run` will invoke [end game processing](https://github.com/mochajs/mocha/blob/741c4c794c89f9cf7c590e8c220c8c16162c0465/lib/runner.js#L867-L871). But the reporter's `onEnd` handler should have been registered to run prior to the runner's handler.
After your reporter registers your `end` handler, where does it show up positionally?
[code]
It _can_ be forced to the front using this meth

[2018-10-29 21:12] dsagal commented on #2043
Actually now that --compilers is deprecated, mocha should really have an `--extensions` flag to add extensions both to the lookup pattern to find tests and to extensions to watch. (With `--watch-extensions` becoming an alias for it for backward compatibility.)

The important use-case is to put the list of extensions into `mocha.opts`, so that all tests in a directory may be run by only knowing the

[2018-10-30 11:10] aido179 commented on #3530
Not yet. Hope to have some time this evening to look into it.

[2018-10-30 15:39] juergba commented on #3519
If `mochaTest.timeout(1000)` were ignored then the default timeout of 2000ms would be activ. Therefore your test should fail with or without timeout of 1000. The problem is hidden somewhere else.

[2018-10-30 16:59] #3526 closed

[2018-10-30 18:17] robstoll opened #3540 "isMochaInternal to filter stack is too simple"
### Prerequisites

- [x ] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't sup

[2018-10-30 20:14] robstoll commented on #3540
Can be reproduced as follows:
1. git clone https://github.com/robstoll/atrium.git
2. git checkout mocha-filter-stack
3. open up a terminal in the root of the project and `gr :atrium-core-api-js:runMocha`
4. Will fail with something like:
[code]
=> see https://travis-ci.org/robstoll/atrium/jobs/448519900#4950 for an example.
It should be:
[code]
The duplicate `is: empty` is only because the first l

[2018-10-31 03:00] plroebuck commented on #3088
It's not Grunt's flag. `growlOnSuccess` and `growlOnFailure` are options for the [grunt-mocha](https://github.com/disqus/grunt-mocha/blob/master/tasks/mocha.js) Grunt task. This package is using Mocha programmatically, but the `ENOENT` errors are coming from the Grunt task itself (not Mocha).

[2018-10-31 07:56] juergba commented on #3519
I'm using NodeJS v10.5.0  and Mocha 5.2.0 and your example is working perfectly without any change.

![image](https://user-images.githubusercontent.com/44573692/47773486-82388400-dcea-11e8-9e73-46cbc721d98c.png)

[2018-10-31 10:00] plroebuck commented on #3519
_Please_ fill in the `Versions` information as originally requested for submitting a new issue.

[2018-10-31 10:15] plroebuck commented on #3519
**OS:** macOS 10.13.6 (17G65)
**Node:** v10.3.0
**Mocha:** 5.2.0

[code]

[2018-10-31 10:16] plroebuck commented on #3519
_Please_ fill in the `Versions` information above as originally requested for submitting a new issue.

[2018-10-31 10:47] iongion opened #3541 "Cannot understand if supported and how to use with babel 7"
### Prerequisites

- [x ] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't sup

[2018-10-31 10:48] iongion commented on #3541
Relevant dependencies:

[code]

[2018-10-31 11:25] plroebuck commented on #3541
Please add the OS information.

[2018-10-31 11:32] plroebuck commented on #3541
Honestly, not the "babel" guy here. @Bamieh would be better suited to help.

One thing I might suggest would be to change `--require setup-testing.js` to `--file setup-testing.js`, but that's unlikely your problem.

You didn't really give us enough to reproduce your problem though. Need [MCVE](https://stackoverflow.com/help/mcve).

[2018-10-31 13:39] iongion commented on #3541
Thank you so much, addressed the OS mention.

The problem I have might be very specific to my project, it simply dies silently **sometimes** and I cannot pin-point why, I have added a mcve, hopefully it will help others too with babel 7.
Added [mcve.zip](https://github.com/mochajs/mocha/files/2534563/mcve.zip)
But this one seems to just work every time. @plroebuck also changed to use `--file`
What

[2018-10-31 13:46] iongion commented on #3541
My test script actually ends like this:

[code]

But there is nothing else to see.

[2018-10-31 14:08] plroebuck commented on #3541
OS info is still rather lacking - windows version ???.

Not below you didn't...

Could it be related to cross-env's [quoting](https://github.com/kentcdodds/cross-env#cross-env-vs-cross-env-shell)?

As far as Mocha itself goes, I'd add `DEBUG="*"` environment variable. But it's still unclear whether you're showing me the actual command, or what you told `npm test` to run.

[2018-10-31 14:16] iongion commented on #3541
Running with this command:

[code]

It generates 16 mb output, that starts with:

[code]

And ends in:

[code]

And then no more output

[2018-10-31 14:33] iongion commented on #3541
Finally, managed to create a mcve with ability to reproduce the issue.

[mcve-with-issue.zip](https://github.com/mochajs/mocha/files/2534821/mcve-with-issue.zip)

Now, it is because of using  [fabric](https://github.com/fabricjs/fabric.js) which in turn uses [canvas](https://github.com/Automattic/node-canvas)

Now, when you run the tests, you will experience a silent fail:

[code]

[2018-10-31 14:50] plroebuck commented on #3541
**OS:** macOS 10.13.6 (17G65)
**Node:** v10.3.0
**Mocha:** 5.2.0 (master trunk)

Had to add `cross-env` to `devDependencies` to run (used latest):

[code]

[2018-10-31 14:55] plroebuck commented on #3541
[code]

[2018-10-31 15:04] iongion commented on #3541
@plroebuck The last issue with the zip file, dunno, I am using 7zip for both creating and unpacking

[2018-10-31 15:05] plroebuck commented on #3541
Its file size is _582 bytes_.

[2018-10-31 15:06] iongion commented on #3541
Try again, maybe it cached wrong in github CDN somewhere [mcve-with-issue.zip](https://github.com/mochajs/mocha/files/2534982/mcve-with-issue.zip)

[2018-10-31 15:07] plroebuck commented on #3541
Also, since you are using a glob, drop the `--recursive` argument to Mocha (unnecessary).

[2018-10-31 15:08] plroebuck commented on #3541
yeah, no change. rename it maybe?

[2018-10-31 15:19] Download commented on #1987
Yes I understand this now. But I hope you can see how this can be confusing.

Ha ha ha :)

Will do! Thanks for your help!!

[2018-10-31 15:25] iongion commented on #3541
I get a valid file when I download - even with curl :

[code]

[2018-10-31 15:30] plroebuck commented on #3541
That's what I get. But obviously the file cannot be unzipped...

[2018-10-31 15:36] iongion commented on #3541
I have placed it again here
[mcve-with-issues-2.zip](https://github.com/mochajs/mocha/files/2535152/mcve-with-issues-2.zip)

After some investigation, was able to keep the test engine running, by patching the global scope in the  setup-testing.js file by using fabric's jsdom inclusion and not my own:

[code]

This allows test runner to work.

[2018-10-31 15:41] plroebuck commented on #3541
No luck with that file either. But sounds like you're good now, right?

[2018-10-31 15:48] iongion commented on #3541
Somehow, it would be a gain if I can find why test runner silently dies with no output, I close the issue, as soon as I find, I will mention it here, thank you so much!

[2018-10-31 15:52] #3541 closed

[2018-10-31 16:06] plroebuck commented on #1987
BTW, _single quote_ your glob to prevent shell from (unhelpfully) expanding it for you...

[code]

[2018-10-31 20:01] plroebuck commented on #3519
Dunno since we have proven on both Window and macOS using Node-10.

You're not telling us something...
* How your Typescript solution fixes things, but you don't mention it in 'transpiled via' nor include `--require ts-node/register` and `--watch-extentions ts`?
* Why would your unit tests be in a "dist" directory?

Are you able to try running with Node-10 so we could compare against Juerg's resul

[2018-10-31 20:04] plroebuck commented on #1987
Closing this as having resolved Stijn's issue.

@opatut I'm hoping Scott had already resolved your problem.

[2018-10-31 20:04] #1987 closed

[2018-10-31 20:21] jasonswearingen commented on #3519
@plroebuck  regarding your questions:

- ***typescript?*** No.   Though I use typescript to write code, I am running mocha against the transpiled javascript directly.  The only difference in my actual ```.js``` file from the repo code I gave is that the ```.js``` file has a ```"use strict";``` line at the top and a ```//# sourceMappingURL=mocha.test.js.map``` line at the bottom.    I do not think

[2018-10-31 20:34] plroebuck commented on #3519
Fair enough (concerning Typescript), but I can't explain how you could run the _same_ version of Mocha against the _exact_ file above (even with a different version of Node) and **get different results**.

[2018-10-31 21:04] jasonswearingen commented on #3519
when i update node to 10.x I'll also check if there's something weird getting loaded in from node_modules (purge globals and run in an empty local folder)   will let you know then!

[2018-11-01 10:03] juergba commented on #3519
I confirm this error with --inspect. This flag is passed through from Mocha to Node, but I suppose it's not a Node's problem.

[code]
Above timeout is working correctly with and without --inspect.

[2018-11-01 15:44] juergba commented on #3519
`mocha --timeout --inspect` is giving the correct result and the tests are failing.

This is strange since --timeout is expecting a parameter ms.
`mocha --timeout`  as expected results in: `error: option -t, --timeout <ms> argument missing`

`mocha --timeout 0` and `mocha --inspect` show exactly the same results, tests are passing.

My guess is the value of timeout is lost somewhere when used with

[2018-11-01 17:48] plroebuck commented on #3519
[By design](https://github.com/mochajs/mocha/pull/1262). See [here](https://github.com/mochajs/mocha/blob/b9b3ac0122347df9b9699413d2025541674c929f/bin/mocha#L27-L34) in "/bin/mocha".

[2018-11-01 17:53] plroebuck commented on #3519
They [`--timeout`/`--no-timeouts`] cancelled each other out.

[2018-11-01 17:53] #3519 closed

[2018-11-01 18:14] jasonswearingen commented on #3519
ok, but maybe should add docs for that. https://mochajs.org/ has docs decribing how timeouts are disabled for ```--debug``` but nothing is mentioned for ```--inspect```

[2018-11-02 04:25] burtonator opened #3545 "Feature: ability for fork each test in a separate process and join the results."
Right now my mocha is locking up due to some setTimeout or other open resource in the code...

and I can't find out why.

I was using mocha-parallel-tests which forks for each test.  But it's buggy and is skipping tests.

It would be KILLER if mocha could fork on each test, then collect the results so that timeouts and other issues didn't lock up my tests.

I realize that I should test for them,

[2018-11-02 10:49] plroebuck commented on #3545
Try [wtfnode](https://github.com/mochajs/mocha/issues/3044#issuecomment-422982548)

[2018-11-02 11:14] #3545 closed

[2018-11-02 11:17] plroebuck commented on #3540
Sorry haven't gotten around to research this, but does it still happen if you use `--full-trace` cmdline arg?

[2018-11-02 15:33] alex-at-cascade commented on #2975
I struggled with this same problem for a while (certain tests mysteriously not running) until I found this issue posted.  I had just assumed `describe` would wait for promises the same way `it` does.  I can work around it, but it would be wonderful if `describe` could just recognize `async` functions and behave accordingly.

[2018-11-02 16:36] plroebuck commented on #3540
So `stackTraceFilter` is _only_ filtering `err.stack`, which makes for more concise error reporting.
But you say we're filtering `AssertionError("assert:  [DummySpec.illegalStateException [...]")` which doesn't quite seem right, since that's _not_ a stack trace. Or have you annotated the stack trace?

As Mocha has no means of special-casing atrium, it'll have to be done on your side.
Either run us

[2018-11-02 16:47] plroebuck commented on #3540
damn, changes don't stick now...

[2018-11-02 17:55] plroebuck commented on #3519
As requested, now documented in [usage](https://mochajs.org/#usage)

[2018-11-02 18:04] #3516 closed

[2018-11-02 19:46] robstoll commented on #3540
Please try to reproduce the error, you will see that mocha filters the first stack frame out.
err.stack is initially (before filtering):
[code]
I am not sure what you mean with that's not a stack trace. Npm the includes the error type and message in Error.stack

[2018-11-02 19:51] juergba commented on #3457
#### After-hook upon error in test with bail=true:
As I understood an after-hook is not executed  by design on an error in test function. In contrast a failed before-hook does jump to the after-hook. So above result (after-hook not beeing called the first time) seems ok to me.
--> see runner.js, line 226ff  [https://github.com/mochajs/mocha/blob/master/lib/runner.js#L226](url)
#### Mocha.run() cal

[2018-11-02 23:26] boneskull opened #3548 "jekyll needs upgrade"
see [CVE-2018-17567](https://nvd.nist.gov/vuln/detail/CVE-2018-17567)

[2018-11-04 01:53] #2975 closed

[2018-11-04 10:27] outsideris opened #3551 "TravisCI windows"
Recently, Tavis CI supported Windows. See [Windows is Available (Early Release)](https://blog.travis-ci.com/2018-10-11-windows-early-release).

Is it helpful if we move from AppVeyor to Travis CI?

[2018-11-04 22:49] #3548 closed

[2018-11-05 02:11] plroebuck commented on #2975
@alex-at-cascade, well at least you'll get a warning from the upcoming release...

[2018-11-05 02:17] plroebuck commented on #3551
Not yet. I'm still trying to get the Chocolatey Growl package fixed. Windows support appears _far_ more limited at this time on Travis than AppVeyor.

[2018-11-05 02:19] plroebuck commented on #2640
@ofrobots, ever finish that WIP PR?

[2018-11-05 03:54] #3551 closed, assigned to nobody

[2018-11-05 12:55] ofrobots commented on #2640
I didn't get a chance to work on it more :(. Feel free to take the WIP commit linked above and to convert it to a PR.

[2018-11-05 13:12] christopherreay commented on #3429
Hello, sorry.

Here, there is the code I use bedded in here. It still has the reference to the mocha "done" function in it, though I dont always pass that done from mocha anymore.

Umm... Ill just put it in a pasteof.code

https://paste.ofcode.org/S5yHYf5caU2PKJxGewvREs

Give me a shout if it is of interest. The point really is to send the kill signal with the right number.
its then possible to at

[2018-11-05 17:57] juergba commented on #3457
#### Mocha.run() called twice: runner.js, line 245ff
[code]
The `end` event must be called with the root suite in order to run Mocha.run() correctly. Above `this` is a child suite and the `end` event is emitted twice.

My suggestion is:
[code]
This way Mocha.run() is called only once.
I now have the problem that the `after`hook is executed, unfortunately the `abort()` doesn't show the expected eff

[2018-11-05 18:23] MonkeyDo opened #3553 "Mocha fails on Node v10: "console.log is not a function""
### Prerequisites
- [X] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [X] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppor

[2018-11-05 18:28] MonkeyDo commented on #3553
The Travis CI machine runs Ubuntu 14.04.5 LTS

Here is an example log of a failing test for node v10.13:
https://travis-ci.org/bookbrainz/bookbrainz-site/jobs/447747282#L979

[2018-11-05 19:22] boneskull commented on #3553
your mocha version reported in this issue doesn't match the version in your `package.json`.

[2018-11-05 19:29] boneskull commented on #3537
- We can safely output warnings to STDERR while the test output stays in STDOUT.
- If there's a valid use case for machine-readable reporters to output in color, then we can support such a thing if someone wants it, but I don't believe there is.
- I'm :-1: on a warning if `FORCE_COLOR` or `--color` is used with a machine-readable output format.  I can see a situation in which it'd create extra wor

[2018-11-05 21:05] boneskull commented on #3553
I'm not sure why this is happening in Node.js v10.  But your debugger will show you the `console` object is actually [this object](https://github.com/bookbrainz/bookbrainz-site/blob/master/test/test-achievement.js#L73).  Something's getting fouled up between Babel, rewire, etc.

Not a Mocha issue... good luck 😉

[2018-11-05 21:05] #3553 closed

[2018-11-05 21:16] MonkeyDo commented on #3553
Thanks, you've been a great help !

[2018-11-05 22:14] plroebuck opened #3554 "Reporter tests affected by shallow cloning"
### Description

While updating our reporter test code, it has been discovered that many tests are restoring aspects of the tested objects due to use of shallow cloning. Typically, the test code makes a copy of the affected object, mutates it temporarily, then restores it. Problem is that making a copy via assignment of an object does not work protect its properties, and those "twiddled" propertie

[2018-11-05 22:57] lmj0011 commented on #3010
If none of the above works
you can always add `this.timeout(0);` to your test or suite to disable timeouts completely

ex.)

[code]

https://mochajs.org/#timeouts

[2018-11-06 00:36] boneskull commented on #3554
Do you have an example...?

[2018-11-06 00:38] boneskull commented on #3475
This seems like a documentation issue.

[2018-11-06 01:00] boneskull commented on #3475
...actually... I figured commander would allow `--no-` as the prefix for any boolean option so am kind of surprised this is broken.  This is a bug if you think a my ignorance or violation of my expectations is a bug.  :smile:

[2018-11-06 01:01] boneskull commented on #3475
yeah, from the commander docs:

So wtf is going on...

[2018-11-06 01:04] boneskull commented on #3475
okay, I get it, it *doesn't add support for both* `--foo` and `--no-foo`, it just sets some value to `true` or `false`, respectively.

[2018-11-06 01:06] boneskull commented on #3475
OK, so this issue is "fix the docs".  I'll create another issue for dealing with those flags, which may end up being a dupe of #3037.

[2018-11-06 01:11] boneskull commented on #3475
@dougwilson I'll see about getting this fixed, but will likely be in v6.0.0 (should be next release)

[2018-11-06 08:41] elitan commented on #911
Yes please we need this.

There are many use cases like https://github.com/mochajs/mocha/issues/911#issuecomment-316736991

[2018-11-06 08:57] Download commented on #1987
Will that work on Windows? I think Windows does not recognize single quote...

[2018-11-06 11:03] christopherreay commented on #3429
so basically you can insert a test into the test flow which has this content, which means you can run all the previous tests in a straight interpreter, which is "fast", and then debug your latest test from the environment created by all the previous tests.

my use case is pretty specific, but I suppose it would also work for large test suites, or something, rather  than for just the usecase where

[2018-11-06 13:45] outsideris commented on #3554
Maybe [this one](https://github.com/mochajs/mocha/pull/3528#discussion_r227994683)?

[2018-11-06 16:33] jmsv commented on #3060
@pukapukan works perfectly, thanks!

I was initally confused where to add this (whether it was a node flag or a mocha flag) but my tests are working after the following `package.json` change:

[code]

hope this helps anyone else slightly confused for a similar reason

[2018-11-06 21:32] juergba commented on #3457
my next step: on an error in a test function, no after hooks should be executed. (I know this behaviour is not clearly defined yet). I mark the runner with abort.
[code]
runner.js, line 289: when the runner is marked as aborted, all remaining hooks are deleted.
[code]

[2018-11-06 23:51] dougwilson commented on #3475
Hi, sorry I forgot to follow up here. The patch did work. I ended up just removing the usage of the flag from my tests. The context is that many employees will run a test suite. The suite runs on various different versions of mocha for reasons I don't have control over. I wanted to get them to have the no exit behavior across the board, but if I include the flag most people cannot run them (as mos

[2018-11-07 01:51] Teivaz opened #3555 "Promise.finally(done) never fails tests"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-11-07 18:56] juergba commented on #3291
First of all `before` hooks can be declared incl. a title: `Suite.prototype.beforeAll = function(title, fn)`
Passing a clear description should clear any confusion. In case of an undefined title, we could fix a default value, f.e. the parent's title.

Which title should be used? The one of the parent `describe`, or the one of the next `test` which hasn't been reached yet? The first option is proba

[2018-11-07 19:15] boneskull opened #3557 "use ms module instead of internal implementation"
It's good to reduce LOC and use purpose-built modules.

Prompted by comments on #3556.

Remove internal `ms.js` and use https://npm.im/ms instead.

[2018-11-07 20:03] lll000111 commented on #956
Another reason for this: I would like to run tests using a different JS runtime, for example [low.js](https://github.com/neonious/lowjs) (because it's one of our platforms, others are node.js, browser - and React Native). I can do that when I have a JS file that imports mocha and runs the tests, I can't do that when I have to call `mocha` to run tests.

[2018-11-07 20:35] protometa commented on #956
Is there currently any way to import describe/it?

[2018-11-07 20:49] lll000111 commented on #956
There is a new (as of now 20 hour old) Wiki page https://github.com/mochajs/mocha/wiki/Using-mocha-programmatically

[2018-11-07 21:07] demurgos opened #3558 "New release"
Hi,
It's been a few months now since the last release to npm: the `master` branch had many small changes since then. Could you update the published package?

[2018-11-07 23:29] plroebuck commented on #3558
We're working on it...

[2018-11-07 23:29] #3558 closed

[2018-11-08 00:12] plroebuck opened #3559 "🚀 Feature: Add option to exit with standard exit codes"
### Description

Mocha's exit code is the number of failed tests (up to 255).
This is _nonstandard_ and should be more like Unix/POSIX programs.

`process.exitCode` should be one of:
* `0` for _success_
* `1` for _failure_ (e.g., internal error, if _any_ tests fail, no tests were run)
* `2` for _failure_ due to invalid command line usage
* `126` if "bin/_mocha" not executable (handled by shell)
*

[2018-11-08 10:35] juergba commented on #3291
The content of `hook.ctx.currentTest` doesn't seem reliable to me.
1. `before` / `beforeEach`: it should be undefined, but points to the latest completed test (parent suite).
2. `afterEach`: it seems ok to me.
3. `after`: is undefined, but should point to ...? To the latest completed test within the current suite or to the current suite itself?

For now I want to fix the first item. --> runner.js,

[2018-11-08 13:10] outsideris commented on #3555
If you want to make a test failed, you should pass `Error` object to `done` like `done(new Error())`. [`finally` doesn't receive any argument](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/finally).

[2018-11-08 13:10] #3555 closed

[2018-11-08 14:17] juergba commented on #3291
When no `currentTest` is available, I use the hook's parent title. --> runner.js, 271ff
[code]
[code]
The `if` code is quite unnice, but I didn't touch it.
I have done quite a few tests what are the next steps for this issue?

[2018-11-08 19:20] boneskull opened #3560 "i18n"
~~yargs’ [y18n](https://npm.im/y18n) looks easy to use and we should probably start using it. ~~

UPDATE: use a different i18n library; see links below

it’d also be a great opportunity to encourage translation contributions!

[2018-11-08 20:02] gizemkeser commented on #3557
Hello, may I work on this issue?

[2018-11-08 21:16] boneskull commented on #3557
@gizemkeser go for it

[2018-11-09 12:42] #2951 closed

[2018-11-09 13:36] plroebuck commented on #3559
Couldn't find anything specific (outside references to this unknown CI).

Fail to understand the difference one way or another (CI-wise) to exiting with `1` vs. error count -- either way, an "error occurred" state should have been triggered. By implication, the CI would do something different depending on the number of errors, which seems nonsensical. One error is the same as a hundred -- it's a f

[2018-11-09 13:38] plroebuck commented on #3559
@Munter could you add anything?

[2018-11-09 13:47] plroebuck commented on #3557
Files:
lib/runnable.js
lib/suite.js
lib/reporters/base.js
test/unit/ms.spec.js
test/unit/runnable.spec.js
package.json
package-lock.json

Would also be nice to import module within source as:
[code]

[2018-11-09 18:31] juergba commented on #3291
The following hooks are set incorrectly in `hook.ctx.currentTest`
`before` hook: is undefined or points to the outer test already past successfully.
`after` hook: is undefined.

[runner.js 301ff](https://github.com/mochajs/mocha/blob/master/lib/runner.js#L301)
[code]
With `nested suites` I just search the current suite for the next test to come and don't run down all nested `describe`s. If no `tes

[2018-11-09 18:32] robertrossmann opened #3561 "Feature: expose accurate test case location"
### Feature description

I would like to have access to precise location in which a test case has been defined (that is, filename, line, and column).

#### Possible use cases

- I would like to create a kind of editor integration where I can accumulate all executed test cases and then be able to have the user click on each test case to take them exactly to the place where that test has been define

[2018-11-09 19:22] boneskull commented on #3560
:+1: good resources. thanks

[2018-11-09 23:17] plroebuck opened #3562 "Use "package.json" to determine test directory"
### Description

Read "package.json" field `directories.test` if it exists. If it does, use its value instead of `"test"` as Mocha's default for test directory.

Inspired from discussion in #1275 where someone had named his test directory "tests" and then Mocha wouldn't find his "mocha.opts" file (without specifying it via `--opts`).

[2018-11-09 23:36] plroebuck commented on #1304
For what it's worth, the `FORCE_COLOR` environment variable can also be used to turn off Mocha's emission of terminal escape codes.

[code]
has the same effect as
[code]

Conversely, setting `FORCE_COLOR=1` has the same effect as use of `--colors` cmdline option.

[2018-11-09 23:46] plroebuck commented on #3291
PR #3333 seems to be addressing the same issue. While it "fixed" the problem, it wasn't merged ASAP because it seemed to be patching after the fact. I worked on it for a bit, expanding the test case to verify other assumptions in the code, but got lost in the forest at some point.  @juergba's solution above looks more in line with fixing the root problem.

[2018-11-10 00:38] boneskull commented on #1275
Mocha only looks for `test/mocha.opts`.  if it's not there, you must use `--opts /wherever/it/is`.

[2018-11-10 01:07] plroebuck commented on #3561
So you kinda want to reimplement what "vscode" does?
See Issue #3383 screenshots.

[2018-11-10 04:38] mhluska commented on #1843
In 2018, that link to master does not point where you intended it to 😛

[2018-11-10 04:58] #3425 closed

[2018-11-10 05:13] lygstate commented on #1843
Oh so calling mocha.fullTrace()>

[2018-11-10 12:09] #2149 closed

[2018-11-10 12:09] #1257 closed

[2018-11-10 18:47] plroebuck commented on #3540
We're attempting to launch Mocha-6.0 and have been for over a week. I have over 300 Mocha-related messages in my email as of this morning... and it was clean last week. If I'm not working fast enough for _you_, feel free to _solve_ the problem for me.

[2018-11-10 19:10] plroebuck commented on #3561
Well, it won't ever be _standard_ processing by any means, as no one else is going to want to take the speed hit of parsing self-created stacktraces simply to get row/col info for every test.

But feel free to see if you can make your version of "mochatags" work.
[Ctags with Vim](https://courses.cs.washington.edu/courses/cse451/10au/tutorials/tutorial_ctags.html)

[2018-11-10 19:19] plroebuck commented on #1843
@mhluska well you are referring to an issue closed more than three years ago.
@lygstate yes...
[code]

[2018-11-10 20:33] robstoll commented on #3540
Sorry, I did not meant to stress or offend you. I have worked around the issue in my lib as you suggested. I cleaned up my repo and deleted branches I have created for third-party libs and only wanted to let you know where you have to proceed with the investigation.
I could help with the fix but we need an agreement on the implementation. I don't want to break things for you after all. Thus I need

[2018-11-11 00:09] gedion commented on #3443
@plroebuck. even with your suggestion I get "Inspector support is not available with this Node.js build" as shown below. The below example is when I ssh into tessel as root. The same error happens when running using the CLI.

[code]

[2018-11-11 03:35] mhluska commented on #1843
@plroebuck and yet I still flowed in here through Google as many probably do. This link will last longer: https://github.com/mochajs/mocha/blob/a371e2f73f8a6781aab6723bb596a31fc275bdf7/bin/_mocha#L448

[2018-11-11 05:26] boneskull opened #3564 "soft-deprecate --reporter-options and replace with --reporter-option"
This assumes #3556 lands.  This issue came out of code review there.

Yargs has great support for "array"-type options.  Generally, any option can be specified multiple times.  In addition, options can accept multiple, *space-delimited* values, e.g., `--foo bar baz quux`.

This issue has two parts:

1.  Soft-deprecate (using `utils.deprecate()`) `--reporter-options`
2.  Implement `--reporter-optio

[2018-11-11 08:45] plroebuck commented on #3559
I traced this conceptually (exit code=#failures) all the way back to the initial commit (20110828). How and where Mocha invoked `process.exit` moved around from file to file, but found **no** references to CIs as the reason -- it was just _always_ done this way.

[2018-11-11 08:50] plroebuck commented on #3291
@juergba do you have a PR?

[2018-11-11 11:13] MrCerealKiller opened #3565 "TypeError: <function> is not a function (Only interacting with Mongoose)"
### Prerequisites

- [ x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't sup

[2018-11-11 12:37] juergba commented on #3291
@plroebuck  No.
It would be my first one. So please, tell me what you are expecting me to do. Thank you.

[2018-11-11 15:33] plroebuck commented on #3565
The error message: `ISector.removeISectorById is not a function`
Your code: `var iSector = new ISector({`
Your lib code: `ISector.removeISectorById(sector, function(err) {`

Should your library code be using the variable you created in your `before`?
This has nothing to do with Mocha...

[2018-11-11 15:33] #3565 closed

[2018-11-11 16:01] plroebuck commented on #3443
If you look [here](http://thlorenz.com/node-dox//build/node-v8.x/html/d5/d9c/node__debug__options_8cc_source.html) on lines 107-114, you will notice the compile time `HAVE_INSPECTOR` option. So if you're getting this message, it implies to me that you (or whoever) built the Node executable without all the pieces.

If "tessel" is a production UNIX server, this is probably intentional for [security

[2018-11-11 16:59] plroebuck commented on #3291
@juergba:

[code]

Make your changes to whatever files. Then find relevant specification file(s) and update tests to prove your changes work.

[code]
Assuming the tests run correctly on Travis, etc., create a pull request from your repository for this branch.

Did I scare you?

[2018-11-11 17:08] juergba commented on #3291
@plroebuck Thank you!
No, not scared, but ... I'm just watching tutorials about git/github.

I leave you the choice:
- you give me some days and your will will happen.
- it's a very old bug. Do it yourself fast and easy. No problem with, I will watch and learn.

[2018-11-11 18:44] plroebuck commented on #3291
Do you have tests to confirm your changes?

When I looked into Heather's PR, believe she said that only `before` hook was incorrect. But you imply it's both.

[2018-11-11 19:31] juergba commented on #3291
[code]
With that one you can see that `currentTest` of `after` is undefined, at least not pointing to an incorrect test. So the Errortitle is not obviously wrong, just incomplete, the second part "for ..." is missing.

[2018-11-11 22:39] boneskull commented on #3559
read issues mentioning exit codes

[2018-11-12 16:34] juergba commented on #3291
@plroebuck  I created my github repository and opened a new branch with my changes and some test cases. [repo](https://github.com/juergba/mocha.git)
Next step will be the specification file(s).

[2018-11-12 18:58] KyleGalvin opened #3567 "mocha config lacks tools to use localstorage in jsdom"
I can no longer check if session storage exists or not using mocha. The root cause is a jsdom update that now throws a security exception when accessing window.sessionStorage

since jsdom 11.12.0 (released in the past june) test runners need to explicitly set a url for jsdom in order to use localstorage or sessionstorage otherwise an exception is thrown:

SecurityError: localStorage is not availab

[2018-11-13 06:30] juergba commented on #3291
@plroebuck
When running hook-err.spec.js of the master branch, original status without any of my changes, all tests are failing with: (Node 10.5.0)
[code]
I can't find out why, can you help?

[2018-11-13 10:08] demurgos commented on #3558
Thanks for the reply.

[2018-11-13 10:42] juergba commented on #3291
@plroebuck  ok.

There is another difference in a test which I don't understand: test/cascade.fixtures.js
This test passes successfully, but the output is different.
My forked master (5.2.0):
[code]
my local mocha installation (also 5.2.0)
[code]

[2018-11-13 18:11] plroebuck commented on #3291
Go ahead and create a PR named "WIP: Fix Hook Test Names". These questions relate to your PR, not the original issue. Feel the original output is correct, but based on your fix shown above, see no reason why it would have changed the output at all.

[2018-11-14 07:34] juergba opened #3569 "Test output order has changed: test result shown after `afterEach` hook output"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-11-14 10:33] juergba commented on #3569
[code]

[2018-11-14 12:35] plroebuck commented on #3567
@domenic ping!

Fail to see how this is a Mocha problem. You'll need to explain further how we're preventing you from using whatever version of the JSDom package. I see this in one of their unit tests, being run by old version of Mocha unchanged...
[code]

[2018-11-14 12:44] plroebuck commented on #3567
https://github.com/Zirro/jsdom/blob/20ea035bf53911e7b67a680f9bdf09a53f0b8110/lib/jsdom/browser/Window.js#L252-L262

[2018-11-14 12:52] segrey commented on #1027
Can we reopen the issue as the problem is not fixed? Passing `--timeout <big number>` to workaround the issue looks a bit strange as any large magic number looks suspicious.

[2018-11-14 13:03] segrey opened #3570 "🐛 Bug: Unable to terminate long running tests"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-11-14 13:33] juergba opened #3571 "Timeout default is incorrect, 200ms instead of 2000ms"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-11-14 13:41] plroebuck commented on #3570
[WOMM](https://blog.codinghorror.com/content/images/uploads/2007/03/6a0120a85dcdae970b0128776ff992970c-pi.png)...
[code]

**OS:** macOS 10.13.6
**Node:** v10.13.0
**Mocha:** 5.2.0 (cfb1182)  # modified trunk version, but changes unrelated to your issue

[2018-11-14 13:46] plroebuck commented on #3571
_Which_ integration test(s) fail? Specific set from "package-scripts"?

[2018-11-14 14:03] juergba commented on #3571
for example: they all do work with --timeout=2000
- test\integration\timeout.spec.js
- test\integration\options.spec.js
- test\integration\hooks.spec.js
- test\integration\hook-err.spec.js
- test\integration\retries.spec.js

[2018-11-14 14:07] segrey commented on #3570
@plroebuck Please run it with `time`:
[code]

[2018-11-14 16:24] plroebuck commented on #3570
[code]

[2018-11-15 00:44] plroebuck commented on #3567
Take a look at "[package.json](https://github.com/mochajs/mocha/blob/d60b3339ffe79fadcaad22047dd20334cd77babb/package.json#L471-L483])". Notice the lack of any "jsdom" package. In other words, we have _nothing_ to do with jsdom...

Attn: @rstacruz

And "jsdom-global" package already has an [issue](https://github.com/rstacruz/jsdom-global/issues/40) for this problem.

What you want as a longterm fi

[2018-11-15 00:45] #3567 closed

[2018-11-15 00:57] KyleGalvin commented on #3567
Thank you for your insight.

After looking into it, you are (of course) correct. You do not 'new up jsdom' as I initially expected, you simply require() any packages placed in the command line --require flags. The difference is subtle but ultimately mocha works on required libs in such a generic way it would open up a 'pandoras box' of scope creep if you were to make exceptions and begin passing p

[2018-11-15 01:06] plroebuck commented on #3569
I glanced through the commits but nothing popped out. We'll have to create a test that verifies the _exact_ expected order, then checkout commits since 5.2.0 (jumping by half), add the test manually, and retest until one of them fails.

[2018-11-15 07:59] juergba commented on #3569
I checked-out the commits:
- 02294a3: 11. August - fix report in a case of afterEach conditional fail
- 2bb4124: 07. August - resolves #3450: changed links labeled "code of conduct" from changelo

The first commit fails, while using above testfile.

[2018-11-15 10:17] dwelle opened #3572 "async/await test times out"
### Prerequisites
- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppor

[2018-11-15 11:29] dwelle commented on #3572
I guess I misread how mocha works with promises. I thought returning a promise automatically disables timeout, and waits for promise resolution/rejection. Never mind then.

[2018-11-15 11:29] #3572 closed

[2018-11-15 12:47] segrey commented on #3570
@plroebuck How can I checkout your mocha version?
[code]

Same issue on Mac for me
[code]

Could you please try to repro using mocha 5.2.0 from npm?

[2018-11-16 23:40] Xotabu4 commented on #3545
@plroebuck
Hi, i did some experiments with new nodejs worker_threads, but unfortunately i have to spin full mocha instance in each worker and pass grep parameter to each worker so it runs only one test. Also there are issues with existing reporters, test outputs. But CPU and RAM consumption is pretty low with workers, and also i can try to .fork nodejs process for better cores utilization, since w

[2018-11-18 17:57] Almenon commented on #1762
I got the same error, but the reason was that I was using tdd, which uses suiteSetup instead of before.

[2018-11-18 18:10] #2198 closed

[2018-11-18 18:11] #2225 closed

[2018-11-18 18:12] Bamieh commented on #2044
Closing this, feel free to re-open if your opinions has not changed regarding this issue @boneskull .

Personally I'd vote -1 for this feature.

[2018-11-18 18:12] #2044 closed

[2018-11-18 18:15] Bamieh commented on #2426
Is this still valid? @boneskull

[2018-11-18 18:17] #2353 closed

[2018-11-19 07:37] plroebuck opened #3574 "Resolve conflict between envvar and cmdline arg for same resource"
### Description

What happens when envvar and cmdline arg for same resource specify different values?

We need to add a couple tests regarding color:
* Given _both_ envvar `FORCE_COLOR` and `--no-color`, is color enabled?
* Given _both_ envvar `FORCE_COLOR=1` and `--no-color`, is color enabled?
* Given _both_ envvar `FORCE_COLOR=0` and `--color`, is color enabled?

[2018-11-19 16:35] outsideris commented on #3571
How did you run tests?
For integration test, [timeout is 5000ms](https://github.com/mochajs/mocha/blob/master/package-scripts.js#L101).

[2018-11-19 17:11] outsideris commented on #3570
In my local with d60b3339ffe79fadcaad22047dd20334cd77babb , I can reproduce it.

[code]

[code]

[code]

[2018-11-19 19:32] juergba commented on #3571
Yes, running the tests with the package script, then timeout is 5000ms. Running some individual tests/spec files manually as the ones listed above, then timeout is 200ms.

[2018-11-20 13:48] Bamieh commented on #3387
Closing this as part of cleaning. Thanks everyone for the input, I'll open issues later on with related tasks based on your input ❤️

[2018-11-20 13:48] #3387 closed

[2018-11-20 16:51] juergba commented on #3414
The flag `--retries 1` is not the reason why the `end` event is emitted twice. It is the `--bail` flag which is working incorrect. The root problem is shown in issue [#3457](https://github.com/mochajs/mocha/issues/3457).

With the fixes applied the output looks like this:
[code]

[2018-11-20 18:49] juergba commented on #3398
Status quo:

$ node_modules/.bin/mocha test.spec.js
[code]
$ node_modules/.bin/mocha test.spec.js **--bail**
[code]
$ node_modules/.bin/mocha test.spec.js **--exit --bail**
[code]
@plroebuck it does not really work without --exit. The text "hello world" is logged to the console because the `end` event is emitted twice. This is a bug, see issue [#3457](https://github.com/mochajs/mocha/issues/3457)

[2018-11-20 18:56] outsideris commented on #3571
You can run them with `test.node.integration` and  [exclusive-tests](https://mochajs.org/#exclusive-tests).

[2018-11-20 18:56] #3571 closed

[2018-11-22 14:05] juergba commented on #3531
As @outsideris  pointed out the line in question is:
`var match = message.match(/^([^:]+): expected/);`

I didn't catch the purpose of that regex, but as you can see, it contains ': expected'
The second part of your error message contains also ': expected'

To avoid this match just change your error message in something similar like:
`super(message + ': expects something else');`  or
`super(messag

[2018-11-22 14:53] demurgos commented on #3006
This issue is still valid and should not be closed.

The upcoming `mocha@6` release will have the whitelisted `--experimental-modules` flag allowing to experiment with ES6 modules more easily. Would it be possible to have a minor or patch release before the v6? I am currently finalizing a new coverage tool that does use the V8 debugger instead of Istanbul and would like to test it with Mocha and E

[2018-11-22 17:09] swedebugia opened #3575 "Build or build+test dependencies"
Hi
I'm wondering how many of the devdeps are strictly needed for building? How many are needed if we want to test it too? (no docs or linting needed)

We are trying in Guix to figure out how to package npm-libraries in a reproducible way.
See also: https://lists.gnu.org/archive/html/guix-devel/2018-11/msg00201.html

I'm using a guile-script to make a graph of this package and the devdependencies a

[2018-11-23 17:54] #3557 closed

[2018-11-24 22:03] samlandfried commented on #2107
@laurentpayot Using mocha's lifecycle hooks to stub and restore is safer:

[code]

[2018-11-24 22:04] samlandfried commented on #2107
The problem with stubbing `console.log` is that it suppresses mocha's test reporting. Has anyone found a workaround for that?

[2018-11-25 12:53] iamwwc commented on #1828
if you use follow

[code]

this will exclude `testdata folder`

**But**

If you use

[code]

it will throw exception

wish it's will help others

[2018-11-26 04:30] plroebuck commented on #1828
@iamwwc,

The `--recursive` argument is _completely_ unnecessary if you use an extended glob ('**').
If you single quote your glob, Mocha will handle it using the [glob](https://www.npmjs.com/package/glob) and [minimatch](https://www.npmjs.com/package/minimatch) npm modules.
If you double quote your glob, your shell _may_ handle it (depending on its support for extended globbing and having the app

[2018-11-26 15:38] juergba commented on #3562
`package.json` is not updated dynamically. When creating/renaming directories, the field `directories.test` would have to be maintained manually. `package.json` is not a good place to define the default directory. There is already a place to set such values, which is the `mocha.opts` file.

For the test files `scripts.test` in `package.json` can already be used for defining the test directory.
[co

[2018-11-26 15:56] plroebuck opened #3581 "Add the ability to list files to be tested"
### Description

Output files to be tested (in load order) with the [debug](https://www.npmjs.com/package/debug) package using the namespace `'mocha:files'` in ["bin/_mocha"](https://github.com/plroebuck/mocha/blob/3fbbb0267e0420f353dfa916069b0f19e8dc4f09/bin/_mocha#L575) file.

[code]

### Additional Information

Test as follows:
1. Using default "test" directory
[code]
2. Using extended glob (re

[2018-11-26 17:44] plroebuck commented on #3562
Unsure why you think this, since it's [specifically documented](https://docs.npmjs.com/files/package.json#directoriestest) as the means to communicate a package's structure.

The `directories` field in "package.json" _does not exist_ by default; therefore, if `directories.test` does exist, the user purposefully set it and we should respect that value, without making them re-specify the same thing

[2018-11-26 18:45] juergba commented on #3562
When you do `npm init` and the directory test already exists, the `directories` field is created automatically. This works at least with VSCode, no other directories unless `test` are recognised and inserted.

You have made your decision, so close the `discussion` label.
And I would like to implement this.

[2018-11-26 21:15] plroebuck commented on #3429
So your pasteof.code is not there. Maybe just put it in the issue if you can't use a gist.
Curious in one sense as to why you're testing this way (without having seen the content).
If you're debugging your latest test, why bother running the existing ones at the same time?

[2018-11-27 00:16] plroebuck commented on #2944
Don't think it should be an error to have `describe.only` if it has no tests. In my mind, it's just a shortcut for not having to specify `.only` for each member `test`. Having the `--forbid` functions implemented strictly in terms of tests seems completely reasonable to me.

In the code provided, think it should ignore the empty `describe`. No idea why the root-level `test` would not be run though

[2018-11-27 00:21] plroebuck commented on #2944
Given file "empty-only-suite-with-root-level-test.spec.js"
[code]
Running Mocha as such gives incorrect results:
[code]

[2018-11-27 06:46] plroebuck commented on #3564
See discussion from #3487. @johanblumenberg provided the PR's implementation.

Would strongly prefer that reporter name be prefixed to key in `--reporter-option key=value`.
For example, if specifying "xunit" reporter output file, then:
   `--reporter-option xunit.output=mocha-xunit.xml`

We should decide how to address [these potential problems](https://github.com/mochajs/mocha/pull/3487#issuecomm

[2018-11-28 04:26] boneskull opened #3583 "evaluate eslint-plugin-jsdoc"
ESLint is [end-of-lifeing JSDoc support](https://eslint.org/blog/2018/11/jsdoc-end-of-life), so it might be a good idea to look at [eslint-plugin-jsdoc](https://npm.im/eslint-plugin-jsdoc) to help keep our docstrings in order, since we're now publishing [API docs](https://mochajs.org/api/).

I'd like to see a few things here:

1. How many errors would we need to fix?  What's the time investment?
2

[2018-11-28 11:50] mbeerta-factset opened #3584 "Mocha won't follow symbolic links when provided with a glob pattern"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-11-28 18:10] outsideris commented on #2944
Why it should be ignored? `--forbid-only`'s purpose is to avoid adding unintended `only`. Adding an empty suite with `only` make tests couldn't fail. In CI, it is not detected.

And in your code provided, `--forbid-pending` give incorrect result for me.
[code]

With non-empty suite, it throws `Error: Pending test forbidden`.

[code]

[2018-11-28 23:35] plroebuck commented on #2944
Disagree. More specifically, its purpose is to prevent adding unintended `only` **tests**.
As an empty namespace contains none, no foul committed... `describe.only` simply provides syntactic sugar for not having to specify `it.only` for every test in the namespace.

It's derivative of my sample specification file, but not mine...

I'd say it's executing _exactly_ as expected. Your first `describe`

[2018-11-28 23:58] plroebuck commented on #3584
I'm not sure if we _specify_ a minimum Windows OS version, so someone else will need to interpret its impact. Unsure whether this was done _intentionally_ to "return the same results" on _all_ platforms.

See [NTFS symlinks](https://en.wikipedia.org/wiki/NTFS_symbolic_link).

[2018-11-29 01:14] pdesjardins90 opened #3585 "[Feature Request] Convert to ES Modules"
With all major browsers now supporting ES modules and node support on its way, I think it would be a great time to migrate this popular lib and help the community move forward.

To be clear, the goal would be to be able to do:

In node:

[code]

In browsers:
[code]

[2018-11-29 03:31] ybbpgfjtey opened #3586 "How to make xunit reporter avoid encode test messages."
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-11-29 15:18] christopherreay commented on #3429
https://gist.github.com/christopherreay/1880461039fe5d39c40ecbc8bab61bb3

here is a gist

the reason for this is that the tests that run before create the state which the further functionality relies.
As I build interacting sets of tools, the later tools rely on the results of the tests previously to create the state in which they make sense. As I said, I think, my use case is pretty edge case, bu

[2018-11-29 16:48] plroebuck commented on #3429
Reading your gist, I have some questions:
* What is `atRoot.ls` function; where does it come from -- how different from `console.debug`?
* Are environment variable names just made up or purposeful? If latter, explain what each does.
* In `catchUserDebugging` function, what sets `t` to `true`?
* What happens when run on MS-Windows? Node only documents enabling "late start" inspector for UNIX platfo

[2018-11-29 17:24] plroebuck commented on #3530
Anything to report, or should I close this?

[2018-11-29 18:38] outsideris commented on #3585
Mocha supports Node.js v6+.
However, node.js supports ES modules since [node 8.5.0](https://nodejs.org/en/blog/release/v8.5.0/) and still [Experimental](https://nodejs.org/api/esm.html). I believe we can't migrate it.

[2018-11-29 18:38] #3585 closed

[2018-11-29 19:10] christopherreay commented on #3429
atRoot.ls is a simple wrapper function over console.debug (not really important what it is for... but outputs colorized objects nicely to the terminal).

the environment variable names are arbitrary, just relating to what is their shallow implication in the function.

it's the developer sets t to true using devtools, to continue the async. (I used to use a readline from the console, but sometimes

[2018-11-29 19:21] pdesjardins90 commented on #3585
@outsideris  even if the build step outputs an AMD build for backward compat?

[2018-11-29 21:00] bluelovers commented on #3584
[fast-glob](https://www.npmjs.com/package/fast-glob) is support `followSymlinkedDirectories`

so i think can replace `glob` => `fast-glob` in dependencies

[2018-11-29 21:19] bluelovers opened #3592 "hope can support optional test"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-11-29 22:15] hlimbo27 opened #3593 "Using async/await within context blocks don't work as expected"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-11-30 20:20] dmwelch commented on #1304
https://emacs.stackexchange.com/questions/27218/why-is-there-so-often-ugly-output-in-node-js-compilation-buffers

[2018-12-01 17:44] plroebuck commented on #1304
@dmwelch, I opened issue chalk/supports-color#88 for Emacs shell terminal support.

If you (or "tenfishsticks") could document the Emacs commands necessary to test the problem, it may help them get a fix done faster. Sorry, `vi` guy... :)

[2018-12-01 21:35] Alhadis commented on #1304
Emacs's `compilation-mode` [sets `INSIDE_EMACS=${emacs_version}`](https://github.com/emacs-mirror/emacs/blob/070ef95c1007cb3d54e04bc337d9fb5463912cc1/lisp/progmodes/compile.el#L1746) in the build process's environment when running. It appears to be specific to this mode only; running [`mocha.el`](https://github.com/scottaj/mocha.el)'s `(mocha-test-project)` function generates correctly-coloured ou

[2018-12-02 01:30] plroebuck commented on #2944
Not following what you're implying when you say "some tests won't get run". When the `describe.only` _has no tests_, nothing _would_ ever be run. `describe` is just a namespace for grouping after all.

If you're arguing that we should pedantically enforce `.only` on an empty namespace, fine.

I don't disagree that there's a bug here, just what the bug is.
See no problem with `describe.only` not fa

[2018-12-02 05:43] Alhadis commented on #1304
Actually, I take that back. `INSIDE_EMACS` is being set for `mocha-test-project` as well; it appears to be the extra shell that's being spawned by `compile` that's screwing with the escape handling. Comparing the `SHLVL` of both commands reveals a level of `2` and `3`, respectively — obviously because it's funnelling the output of `make -k` to Emacs's buffer...

Both are declaring `TERM=dumb`, so

[2018-12-03 05:36] shridharkalagi commented on #1955
Any update on this issue? I'm also facing the similar problem

[2018-12-03 08:05] shridharkalagi commented on #581
i'm still seeing the same issue? any update on this issue?

[2018-12-03 08:40] Bamieh commented on #3584
Maybe this should be added as an additional flag rather than the default behavior? I added the "future" tag since I believe it might be a good idea to land yargs first (https://github.com/mochajs/mocha/pull/3556) (feel free to disagree)

[2018-12-03 08:44] Bamieh commented on #3592
But wrapping the `it` in an if statement is better since it gives you the "optional" feature plus a condition on _when_ this case is optional.

I am generally against having optional cases in the tests, rather than modifying the assertion inside the case, or wrapping the case in an `if` clause.

[2018-12-03 16:31] jljorgenson18 commented on #1799
Any updates on this? This is still an issue for karma-mocha and it should be an easy fix.

[2018-12-03 17:20] outsideris commented on #3585
@pdesjardins90 mocha is a test framework. It should be transpiled?

[2018-12-03 18:00] pdesjardins90 commented on #3585
Mocha is used in multiple environments that don't support all the same features, i.e. browsers and node. The repo's current strategy regarding that is outputing a single transpiled script file that can be ran into browsers, while using the CommonJS `require()` syntax in its core files. The browser script relies on global variables, which is widely considered a bad practice, but was a necessary evi

[2018-12-03 18:02] pdesjardins90 commented on #3585
I'll add that the browser script should still be packaged for the same reasons

[2018-12-03 19:21] aMarCruz commented on #591
I'm using `describe.if` in node and sync tests with no issues:

[code]

Example of use:

[code]

[2018-12-03 19:36] aMarCruz commented on #591
Use this:

[code]
Example of use:

[code]

[2018-12-03 20:43] mehtamanan commented on #911
+1

[2018-12-04 11:02] #3256 closed

[2018-12-04 20:08] aido179 commented on #3530
Sorry for the delay @plroebuck

I've created a minimal [reproduction repository here.](https://github.com/aido179/mocha-err) It includes a single test suite with a couple assertions in one package, and a custom reporter in the other package.

I am now debugging the mocha package and have so far discovered that the reporter argument is undefined when Mocha.prototype.reporter is called. It is also c

[2018-12-04 21:15] aido179 commented on #3530
Ok - This is slightly embarrassing, but it's possible that others will make the same mistake.

I think I simply forgot to `--save` mocha  as a dependency of the reporter package. Seems obvious in hindsight but it's slightly more nuanced than that, and the warning from mocha threw me off as it misdiagnosed the issue.

The reporter worked when installed as a full package because node obviously looks

[2018-12-04 21:15] #3530 closed

[2018-12-04 22:03] aido179 opened #3596 "Correctly diagnose errors from required reporter module"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-12-04 22:08] boneskull commented on #3584
Agree it would probably not be a great idea to make this the default behavior.

@mbeerta-factset Are there any workarounds at present time?

[2018-12-05 04:52] mbeerta-factset commented on #3584
unfortunately not, but i had the same thoughts of making this switchable. Might be reusing the --preserve-symlinks option a viable approach (although it is also passed to the node runtime)?

[2018-12-05 10:14] segrey commented on #3570
@outsideris Thanks for confirming. Right, `bin/_mocha` should be used, not `bin/mocha`, I wasn't clear enough about it in the description.

Guys, any idea on ideal SIGINT handling? Maybe something like: on the first SIGINT received, keep the current behavior, and if test is still running after N seconds (say N=2), disable SIGINT handler and resend SIGINT?

[2018-12-05 11:03] ViggoV commented on #1998
I agree. During development I will often `console.log` complex objects, for example React props from HOC components like Apollo. This works great in browser were the object can be collapsed and expanded, but just one of those during tests can render the output next to useless.

Like @sladec I'm confused as to how this is not a common problem with a built-in solution, but that is the case with many

[2018-12-05 15:07] stheine opened #3598 "mocha TDD --bail --exit does not call suiteTeardown() after failed test"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-12-05 15:29] justinmchase commented on #2312
Or another option would be, if adding a flag is too complicated, to make a new reporter, call it `even-more-min`, which does the exact same thing as min except for clearing the screen and setting the cursor.

[2018-12-05 18:00] jrgleason commented on #3006
@demurgos

When I try like this...

[code]

I get

`(node:4632) UnhandledPromiseRejectionWarning: Error: Cannot find module test/Sanity.spec.mjs`

But when I run like this...

[code]

It runs perfect what am I missing?

[2018-12-05 18:11] justinmchase commented on #1998
Again, @ViggoV I think what you should do is use the [debug](https://www.npmjs.com/package/debug) library instead of `console.log` directly for in app debugging. Then to emit actually to the console in your app, handle events in a front-end component which logs to the console.

For example:
[code]

Now when you run this locally or in a test nothing will be written to stdout by default. To enable t

[2018-12-05 19:59] boneskull commented on #3006
@demurgos you should coordinate with @bcoe; see https://github.com/bcoe/c8

[2018-12-05 20:17] boneskull commented on #3006
@demurgos to cut a minor release, we'd need to cherry pick all non-breaking changes since v5.2.0 into a branch and compile them into the CHANGELOG.  if you or someone else is willing to do that work, then we can cut the release.

[2018-12-05 20:18] boneskull commented on #3006
fwiw I recommend [esm](https://npmjs.im/esm) over `--experimental-modules` until Node.js has its story straight.  that will be a considerable wait.

[2018-12-05 20:19] demurgos commented on #3006
@boneskull
Haha, thanks. I'm already working around `c8` since July (I opened a bunch of PRs and issues on this repo). There are also some design decision where we disagree so we try to share most of the dependencies (I wrote the merge algorithm for example) and decided that I'll publish another tool: [c88](https://github.com/demurgos/c88). I got it to work this week-end and I'm now testing it on

[2018-12-05 20:46] demurgos commented on #3006
Thanks for the proposition. It's still possible to get `--experimental-modules` with `NODE_OPTIONS` so it's not a high priority (and it may complicate the git tree to cherry-pick commits). If I manage to handle other dependency, I'll see if I can spend some time on this. In the mean time, I just keep an eye on the v6 milestone.

I definitely agree that it is the best solution right now: it's the e

[2018-12-05 21:13] boneskull commented on #3006
@demurgos I think I was a bit confused about what people wanted here.  Anyway...

If `NODE_OPTIONS=--experimental-modules` works until `--experimental-modules` is supported in Mocha v6.0.0, then is there any other work to be done for this issue?  That's what I'm missing.

[2018-12-06 10:38] WORMSS commented on #2975
Just to add to the discussion that our company got caught out by the non-async nature of describe when a developer changed from `require` to `import` to match the rest of the system. Sadly this caused no errors, and was only during the addition of `.only()` by myself that the test reported `0 Passed` when I knew there should be 38 that either passed or failed.`

[code]

We went back to the origina

[2018-12-06 10:39] WORMSS commented on #3593
Just to add to the discussion that our company got caught out by the non-async nature of describe when a developer changed from `require` to `import` to match the rest of the system. Sadly this caused no errors, and was only during the addition of `.only()` by myself that the test reported `0 Passed` when I knew there should be 38 that either passed or failed.`

[code]

We went back to the origina

[2018-12-06 12:43] Lostam commented on #2107
The best I found was to use console.info/error in my project and then
`   sinon.stub(console, 'error');  // disable console.log
    sinon.stub(console, 'info');  // disable console.log`
in mocha's test file

[2018-12-06 14:55] pdesjardins90 commented on #3585
@outsideris any chance you'll reconsider?

[2018-12-06 17:49] stevenvachon opened #3599 "CLI path directory expansion should be case-insensitive"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-12-06 22:57] jwickens commented on #3097
Why was this closed? I get this issue in the latest version of mocha 5.2.0

[2018-12-07 14:32] juergba commented on #3598
It is not clear how Mocha should behave in case of `--bail`. There is a discussion in issue #3398, but no decisions have been made, yet. (TDD suiteTeardown = BDD after-hook)

[2018-12-07 14:52] stheine commented on #3398
I got pointed here after entering #3598, which is the same bug, only described for TDD.

my understanding is that `--bail` helps me to speed up testing, as it stops after the first error. but still I expect the `suiteTeardown`/`after` hooks getting executed to allow me leaving with a clean state.

The weird thing about the current implementation is that `--bail` and `--exit` interfere, so that the

[2018-12-07 15:05] pdesjardins90 commented on #3585
@boneskull perhaps as top contributor to this repo, you may have a different opinion?

[2018-12-07 17:34] boneskull commented on #3585
@pdesjardins90

sure, I'd like to modernize the codebase and use new ES2015+ features.

But as long as we target IE11 (still not an insignificant % of market share), that means we will need to transpile our code to support it.

So that's two things:

1. Configure transpilation (for production and our test suites) which results in both a CJS-based distribution pkg for supported Node.js versions *an

[2018-12-07 17:35] boneskull commented on #3585
This might be a duplicate of something.  If it's not, we could leave it open as a "modernize Mocha's build"-type ticket.

[2018-12-07 17:37] boneskull commented on #3585
(@outsideris is correct, but there's more to the story than just Node's experimental  ES module support)

[2018-12-07 18:05] #2944 closed

[2018-12-07 18:43] boneskull opened #3600 "feature: make "slow" (by default) a function of "timeout""
I get sick of adjusting `slow` when adjusting `timeout` to avoid the warnings.

Unless `slow` is set by the user, what if we made it a function of the `timeout` value?

The current default values are 75ms for `slow` and 200ms for `timeout`.  The function could be, then:

[code]

(If there's a different function that makes more sense, that'd be cool too)

I propose:

- If a user provides `--slow`,

[2018-12-07 18:43] boneskull commented on #3600
I kind of hate calling it `semver-major` but there's probably something that consumes it and expects it to be a certain thing and will break when it isn't.  :shrug:

[2018-12-07 21:53] pdesjardins90 commented on #3585
Ok thanks for the explanation, I understand your predicament better. I'll do a POC on my end, see how it goes and how it may impact maintenance. I'll open a PR if I come up with anything that would check everyone's boxes.

Thanks again for your input

[2018-12-08 01:10] boneskull commented on #3155
this is either no longer happening or I just haven't noticed.

[2018-12-08 01:10] #3155 closed

[2018-12-08 01:23] boneskull opened #3601 "🛠️ Repo: Increase unit test coverage"
counting our integration tests, our coverage is hovering around 90% at time of writing.

...but if we're just looking at *unit test* coverage, it's only about 50%. 😬

Two parts to this:

- [ ] Set up Mocha to compute unit test coverage in isolation
  Create a script (`package-scripts.js`) and/or configure [nyc](https://npm.im/nyc) (`.nycrc`) to easily compute unit test coverage

  Don't include st

[2018-12-08 06:54] outsideris commented on #3585
@pdesjardins90 I couldn't find duplicated issue with this. If re-opening this issue and it is helpful to your work, I can re-open it.

[2018-12-08 20:09] plroebuck opened #3603 "Use markdown-magic to keep README HTML link versions up to date"
### Description

Update script to maintain link package version automatically for embedded HTML examples of browser usage of Mocha in [docs/index.md](https://github.com/mochajs/mocha/blame/master/docs/index.md).
[code]

### Additional Information

Use <https://github.com/forresst/markdown-magic-package-json> to achieve this.
Substitute "package.json" `version` for "5.2.0" above.

[2018-12-09 13:31] TerryZ commented on #2054
@carlosbaraza  Thanks a lot, you solved my problem.

[2018-12-09 16:06] pdesjardins90 commented on #3585
Oh I think I’ll work on my end first and when I have something to show for we could reopen this and reference it in the PR for documentation, I’ll keep you posted!

[2018-12-09 16:19] chunkingz commented on #2025
the most useful answer so far 👍

[2018-12-10 05:18] boneskull commented on #3554
Couldn't this just be solved by using e.g., [Sinon](https://npm.im/sinon)?

[2018-12-10 05:30] boneskull opened #3604 "reporters should be immune to interference with STDOUT"
Potentially related: #2943

If a reporter uses `console.log()`, it should retain the function like we do with timers.

This will theoretically allow users to stub out `console.log()` in their own tests without affecting reporter output.

Since `console.log()` expects `this` to be `console`, it likely needs to take a form of:

[code]

`process.stdout.write()` may need to be consumed in a similar ma

[2018-12-10 05:31] boneskull commented on #3604
If possible, ensure this is enforced by ESLint, as we do with the timers.

[2018-12-10 06:08] boneskull commented on #3570
I think I've fixed this (somehow) in #3556, as I can't reproduce in my branch.

[2018-12-10 07:19] shridharkalagi opened #3605 "How to log mochaOpts in the test?"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-12-10 16:52] #3037 closed

[2018-12-10 16:53] #3363 closed

[2018-12-10 16:53] #2576 closed

[2018-12-10 16:53] #3475 closed

[2018-12-10 19:48] boneskull commented on #3570
Can someone pull `master` and see if they can reproduce this?

[2018-12-10 21:12] #3569 closed

[2018-12-11 07:01] juergba commented on #3004
@boneskull please close, since solved in b5c0fb0

[2018-12-11 16:23] Jayasankar-m commented on #3570
Issue exists when using 'bin\_mocha'..
works fine with 'bin\mocha'.

[2018-12-11 16:34] craigtaub commented on #3605
Have you tried logging `this.retries()` inside the test? It should be highest priority retry value at that time.

[2018-12-11 17:04] boneskull opened #3606 "Use @mocha/contributors"
I've extracted `scripts/update-contributors.js` into a more general-purpose [@mocha/contributors](/mochajs/contributors).

- [ ] Remove `scripts/update-contributors.js`
- [ ] Add `@mocha/contributors`
- [ ] Update `package-scripts.js`
- [ ] (optional) Run this as a `preversion` or `prepublishOnly`

[2018-12-11 17:53] boneskull commented on #3570
I'm not sure it's even necessary to do this if it works with `bin/mocha`.

The use cases of executing `bin/_mocha` directly are limited; I see this typically used as a workaround dumb debuggers that don't understand child processes.

@segrey Would it be possible for you to pull down `master` and see if it's working for you?

If so, I think maybe we shouldn't mess with this unless someone is compla

[2018-12-11 21:54] segrey commented on #3570
@boneskull The issue is still reproduced for me with the current master (9b7a28202c2813fc061abc939d15ea3e759fe0de).

It works with `bin/mocha` because of [`proc.kill('SIGTERM')`](https://github.com/mochajs/mocha/blob/b5c0fb0a26ee9f8fd574e78732a2cf715d7ab6ca/bin/mocha#L114): `bin/_mocha` doesn't handle `SIGTERM` and exits forcibly. Thus, currently `SIGINT` handling in `bin/_mocha` does effectively

[2018-12-11 22:57] craigtaub commented on #2819
@fearphage I think the fix for this has now gone into master (via #3225). Closing this issue.

[2018-12-11 22:57] #2819 closed

[2018-12-12 18:13] Jayasankar-m opened #3610 "mochajs official site not accessible"
### Prerequisites

- [ ] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-12-12 18:34] guimap commented on #3610
There's any response about that ?

[2018-12-12 21:09] #3610 closed

[2018-12-12 21:14] outsideris commented on #3610
mochajs.org is restored now.

[2018-12-13 06:31] boneskull commented on #3206
cc @Munter @craigtaub

I tried this:

1. I rolled back to the earliest good deploy of v5.2.0 (deploys were failing around the release, but this was fixed sometime after).  That's eeccd05 if we want to be specific.
1. I disabled auto-deployment of the production branch (`master`)
1. I disabled automatic deployment of *all* branches, which we shouldn't be doing anyway.
1. I didn't change our deploym

[2018-12-13 07:00] boneskull commented on #3206
OK, yeah, in order to make that happen properly I'd need to either create a GitHub app or action.  The former is more work than I'm willing to do atm (though using [Probot](/probot/probot) would be a great place to start), and the later is still in private beta, so whatever.  Branches it is for now.

I'll configure netlify to only publish, say, the `mochajs.org` branch, and keep that updated when

[2018-12-13 07:00] #3206 closed

[2018-12-13 17:24] paulmelnikow opened #3612 "Improve default resolution of mocha.opts"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)

### Description

Mocha looks for `mocha.opts` in `test/mocha.opts`. Ref: https://github.com/mochajs/mocha/issues/1275#issuecomment-437538329

Many projects keep tests next to the code the

[2018-12-13 19:20] craigtaub commented on #3612
Hey
Wanted to let you know in version 6 we have changed how options are loaded (see https://mochajs.org/#configuring-mocha-nodejs). We recommend you create a configuration file at your projects root.

`mocha.opts` is now considered legacy (https://mochajs.org/#mochaopts).

Hopefully this will be useful for you.

[2018-12-13 19:42] paulmelnikow commented on #3612
That is _fabulous_!

Looks like that hasn't shipped yet! Where's the best place to track the release?

[2018-12-13 20:54] craigtaub commented on #3612
Great.

I think its very close to being released. We usually send messages out to usual channels (Twitter/Gitter etc) but you could track via a Github  "Releases only" notification.

Closing this issue.

[2018-12-13 20:54] #3612 closed

[2018-12-14 03:54] BertholetDamien opened #3615 "TO DELETE"
--- DELETE ---

[2018-12-14 03:55] #3615 closed

[2018-12-14 05:05] plroebuck commented on #3599
Why? We support case-sensitive filesystems too. You could just name your tests so they would alphabetize in ASCII order.

[2018-12-14 06:13] plroebuck commented on #1799
[code]

[2018-12-14 12:57] DawidKowalczyk opened #3618 "done is not defined()"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-12-14 13:05] DawidKowalczyk commented on #3618
Hi I have this test

`    it('record should fetch and displayed data from db ',(done) =>
        {
        request.get({url:telemetryUrl + '/graph/v1/services/telemetry/subscriptions/'+testSubscriptionId},
        function(error, response, body){
            try{

                console.log("__Status code:"+response.statusCode);
                console.log(response.body["tenantId"])
            }

[2018-12-14 13:05] DawidKowalczyk commented on #3618
have Timeout of 60000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves. error

[2018-12-14 15:09] plroebuck commented on #3618
Please fill in the required version information.

[2018-12-14 15:51] plroebuck commented on #3618
It would appear this is (hopefully) what you meant to do...
[code]

[2018-12-14 20:06] DawidKowalczyk commented on #3618
`const cassandra = require('cassandra-driver');
const telemetryUrl = 'http://';
const dbAuthority = '10.xxx", "10.xxx","10.xxx';
let subscriptionId;
let client;

// noinspection JSAnnotator
before({
    subscriptionId = 'xxxx',

console:log("connecting to db cluster..."),
const:clientOptions = {
    contactPoints: [dbAuthority],
    authProvider: new cassandra.auth.PlainTextAuthProvider('cassandra

[2018-12-14 20:30] #2529 closed

[2018-12-14 20:40] DawidKowalczyk commented on #3618
`const cassandra = require('cassandra-driver');
const telemetryUrl = 'http://xxx:9090';
const dbAuthority = '10.xx", "10.xxx","10.xxx';
let subscriptionId;
let client;

before({
    subscriptionId :'someNumber',
    const:clientOptions = {
    contactPoints: [dbAuthority],
    authProvider: new cassandra.auth.PlainTextAuthProvider('cassandra', 'cassandra')
},
client :new cassandra.Client(clientOpt

[2018-12-14 23:05] boneskull commented on #1799
easy fix, more difficult to test without refactors.  and yes, we need a real test.  #1800 added a test, but not an automated one.

[2018-12-15 07:02] plroebuck commented on #3618
Outside some minor mods to customize to your environment, what I posted earlier should have been adequate. Rather than break the `before`, use the one I provided -- you turned a function body into an object...

[2018-12-15 10:13] DawidKowalczyk commented on #3618
TypeError: Cannot read property 'call' of undefined

Yes my response server is a JSON file. As you are an export maybe you could tell my why such  error occurs? to lead me to the solution.

[2018-12-15 10:15] DawidKowalczyk commented on #3618
maybe I explain what i need I need to send GET call and compare result in that case is tenantId with tenant_id from Cassandra. I think I need assertion here? am I right?

[2018-12-15 11:08] ORESoftware commented on #3618
Random thought - you should return

[code]

[2018-12-15 11:11] ORESoftware commented on #3618
ummm is it not:

[code]

[2018-12-15 17:31] plroebuck commented on #3604
Or more simply, provide the ability to redirect to file.

[2018-12-15 17:47] plroebuck commented on #3596
While I can see how a better error message could be helpful, the _real_ bug here is in _your_ reporter  depending on missing project dependencies.

[2018-12-16 09:17] DawidKowalczyk commented on #3618
still not working but there is no simplest way to do such kind of assertion ?

[2018-12-16 18:47] boneskull commented on #3604
I think you’re conflating two separate issues. Even if any reporter could write to a built-in or user-defined stream, that stream would need to be protected from test harness interference.

[2018-12-16 18:54] DawidKowalczyk commented on #3618
(node:11588) UnhandledPromiseRejectionWarning: ReferenceError: done is not defined
    at client.execute.then.result
    at process._tickCallback (internal/process/next_tick.js:68:7)
(node:11588) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not h
andled

[2018-12-16 19:39] paulmelnikow opened #3621 "Configure xunit output filename through env"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)

### Description

I want to run the xunit reporter while in CI, and the spec reporter in dev. I'm using `mocha-env-reporter` to accomplish this. In CI I set the `mocha_reporter` environmen

[2018-12-16 19:56] paulmelnikow commented on #3621
I just learned [https://github.com/peerigon/xunit-file](xunit-file) exists for the same purpose.

I've used Mocha for a long time and really like it. After some recent experiences with other test tools, I appreciate it even more. 😄

That said, config and reporters can be frustrating and fiddly to manage, especially across many small projects.

I was glad to hear about upcoming improvements to the

[2018-12-16 20:52] craigtaub commented on #3604
I like the idea of base utility to unify reporters and make them more resilient. Happy to have a go when I get time.

[2018-12-17 00:27] coreyc opened #3622 "Promise rejection with await not throwing UnhandledPromiseRejectionWarning"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2018-12-17 07:36] juergba commented on #3004
@outsideris could you please close this issue? Thanks.

[2018-12-17 16:15] outsideris commented on #3004
I confirmed it fixed as @juergba said.

[2018-12-17 16:15] #3004 closed

[2018-12-17 17:11] plroebuck commented on #3618
You don't provide enough information for anyone to help you. Remember, I can't see your screen...

Change `dbAuthority`, `telemetryUrl`, `subscriptionId` variables as appropriate, rerun using [sample test](https://github.com/mochajs/mocha/issues/3618#issuecomment-447365553) provided, and post the output.

[2018-12-17 21:47] Lukenickerson commented on #1637
It might not be mocha's _fault_, but being able to run isolated tests is a critical [feature of testing  (especially unit testing)](https://en.wikipedia.org/wiki/Unit_testing#Advantages), so it is sorely missed. Other testing frameworks like [AVA](https://github.com/avajs/ava/blob/master/docs/01-writing-tests.md#process-isolation) have process isolation, so it is certainly a strange decision for m

[2018-12-18 08:20] DawidKowalczyk commented on #3618
non of yours was working but thanks anyway for your contribution

[2018-12-18 08:20] #3618 closed

[2018-12-18 13:04] shridharkalagi commented on #3605
This is not working for me. Is there any other way?

[2018-12-18 14:39] craigtaub commented on #3605
Can you print what code you are using and what is happening. Thanks

[2018-12-18 18:29] boneskull opened #3624 "CONTRIBUTORS.md needs updates"
There's some out-of-date information in here around goals and PR process.  Just creating an issue for the forthcoming PR.

[2018-12-18 18:34] boneskull commented on #3421
This has been fixed via #3556.

[2018-12-18 18:34] #3421 closed

[2018-12-18 18:40] boneskull opened #3626 "🛠️ Repo: Avoid running tests in CI for documentation changes"
**If you're knowledgable about Travis CI and/or GitHub integrations**, this might be a good issue for you.  It's helpful even if you just tell me it's not possible!

What I'd like to do is this:

When changes are *only* documentation updates, **only run the Markdown linter** on Travis CI.  That means no tests, no code coverage, and for the love of Pete, no AppVeyor.

The command to run these check

[2018-12-18 19:59] boneskull opened #3627 "📝 Docs: Give props to non-OpenCollective sponsors, services"
1.  We should add the following logos to our site and `README.md`, with links.  If anyone (@ArtemGovorov, @segrey?) wants to provide a tracking URL, that's cool too.

    - [WallabyJS](https://wallabyjs.com) for providing a WallabyJS license
    - [SauceLabs](https://saucelabs.com) for providing upgraded service
    - [JetBrains](https://jetbrains.com) for providing WebStorm licenses

    (Future:

[2018-12-18 22:41] craigtaub commented on #3604
Annoyingly our own tests rely on this functionality (all over the helpers), a large portion of them will break if we remove this.
Going to propose adding base utility with a gradual roll-out.

[2018-12-18 22:54] #3342 closed

[2018-12-18 23:26] #3583 closed, assigned to nobody

[2018-12-19 09:55] juergba commented on #3398
Applying PR3617 Mocha works correctly, the output is the same for:
- without flags
- with --bail
- with --bail --exit
[code]

[2018-12-19 17:48] boneskull opened #3629 "custom jsdoc tags"
I identified a use case for a custom JSDoc tag in our source.

Let's tag code that exists for the sole purpose of supporting a particular environment.  Then, if/when we drop support for that environment, we can easily find what can be culled.  Maybe `@env`?

Example, from `lib/utils.js`:

[code]

cc @craigtaub @plroebuck for feedback?

[2018-12-19 17:51] #3398 closed

[2018-12-19 17:51] #3598 closed

[2018-12-19 17:51] #3457 closed

[2018-12-19 18:05] craigtaub commented on #3629
Sounds like a good idea. Should be 1 tag per env, no comma separation.

While we are on the subject think we could do with mandating how to use the tags. Im still not clear on whether to optimise for user access or module documentation.

[2018-12-19 18:46] boneskull commented on #2415
this is now invalid.  AppVeyor failures are usually just timeouts.

[2018-12-19 18:46] #2415 closed

[2018-12-19 19:05] boneskull commented on #3009
@overlookmotel 	I'm trying to get this fixed now.

[2018-12-19 19:06] boneskull commented on #3009
cc @raymondfeng

[2018-12-19 19:37] craigtaub commented on #3604
@boneskull with so many of our reporter tests relying on interfering with `process.stdout.write` we would have to redo most of them if we did this.
What do you think if we just move the reporters using `console.log` to use `process.stdout.write` instead? Very quick change.

Worth noting `console.log` calls `process.stdout.write` internally, and `process.stdout.write` cant be stored + used as a ref

[2018-12-20 15:54] uluhonolulu opened #3630 "xdescribe executes the code"
### Prerequisites

- [ x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't supp

[2018-12-20 22:01] craigtaub commented on #3630
Not quite sure if this is by design or not, but docs do suggest should not execute describe block.

[2018-12-20 22:50] craigtaub commented on #3071
@rugk seems like the owner has lost interest, perhaps checkout branch, rebase and re-open PR if you are still interested. It sounded close if passes IE11 testing.

[2018-12-20 22:55] craigtaub commented on #3022
@boneskull based on the issues you had with `dont-break` (in #3013) should this be closed or is it still worth investigating?

[2018-12-21 06:17] boneskull commented on #3009
I think my original comment was incorrect; it seems `setImmediate` *is* what we want to be doing.  Either way, it needs to be consistent.

[2018-12-21 09:21] juergba commented on #3414
The double `end` event was a bug and has been fixed with PR #3617.  The bug was caused by the `bail` flag exclusively, without any link to `--retries`.
With `--bail` Mocha exits in a clean manner, all `afterEach` and `after` hooks are called for a potential cleanup, then all remaining tests/subsuites in current suite and all subsequent suites are skipped.
[code]
@craigtaub I'm unsure why the first

[2018-12-21 15:21] uluhonolulu commented on #3630
@craigtaub I couldn't find any docs for xdescribe -- where did you see that "Docs suggest should be executed"?

[2018-12-21 15:34] craigtaub commented on #3630
@uluhonolulu sorry i meant "not" executed. xdescribe same as `.skip.`.

[2018-12-21 19:03] boneskull commented on #3009
I've created #3631 which addresses the inconsistency, but it does not consume `process.nextTick()`; instead it uses `setImmediate()` in both cases.  Please discuss further in that issue.  cc @overlookmotel @meeber @raymondfeng

[2018-12-21 21:20] boneskull commented on #3604
Can you show how it'd be necessary to change them?  I think we can just change the helper function `createRunReporterFunction()` to spy on calls to `process.stdout.write()` via a combination of [Sinon](https://npm.im/sinon) and [rewiremock](https://npm.im/rewiremock).

Not sure I understand.  `console.log` (in Node.js) is (likely) bound via `Function.prototype.bind` to the `console` object, which

[2018-12-21 21:21] boneskull commented on #3604
I think it'd be helpful to see a proof of concept.

[2018-12-21 23:03] craigtaub commented on #3414
@juergba stats-collector is just a listener. Looks like its the Runner.immediately() which causes this switch. `start` is emitted on nextTick whereas the first `suite` is not. Im not sure if this is a bug.

[2018-12-22 07:43] juergba commented on #3414
@craigtaub Yes, but Runner.immediately() hasn't been changed, whereas the statistics have been refactored. And before this refactoring the event order was different than now.
@plroebuck can you help, please?

[2018-12-22 17:58] plroebuck opened #3634 "Remove teamcity reporter reference"
### Description

The 'teamcity' reporter moved to its own repository more than five years ago (Mocha-1.14.0).
It's time to remove the notice from "lib/mocha.js".

### Additional Information

See #954.

[2018-12-23 17:47] #3111 closed

[2018-12-23 23:19] Noitidart commented on #2969
I am also having this issue. In my mocha.opts i set `--bail`, but i have test that has `this.retries(10)`. Bail should not bail out until all 10 retries have failed. It is counting a retry-error as a bail. It should count ALL-retry-failed as single error.

[2018-12-24 00:04] Noitidart commented on #2969
Oops never mind, I was using a fat arrow function, should have used regular.

[2018-12-27 07:42] RyanLiuF commented on #2706
I clean the require cache up by using the clear-require component,
and it works every time, the  code  as follows:
  ` const clearRequire = require('clear-require');`
   `clearRequire.match(new RegExp('mocha'));//must be here`
  `clearRequire.match(new RegExp('your-test-js-file'));//must be here`
more details :
`const clearRequire = require('clear-require');`
 ` function testMochaClick()`
 ` {`

[2018-12-28 00:01] boneskull opened #3636 "some fixtures need renaming"
commit a113b8550dc683d8d507b9e618bc438805476d19 introduced some test fixtures but they don't have the `.fixture.js` extension.

[2018-12-28 00:01] boneskull commented on #3636
cc @outsideris

[2018-12-28 18:16] juergba commented on #3414
@outsideris Could you have a look at this switch of the `start` and `suite` events, please.
I think the order is incorrect now. I didn't checkout the commits, but the change could have been caused by 00ca06b. Thanks.

[2018-12-28 18:50] outsideris commented on #3414
@juergba You are right. https://github.com/mochajs/mocha/commit/00ca06b0e957ec4f067268c98053782ac5dcb69f caused to change the order. I will dig it more.

[2018-12-28 19:46] #1304 closed

[2018-12-28 22:13] plroebuck commented on #2706
The current codebase needs `mocha` to be reinstantiated between runs due to internal implementation issues.

[2018-12-28 22:30] plroebuck commented on #3414
Someone please add a new PR with a trivial test case/fixture that outputs events fired with an expected order. Think it's time we merge it to prevent these continued issues with event firing order.

Until then, this needs to be backed out.

[2018-12-28 22:34] boneskull opened #3639 "growl should use userland "which" package"
We should consume userland modules for nontrivial operations to avoid maintenance burden.  continuation of my comments from #3542, which introduced a hand-rolled `which` implementation.

[2018-12-28 23:10] plroebuck opened #3641 "Remove MOCHA_COLORS environment variable"
### Description

This environment variable was introduced in Sep 2013 by #965.
Later, we updated to use [supports-color](https://github.com/chalk/supports-color/) module for color support in Feb 2015 by #1545.

This module [later gained its own pseudo-standard environment variable](https://github.com/chalk/supports-color/pull/31) `FORCE_COLOR` which provides the same function in Jan 2017.

As `MOC

[2018-12-30 22:07] thusfar7 commented on #3293
@OSP123 Did you figure out a nice solution for this? Would you be willing to share it with the rest of us?

[2018-12-30 22:13] OSP123 commented on #3293
Oh man, we came up with something, but I forgot what it was. We've had to shelve the project for other priorities.

[2019-01-01 18:44] #3639 closed

[2019-01-01 18:52] #3125 closed

[2019-01-01 19:35] boneskull opened #3643 "can't run browser tests on windows"
Not surprised, given we don't do this in CI.  What needs to happen is `NODE_PATH=.` in the `package-scripts.js` should be changed to `cross-env NODE_PATH=.`.

[2019-01-01 21:10] boneskull opened #3644 "deploy docs of major releases to their own subdomains"
Currently, only the `mochajs.org` branch will be published whenever it's updated.  That's fine for ensuring our site doesn't reflect `master`, but what we should *really* do is have multiple sites--e.g., one for v5.x and another for v6.x.

Netlify can do this automatically based on branch name; it creates a slug of the branch name and uses that for the subdomain.  We can then whitelist the branche

[2019-01-02 18:32] boneskull commented on #3630
Yes, this is by design.  The reasoning is that `.skip` is not the only way to control which suites / tests are executed.  We have `--grep`, `--fgrep` and `.only`, and they all have precedence.  The only way to ensure multiple options are respected (though the greplike options are mutually exclusive now) is to execute all suites.

[2019-01-02 18:32] #3630 closed

[2019-01-02 18:50] boneskull opened #3646 "too much noise if no files found"
To reproduce, run `mocha` (verbatim) in a directory with no `test/` subdir:

[code]

We should remove the warning and use the error.  Print the dir it's looking for, but only once.  :smile:

I think @craigtaub might be good to address this since he changed some errors recently, but please unassign/re-label if you don't want to do it.

[2019-01-02 18:53] boneskull commented on #3622
It's not unhandled because the `Promise` returned by your test is then caught and eaten by Mocha.  It's considered a test failure.

[2019-01-02 18:53] #3622 closed

[2019-01-02 19:00] boneskull commented on #3599
When given a directory, Mocha uses `fs.readdir()`, which returns the files in this order.

If you need a specific order, consider using `--file`.

Maybe it'd be worthwhile to use `glob` under the hood instead of `fs.readdir()` so the ordering is consistent.

The function that handles this is in [`lib/utils.js`](https://github.com/mochajs/mocha/blob/1f325e746033f698c6a040329a2fd7670daaf274/lib/util

[2019-01-02 19:05] boneskull commented on #3593
duplicate of #3106
duplicate of #1431

Also `--delay` can help here.  I realize this is not ideal, but Mocha currently doesn't support this behavior.  It'd be nice to make this work, but I'd need to see a solid technical proposal that does it in a way that won't break a bunch of stuff.

[2019-01-02 19:05] #3593 closed

[2019-01-02 19:39] craigtaub commented on #3646
Happy to look. In this scenario perhaps it should just error and exit instead of warn first time.

[2019-01-02 20:46] boneskull commented on #2999
I'm reopening this as we had another publishing problem that this fix didn't address: missing file(s) in the published package.

As part of our "smoke" tests, we need to ensure the output of (perhaps?) `npm pack` works properly. Open to other ideas, but this is my first thought.  Create a script to:

1. Run `npm start build && npm pack --json`
1. Parse the result of `npm pack --json` to get the ou

[2019-01-02 20:48] boneskull commented on #2999
Rename "sanity" to "smoke" while we're at it.

[2019-01-02 23:34] craigtaub commented on #2602
This has surfaced again from tests passing on PR but causing master to fail. I can have a go.

[2019-01-03 04:02] g1eny0ung commented on #117
This warning also appears in Mocha 5.2.0.

[2019-01-03 13:19] plroebuck commented on #3641
`FORCE_COLOR` is numeric value so:
* `0` disables color support
* `1` specifies basic color support (16 colors)
* `2` specifies 24-bit color support (256 color palette)
* `3` specifies 32-bit [truecolor](https://gist.github.com/XVilka/8346728) support (16m colors)

So specifying `FORCE_COLOR=0` in environment will disable color support.
Likewise, `FORCE_COLOR=1` will enable color support.

[2019-01-03 14:05] Berkmann18 opened #3647 "Error thrown yet the test fails"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2019-01-03 16:01] plroebuck commented on #3599
We don't set the `nocase` glob [option](https://www.npmjs.com/package/glob#options), so this ordering was not intended.
If `glob`'s output is ordered differently on case-insensitive filesystems, [sorting its output before return](https://github.com/mochajs/mocha/blob/1f325e746033f698c6a040329a2fd7670daaf274/lib/utils.js#L527) would be simpler (and faster) means of consistency, without surprising a

[2019-01-03 20:13] plroebuck commented on #3599
Having looked further, **no** order is implied via [`fs.readdir`](https://nodejs.org/api/fs.html#fs_fs_readdir_path_options_callback). Different OS/filesystem combinations can give different results (via [readdir(3)](https://stackoverflow.com/questions/8977441/does-readdir-guarantee-an-order)) which returns [directory] entries in _traversal_ order which may or may not be alphabetical (e.g., on mac

[2019-01-03 20:22] boneskull commented on #3599
@plroebuck 	Are you suggesting to enable sorting by default (i.e., `--sort`)?

[2019-01-03 21:39] boneskull commented on #3599
I don't think we should change this behavior, but happy to discuss.  Mocha makes no guarantees about the order in which files are loaded if it is not operating on a globspec (this is undocumented).  That said...

Changing the behavior to sort differently (whatever that looks like) will break tests.  And not of the "dirty tests" variety either--users may have some setup hooks within the root suite,

[2019-01-03 22:12] boneskull commented on #3647
I'm going to guess that `Server` attempts to bind to a port, but does so asynchronously (because that's the only way it can do so).  It can't bind because the address is in use, so the `Error` is thrown asynchronously and ends up uncaught.

Effectively, something like this happens:

[code]

The `catch` doesn't catch the `Error` thrown, because it's thrown asynchronously.  The same thing is happeni

[2019-01-03 22:12] #3647 closed

[2019-01-03 22:45] boneskull commented on #3634
closed by #3649

[2019-01-03 22:45] #3634 closed

[2019-01-03 23:04] boneskull commented on #117
if someone has a [MCVE](https://stackoverflow.com/help/mcve), please provide one in  a [new issue](/mochajs/mocha/issues/new).  Locking this issue.

[2019-01-03 23:05] boneskull commented on #3643
We are using ESLint to format these files now using `eslint-plugin-prettier`, so not surprised that it's not working properly.  I'll update the settings.

[2019-01-03 23:40] stevenvachon commented on #3599
I'm not sure how macOS sorts files, but Finder.app sorts it how I'd described.

[2019-01-04 03:32] outsideris commented on #3644
I can help this, but I can't access Netlify.

[2019-01-04 08:11] #3646 closed

[2019-01-04 16:53] boneskull commented on #3647
Yes, IIRC Chai doesn’t have Promise-handling stuff build in. Try `chai-as-promised` plug-in. Or try ‘unexpected` which has support built-in and will be familiar to Chai users.

[2019-01-04 17:51] Berkmann18 commented on #3647
I tried `chai-as-promised` and ended with this test case:
[code]
But it fails even if I use `not`.

I also tried `unexpected` with this:
[code]
That also fails but it doesn't seem to give as much details as I expected after looking at the website.

[2019-01-04 18:52] boneskull commented on #3647
Your constructor returns a `Server` object, not a `Promise`.  Unless a `Promise` is returned, you can't make assertions about `Promise`s.

Again, my advice is to *not* attempt to make a connection in the constructor.

If you feel you must, you can do this:

[code]

Then you can test it like this:

[code]

[2019-01-04 19:14] boneskull commented on #3647
If you go this route, [chai-eventemitter](https://npm.im/chai-eventemitter) is helpful.

[2019-01-04 21:07] Berkmann18 commented on #3647
@boneskull Thanks for the suggestion, I'll look refactoring it and see if it's more testable.

[2019-01-05 00:07] craigtaub opened #3656 "Ensure all errors have code"
We now have error codes for errors generated by mocha (via issue https://github.com/mochajs/mocha/issues/3125) but there are still some missing.
e.g. https://github.com/mochajs/mocha/blob/master/lib/interfaces/common.js#L130

Make sure the others have factory functions with appropriate code, arguments and documentation.

[2019-01-05 11:34] Munter commented on #3644
I have already done a bit of research into what might be possible with netlify. Sadly there is no ability to create netlify deploys based on git tags, which would be the preferrable flow with npm packages.

However I think we can certainly make a setup where we, in a simple approximation of this suggestion, put semver major branches in place at the lastest version of a major `v2`, `v3`, `v4` etc (

[2019-01-05 11:36] Munter commented on #3644
@outsideris I invited you as an admin of the netlify project for mocha

[2019-01-05 12:41] tharun208 commented on #3626
You are saying that we dont need to run tests fro markdown changes or I understanded it wrongly ?

[2019-01-05 14:38] plroebuck commented on #3599
No. Original suggestion was only sorting `glob` results (attempting to make them match those from `fs.readdir` which at the time I assumed were alphabetical).

[2019-01-05 15:00] plroebuck commented on #3599
Each `Finder.app` window _explicitly_ sorts its contents via selected column header (e.g., Name, Size, Date Modified, Kind). Many things can also affect sorting order (e.g., locale, comparison function); even `Finder.app`'s sort order can be changed [under the hood](http://mygeekdaddy.net/2016/02/29/change-finder-sort-order-for-os-x-el-capitan/).

[2019-01-05 17:35] plroebuck commented on #3599
I updated the API documentation to specify no order should be assumed.
Using consistent file naming and `--sort` will provide alphabetical ordering if required.

[2019-01-05 18:55] #3599 closed

[2019-01-05 19:57] plroebuck commented on #3626
@tharun208 you do for now. The current GitHub setup requires running tests in order to squash/merge, even if all you did was update the README; this can take 30+ minutes for no benefit.

[2019-01-05 20:12] Munter commented on #3626
I'm on it. I think I might have something working shortly

[2019-01-06 08:50] bugs181 opened #3659 "Mocha not running test"
### Prerequisites

- [✔️] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [✔️] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't sup

[2019-01-06 10:08] juergba commented on #3659
There is no test to run in your "test.js". Please see [here](https://mochajs.org/#getting-started).

[2019-01-06 11:43] bugs181 commented on #3659
My example `test.js` didn't cover the whole test file. I had a lot of nested `describe` functions and was under the assumption that it would work. (It appeared to work fine in Wallaby.js). The fix for me was to change some of those `describe` functions into `it` functions. Consider this issue closed.

[2019-01-06 11:43] #3659 closed

[2019-01-06 12:43] Berkmann18 commented on #3647
I've managed to get around this issue but errors like EACCES and such are even harder to deal with when it comes to catching and testing them.

[2019-01-07 15:38] outsideris commented on #3644
@Munter Thank you.

I will research them in my own netlify in advance.

[2019-01-07 17:23] boneskull opened #3661 "consolidate modules used for markdown processing"
See #3652 which may affect what happens here.

Currently we're using [markdown-magic](https://npm.im/markdown-magic), [markdownlint](https://www.npmjs.com/package/markdownlint), _and_ [remark](https://npm.im/remark) to handle linting and pre-processing various markdown files (including those used on mochajs.org).

I'm pretty sure everything here can be replaced by `remark` and its plugin ecosystem

[2019-01-08 07:19] robdaems opened #3662 "Mocha Server"
### Prerequisites
- [x ] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't supp

[2019-01-08 18:37] boneskull opened #3663 "update mochajs.org to use @mocha/docdash@^2"
[@mocha/docdash](/mochajs/mocha-docdash) should pull down changes from [docdash](/clenemt/docdash), since there are some new features in there we could use.

[2019-01-08 18:43] boneskull opened #3664 "syntax highlighting on API site should use light color scheme"
It can be difficult (if not impossible) for colorblind people to read code on a dark background.

Use a color scheme with a light background.  Feel free to adapt the scheme from [mochajs.org](https://github.com/mochajs/mocha/blob/master/docs).

[`static/styles/prettify.css`](https://github.com/mochajs/mocha-docdash/blob/master/static/styles/prettify.css) is the file that needs modification.

You'l

[2019-01-09 00:13] DominicTobias commented on #1252
I made a Promise function which does the delay as promises work better with async/await:

[code]

And using it:

[code]

[2019-01-09 20:50] waseemahmad31 commented on #3603
Can I submit the pull request for this issue?

[2019-01-09 23:36] boneskull opened #3667 "🐛 Bug: mochajs.org needs a CSP (Content Security Policy)"
From [this comment](https://github.com/mochajs/mocha/pull/3652#issuecomment-452403364) by @plroebuck w/ comments by @munter.

[2019-01-09 23:41] boneskull commented on #3414
This, whether a fix or a backout, will need to be addressed before the first release.

@plroebuck 	We now have tests per @juergba 	and #3642.

[2019-01-10 16:21] ondratra commented on #2975
Because I want to prevent my code from having Hadouken indent (http://i.imgur.com/BtjZedW.jpg), I wanted to use this design:

*test.ts*
[code]

*./subtests/component1.ts*
[code]

In this scenario `before()` can't help me so I am forced to rewrite the code and use `--delay`. Delay is not optimal in such situation because it brings unnecessary waiting when is set delay high while it can start things

[2019-01-10 17:44] plroebuck commented on #2975
@ondratra, why can't `before()` work for you?

**"test.ts"**
[code]

[2019-01-10 18:37] outsideris commented on #3663
Did you [merge them](https://github.com/mochajs/mocha-docdash/commits/master)?

[2019-01-10 21:35] 1337GameDev commented on #1962
Can confirm that the [code](https://github.com/mochajs/mocha/blob/master/lib/suite.js) STILL doesn't do what it says.
Would it be hard to simply walk the tree to find the Suite object that has a name we pass in?

I realize this would add a "linear" complexity, but this could be an easy change.
You could also add a "lookup" table, by name, to find existing suites (or at least suites with common anc

[2019-01-10 21:55] boneskull commented on #3663
@outsideris Yes.  Next step is to upgrade.  I think this might want to wait on #3652.

[2019-01-10 22:04] boneskull commented on #1962
[TJ wrote](https://groups.google.com/d/msg/mochajs/emfkoTpRY-o/er2_2a69Eh4J) the comment is invalid.

I think what he means by this is that "streaming" reporters (e.g., `json-stream`) would be negatively impacted.

The decision of whether or not suites should be combined *should* be left up to the individual reporter.  I *think* this would be possible, but may be tricky to do correctly.

In order

[2019-01-11 18:43] Jmiller3711 commented on #1431
What if I need foo to be in scope both inside the mocha test and outside the mocha test. Example:
`describe('test', () => {
    var foo;

    beforeEach(() =>
        doSomethingAsync().then((x) => {
            foo = x;
        }))

//need foo in scope here as well
    it('should', () => {
        // foo is in scope
    });
});`

[2019-01-11 19:17] ondratra commented on #2975
@plroebuck Sry I should have added definition of `testComponent1()` for better illustration. When `testComponent1()` is async, the code you wrote won't run any test (properly) and finish with message `0 passing (0ms)`.

[2019-01-11 19:22] ondratra commented on #2975
@plroebuck Sry I wrote bad definition of `testComponent1()`. It should be async:
[code]

When `testComponent1()` is async, the code you wrote won't run any test (properly) and finish with message 0 passing (0ms). One of reasons you might want to have `testComponent1()` async is when you want to load another component specific prerequisites inside.

[2019-01-11 20:12] ondratra commented on #2975
@plroebuck after more thinking and testing I found out your design solves the issue.

[2019-01-12 16:41] givanse commented on #2302
New PR https://github.com/mochajs/mocha/pull/3669

[2019-01-13 08:06] esromneb opened #3670 "Mocha doesn't support --experimental-worker"
### Prerequisites

- [ x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't supp

[2019-01-14 13:57] shirakaba commented on #591
Here are TypeScript typings for @aMarCruz 's approach in case anyone finds them useful.

[code]

[2019-01-15 17:35] plroebuck commented on #3092
_All_ your tests (e.g., "\*.spec.js" and "\*.test.js") should be in your "test" directory (or some subdirectory within). The `find` commands should be wholly unnecessary if you organize them as such.

Assuming this, the cmdline for recent versions of Mocha would be:
[code]

[2019-01-15 17:38] boneskull commented on #2578
closed by #3556

[2019-01-15 17:38] #2578 closed

[2019-01-15 17:40] boneskull opened #3672 "consider more fancy CLI output"
[yargonaut](https://www.npmjs.com/package/yargonaut) looks cool, and it might be nice to use its color capabilities.

![yargonaut demo](https://cloud.githubusercontent.com/assets/1929625/9726791/ae6830ac-55c5-11e5-9af4-968844a9f5fa.gif)

(I wouldn't want to use the silly ASCII fonts)

@mochajs/core anyone opposed to more fancy output?  @plroebuck?

[2019-01-15 17:43] Munter commented on #3672
Looks awesome! Until about half way through ;)

[2019-01-15 17:54] pcowgill commented on #3092
One downside of that strategy is that it’s harder to visually verify that all files are tested at a glance. Putting test files right next to the files under test makes that easier.

[2019-01-15 18:37] boneskull commented on #3672
maybe I'll fork it and rip out the awful fonts and replace `chalk` with `ansi-colors`

[2019-01-15 21:19] plroebuck commented on #3092
Meh, I don't find it difficult to have an editor window with two tabs showing both code and corresponding test in different directories. I usually organize mine like this:
[code]

But it's a rather trivial cmdline change to incorporate your style...
[code]

[2019-01-16 06:41] #2755 closed

[2019-01-17 09:01] furstenheim opened #3675 "Mocha failing when error message too big"
### Description

Mocha never ends with big error messages

### Steps to Reproduce

[code]

Then execute `yarn mocha test --exit`, the test will execute it will be marked as failure, but the summary will never appear and the process will not exit.

If on contrary one writes:

[code]

The test fails and it displays an error in the summary. Error is logged without any problem.

**Expected behavior:**

[2019-01-17 17:26] #3643 closed

[2019-01-17 21:54] boneskull opened #3676 "createInvalidArgument function, other renames"
In #3666 we're tossing an error because `--compilers` can no longer be used.  But we're using [`createInvalidArgumentValueError`](https://github.com/mochajs/mocha/blob/414bc1e184358cac886a3649fa2a610b7cb35cd8/lib/errors.js#L108), which doesn't seem to be appropriate based on that function's documentation.

It looks like what we want is a `createInvalidArgumentError`, where the argument itself is d

[2019-01-18 09:48] boneskull commented on #3675
Please retry this but use the built in `assert` module. same result? if so, the problem may be in our diff-generating code.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-18 19:09] andykais commented on #2735
any news on this feature?

[2019-01-18 21:44] boneskull opened #3678 "extract GH-237-related ESLint rules into standalone module"
It might be useful for somebody to reuse our [complicated-ass ESLint rules](https://github.com/mochajs/mocha/blob/166317eca27528c1ada09eee82aeb4f783c35f59/.eslintrc.yml#L43) around use of global timers.

These rules, for example, disallow:

[code]

but they allow:

[code]

These are repeated for the other global timers and the global `Date` object.  Use of Node.js' `timers` module should also be d

[2019-01-18 23:06] boneskull opened #3679 "try eslint-plugin-ie11"
[eslint-plugin-ie11](https://www.npmjs.com/package/eslint-plugin-ie11) should help us cover those few things that ESLint doesn't do out-of-the-box.

If proven useful, it should be used in all code which isn't specifically found in the [whitelist of files supporting ES6](https://github.com/mochajs/mocha/blob/master/.eslintrc.yml#L20-L29).

[2019-01-19 15:57] outsideris commented on #3641
I think we wouldn't do this as #3665.

[2019-01-19 15:57] #3641 closed

[2019-01-19 16:48] outsideris opened #3681 "`--inspect` flag doesn't work"
When I tried to debug mocha with `--inspect` option, `ReferenceError: describe is not defined` error occurred.
 It seems it is not run under `mocha` context.

[code]

With `mocha@5.2.0`, it is fine.

[code]

[2019-01-20 17:27] brewster1134 opened #3682 "programmatic mocha.run synchronous reporters"
i need to generate separate reports for each test file, however when i use mocha programmatically, the reporters don't generate assets (e.g. html, doc). they just seem to send everything to stdout. so then i tried running `mocha.run()` once for each file, and tried capturing stdout to create the file, but i canno get it to run synchronously.

any suggestions on how i could generate multiple report

[2019-01-21 16:05] plroebuck commented on #3682
https://github.com/stanleyhlng/mocha-multi-reporters

[2019-01-21 16:06] #3682 closed

[2019-01-21 16:14] plroebuck commented on #3629
I hate our API documentation now... Have been looking into possibility of restoring `@api` tag with custom jsdoc plugin (so it actually means something) and maybe we color methods with that tag differently to imply availability to user code.

[2019-01-21 17:07] shanebdavis commented on #808
What was the conclusion on this issue? Case sensitivity plagues me daily - I miss tests when I'm greping because of case miss-match. Would a patch be accepted that adds a case-insensitive option for web-mocha and command-line mocha? --grep-ignore-case perhaps?

[2019-01-21 21:43] boneskull commented on #3629
@plroebuck

Not only is it information overload, I can't see any reason consumers would need to know about APIs that aren't intended to be used.  If you, the developer, want to see this documentation, it's easy to generate locally:

[code]

...and you'll have everything in `docs/_dist/api`.  We could also add something in `package-scripts.js` to do this.

[2019-01-21 21:45] boneskull commented on #808
@shanebdavis `--grep` accepts a regular expression, including a flag.  `--grep '/foo/i'` would find Foo and Foo and FOO etc.

[2019-01-22 20:42] plroebuck commented on #3675
If it just takes a long time, is that necessarily a _"confirmed bug"_?

[2019-01-22 21:16] juergba commented on #2142
[code]
This bug seems to be fixed meanwhile, the output by the current master is correct when using `only()` along with the `--delay` option.

[2019-01-22 21:16] #2142 closed

[2019-01-22 21:31] juergba commented on #1838
This issue can be closed, see PR #3215

[2019-01-22 21:31] #1838 closed

[2019-01-23 09:04] juergba opened #3683 "Boolean option "--delay" does not work in all cases"
- [X] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [X] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't supported in the environ

[2019-01-23 16:51] juergba commented on #3672
Yes, it looks nice, but ... just as nice-to-have.
We have >250 open issues and sometimes I think we should define priorities.

[2019-01-23 18:47] outsideris commented on #3681
I tried to fix this issue, but I could find a good solution. Any idea? /cc @mochajs/core

[code]

In [here](https://github.com/mochajs/mocha/blob/master/bin/mocha#L24), [yargs-parser](https://github.com/yargs/yargs-parser) parsed `example.js` as `--inspect`'s value. Other [Node flags](https://nodejs.org/api/cli.html#cli_options) are same.

So, below works.

[code]

And this also works.

[code]

Ho

[2019-01-23 18:50] boneskull commented on #1810
See https://github.com/enobufs/mocha-issue-1810-test/pull/1 for an example of how to use existing Mocha functionality to do this.

@enobufs please close this issue if my suggestion addresses your use case; I'm having trouble understanding if it doesn't.

[2019-01-23 18:51] boneskull commented on #3672
@juergba let's discuss this in the (public) [contributors' chatroom](https://gitter.im/mochajs/contributors)

[2019-01-23 20:50] enobufs commented on #1810
I made a PR for you to show you why --file wouldn't work. https://github.com/boneskull/mocha-issue-1810-test/pull/1

[2019-01-23 21:59] enobufs commented on #1810
@boneskull Let me take that back. Now I think `--file` works. (I was so much concerned about initializing modules before loading in the spec... )

[2019-01-23 22:04] enobufs commented on #1810
@boneskull It appears to me that `--file` option was introduced in v5.0.0.  before()/after() for the file also became available in the version?  (I will make a note for mocha-prepare to discourage the use of it)

[2019-01-23 22:11] #1810 closed

[2019-01-23 23:15] boneskull opened #3685 "inspect exit handlers"
we need to audit over we're exiting processes and the interaction between `mocha` and `_mocha`.

1. I'm not sure everything is working as intended.
1. The tests around `--exit` / `--no-exit` only operate on `_mocha`.
1. We abort some of these tests by sending the child a `SIGINT`, but...
1. The exit code of the child should be 130.  It's 0?  Once a node process has decided to exit, it's tough to d

[2019-01-23 23:22] boneskull commented on #3681
@outsideris see here https://github.com/mochajs/mocha/blob/0f95a7d73355ce9ab299c9f8dfa983b897ecf2fc/lib/cli/options.js#L290

we may want to do the opposite--take everything from `_` and put it into `--spec`.  (`--spec` is an alias for the default positional arguments; the "files" in other words)

does that help?

[2019-01-24 10:10] juergba commented on #3683
args.opts in options.js shows
- when the order is `--timeout 5000 --delay`:
`delay: "D:/mocha3291/mocha/test/integration/fixtures/options/delay.fixture.js"`

- when the order is `--delay --timeout 5000`:
`delay: true`

[2019-01-24 12:46] juergba commented on #3683
In "lib/cli/run-option-metadata.js" the dictionary of yargs option types is incomplete.
`boolean: []` does not include the `--delay` option.

[2019-01-24 12:49] juergba commented on #3681
Have a look at https://github.com/mochajs/mocha/issues/3683#issuecomment-457184246
Maybe your issue has the same cause as mine.

[2019-01-24 15:48] juergba commented on #2087
With current master the hook behavior (`beforeEach` and `before`) is correct:
- hook is not executed when no test at all.
- hook is executed with
  - it()
  - it.only()

[2019-01-24 15:48] #2087 closed

[2019-01-24 17:45] boneskull commented on #3683
@juergba 	does adding `delay` to `boolean` fix the issue?

[2019-01-24 18:06] juergba commented on #3683
@boneskull yes, it does.

[2019-01-24 18:31] juergba commented on #3683
@boneskull ok, PR tomorrow.

[2019-01-24 18:58] plroebuck opened #3687 "Cmdline argument processing faulty with "bin/mocha""
### Description

Mocha's cmdline argument processing is not working as it should. Defaults are being applied _prior_ to determining if the user-provided cmdline arguments were valid.

### Steps to Reproduce

Checked with various non-boolean cmdline options that should _require_ arguments, such as:
* --timeout
* --slow
* --require
* --global
* --ui

**Expected behavior:** [What you expect to happen

[2019-01-24 19:00] plroebuck commented on #3683
Might be related to my issue as well. Does it work with "bin/_mocha"?

[2019-01-24 19:27] boneskull opened #3688 "consider supporting node-report if present"
[node-report](https://github.com/nodejs/node-report) was recently pulled in to Node.js core.

it might be cool to consume this _if it exists_ to provide extra information in case of an unexpected failure.

maybe that looks like formatted output before process end, or just creation of a report file.  there may be tools already that ingest this data and output it in a pretty, human-readable format (

[2019-01-24 20:17] boneskull opened #3689 "refactor: encapsulation issues"
There are many places throughout the codebase (mostly in the main classes) where we modify data via assignment in some object (e.g., a `Suite`) directly from some *other* class.  this includes properties which are ostensibly "private" (e.g. `Suite#_onlyTests`).

This breaks encapsulation/information-hiding. Refactor these instances by creating methods within the classes having these properties, an

[2019-01-24 20:32] plroebuck commented on #3689
[The Paperboy, The Wallet,
and The Law Of Demeter](https://www2.ccs.neu.edu/research/demeter/demeter-method/LawOfDemeter/paper-boy/demeter.pdf)

[2019-01-24 21:46] boneskull commented on #3689
yes.
even the “bad” example in that pdf is better than what we currently have!

[2019-01-24 21:59] boneskull opened #3690 "bin/mocha: don't spawn child process unnecessarily"
This _may_ or _may not_ be a good idea:

If the user has _not_ passed Node.js-specific or V8-specific arguments, import `main` from `lib/cli/cli.js` and execute it.

If the user _has_ passed Node.js-specific or V8-specific arguments, use current behavior.

Advantages:
- faster startup time

Disadvantages:
- increased potential for inconsistent behavior
- would require us to be much more careful ab

[2019-01-25 08:12] juergba commented on #3683
@boneskull your test does not list options without assigned type. It just lists the options already present in the dictionary of yargs option types, but not the missing ones, like `delay`.

[2019-01-25 08:22] juergba commented on #3683
@plroebuck
without assigned type to `delay`: "bin/mocha" and "bin/_mocha" don't work.
with assigned type  to `delay`: both work

[2019-01-25 10:36] wilsonbrito opened #3693 "After() JSON"
### Prerequisites
5.2.0

### Description
I'm having problem in after (), when it contains two tests with the same JSON, eg:

| -fixtures
| --products
| --- charmander.json
| -test
| --products.spec.js
| --quotes.spec.js

If no products and quotes contains the same product as example, called charmander.json, does not run the project and reports as error the test 'quotes.spec.js'.

It is worth remem

[2019-01-25 14:51] doniyor2109 commented on #3689
Hi. Can I take the issue?

[2019-01-25 19:20] #3683 closed

[2019-01-25 19:20] #3687 closed

[2019-01-26 00:56] boneskull commented on #3681
looks like we may just need to special-case this.

[2019-01-26 00:59] boneskull commented on #3681
basically that involves doing something like what v5.2.0 does for some node flags that optionally accept an argument.

FWIW, `--inspect 0.0.0.0:12345 foo.spec.js` does *not* work on Mocha v5.2.0 either, and I wouldn't expect it to; the `=` is required.

[2019-01-26 03:56] amanriquez commented on #3664
Hello, I am a beginner looking for first issues. Are the item bars what you're talking about? like these:
https://mochajs.org/api/mocha#asyncOnly

[2019-01-26 07:20] outsideris commented on #3675
Because it doesn't take so long without mocha.
So, I thought there is a performance issue in mocha even if I didn't find why.

[2019-01-26 08:54] outsideris commented on #3693
I didn't get the issue. Could you provide [MCVE](https://stackoverflow.com/help/mcve)?

[2019-01-26 11:18] outsideris commented on #3664
I believe it is [these kinds of code block](https://mochajs.org/api/mocha.js.html#line503).

[2019-01-27 07:17] intelliot commented on #3097
+1 @jwickens , I'm seeing this problem as well.

[2019-01-27 19:57] enobufs commented on #1810
My test shows, `--file` option before v6.0.0 did not work as expected.

Before v6.0.0, the file specified by `--file` won't load if you try to run specific files.

[2019-01-28 09:26] iamnikas opened #3696 "Impossibility to change the description in "it (string, fn)" and "describe (string, fn)" during the execution of tests"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2019-01-28 14:00] juergba commented on #3681
We could require users to distinguish between mocha flags and node flags. All node flags have to be attached at the end of CL, separated by the end parsing sign "--".
Mocha would just pass these node flags to Node, without any checks or whatever. Node would do the parsing for us.
Like "npm" running a script: `npm run server -- --port=1337`

[2019-01-28 14:56] iamnikas commented on #3696
@boneskull Hi Christopher!
Can you tell me? How hard is it to fix my problem by expanding the functionality mocha?

[2019-01-28 16:43] boneskull commented on #3696
I don’t really understand. Can you please provide a repo or gist that shows the problem?

[2019-01-28 18:51] boneskull commented on #3681
@juergba 	That'd be easier to implement, but also it'd break backwards-compat, so we should probably just make it work.

[2019-01-28 18:55] #1638 closed

[2019-01-28 18:55] #3291 closed

[2019-01-28 18:55] #2134 closed

[2019-01-28 18:56] outsideris commented on #3681
I didn't find a proper approach even if I'm working on it.

[2019-01-28 19:00] boneskull opened #3697 "--debug doesn't invoke --inspect correctly"
at least, in theory, because of this typo:

https://github.com/mochajs/mocha/blob/1e305012428dafc72a664623553cc1783ceddaff/bin/mocha#L42-L46

[2019-01-28 20:18] iamnikas commented on #3696
Yes of course!)

https://github.com/iamnikas/mocha_title_bug

I prepared a project with a bug. It seems to me that the title of the description in the function it('title_'+global.var, fn(){...}) & describe('title_'+global.var, fn(){...}) should change if the variable in globals has been changed.
To do this, I propose to slightly modify the --delay mode so that you can perform any logic before init

[2019-01-29 20:19] plroebuck commented on #3696
This is **not** a bug.

Suite and test titles are processed _when the file is sourced_.
If you want dynamic titles, you must use a function that returns the suite/test.

[2019-01-29 20:30] #3696 closed, assigned to plroebuck

[2019-01-29 21:54] #3697 closed

[2019-01-29 22:56] boneskull commented on #3564
I'm closing this; I've since gotten some backchannel feedback that comma-sep is useful, and it's really not much trouble to support both styles.  as of v6, `--reporter-option` and `--reporter-options` are the same thing, and can be described using commas (`--reporter-option foo=bar,baz=quux`) or repetition (`--reporter-option foo=bar --reporter-option baz=quux`)

[2019-01-29 23:09] boneskull opened #3701 "soft-deprecate noHighlighting"
`noHighlighting` is a browser-only option can supply which disables syntax highlighting.

It should probably be replaced with a reporter option (though open to debate!), since it's unique to the `html` reporter.  This should be a boolean option which defaults to `true`.

If a user supplies `{noHighlighting: true}` to `mocha.setup()` or calls `mocha.noHighlighting()` in the browser, we should print

[2019-01-29 23:16] boneskull commented on #3701
Fair warning: this is labeled `good-first-issue` with some hesitation; it's not a nontrivial task.

[2019-01-29 23:25] boneskull opened #3702 "🛠️ Repo: Two-column lists in the docs should not be the default style for lists"
This should not be the default list style:

![image](https://user-images.githubusercontent.com/924465/51947480-e6e2a800-23d9-11e9-924d-6dafdbec79c4.png)

Change the stylesheet to display a "normal" list unless we apply a specific class for two-column display.  I think it's OK to use in some places, but not for *all* lists.

unless there's a way to specify the class in our markdown compiler (not su

[2019-01-30 03:13] cyjake commented on #3675
@furstenheim Try running mocha again with `--full-trace` enabled, if it performs well then it sure is related to #3686

[2019-01-30 06:58] iamnikas commented on #3696
@plroebuck And if there is no possibility to make tests dynamically?

[2019-01-30 07:04] dilunika commented on #3391
We had the same issue when we run mocha using ts-node in our node + typescript serverless project.

Our tsconfig.json had "sourceMap": true . So generated, .js and .js.map files cause some funny transpiling issues (similar to this). When we run mocha runner using ts-node. So, I will set to sourceMap flag to false and deleted all .js and .js.map file in our src directory. Then the issue is gone.

I

[2019-01-30 14:14] plroebuck commented on #3564
Wait. I don't care whether `--reporterOptions` is deprecated or not.

But need `--reporterOption` to be able to process comma-separated arguments as the value
(e.g., `--reporterOption meta=foo,bar,baz`) which _cannot_ currently be done if using same code.

[2019-01-30 16:03] plroebuck commented on #3696
Nikita, why would creating tests dynamically not be possible?

[2019-01-30 16:18] iamnikas commented on #3696
The fact is that more than 3000 lines of test code have already been written, some of them have a multistage Chai nesting. Or is this not a problem?

[2019-01-30 16:23] plroebuck commented on #3696
From your code, doesn't this work?

[code]

Could move your root suite `before` inside your `describe` and use local variables rather than `environment` global variable.

[2019-01-30 17:39] plroebuck commented on #3696
You wrote 3000 lines of test code without running it at all?
Sorry, but I'd have to see more than your simple repo to answer.

[2019-01-30 17:44] plroebuck commented on #3696
An alternative approach would be to use the `--delay` flag.
See [delayed root suite](https://mochajs.org/#delayed-root-suite) in the docs.

[2019-01-30 19:21] iamnikas commented on #3696
@plroebuck What package do you advise to use instead of async-request? Axios?

[2019-01-30 20:26] boneskull opened #3705 "add Matomo badge to site"
[Matomo](https://matomo.org) now sponsors Mocha by providing its services to our project for free.  Here's a badge we can add to our site:

![image](https://user-images.githubusercontent.com/924465/52010312-1d77fb80-248a-11e9-95f5-3c093dae2a61.png)

Link to `https://matomo.org` unless we hear otherwise.

[2019-01-30 23:02] mrgenixus commented on #1922
This is literally why I want this feature. If it were contributed by me or my team, would mocha's team consider merging it?

[2019-01-31 00:35] KidSysco commented on #2781
I tried chai-http and supertest. Mocha is unable to run and report anything if any test fails. That is not a very good approach at testing. Unit tests should show up in red if they fail and green if they pass.

[2019-01-31 00:57] boneskull commented on #1922
@mrgenixus 	Do you have a recent or real-world code sample of what you're doing instead?  This sounds like it lands squarely in the realm of features for functional testing, so I'm curious what tools/libs you're using with it.

[2019-01-31 00:59] boneskull commented on #3414
@outsideris Are you still working on this one?

[2019-01-31 01:26] boneskull opened #3706 "--reporter-option should allow comma-separated values"
Add `coerce: list` to the option in `lib/cli/run.js`. maybe add an integration test.

Reference: #3564

[2019-01-31 06:51] dotnetprofessional commented on #3592
Optional tests sounds weird, but I myself had had the occasion for them. In so far as I want to run some tests for certain environments. I've used tagging for this however and controlled that via the options. @Bamieh I wouldn't like to recommend any type of conditional logic in a test, as then one needs a test for the test :)

[2019-01-31 07:10] dotnetprofessional commented on #3481
My take on this is to have two separate types of reporters. In my custom UI/Reporter I've gone with UI based reporters (ie you see the output in the console - can have but one) and Post-Reporters which take a JSON object with the full details of the test run. This is then passed to each of the registered post-reporters to do as they wish. They could output to the console or file and don't step on

[2019-02-01 03:20] brookjordan commented on #1922
Thanks for chiming in, @boneskull:

It's testing a website of which I can't access the codebase via tests, due to it being built in a sandboxed CMS.

The code above is, actually, very close to real-world code which is still being used and updated. I'm using it along with `selenium-webdriver`.

`waitForElement` is one of a plethora of functions I've built to make it easier for said designers to upd

[2019-02-01 10:08] blackening commented on #3670
As a workaround, on windows, i used this and it works:
set NODE_OPTIONS=--experimental-worker && mocha -r ts-node/register server/src/**/*.spec.ts

(mocha + typescript + experimental-workers)

[2019-02-01 20:22] plroebuck commented on #3696
[code]

[2019-02-02 12:26] plroebuck opened #3708 "Unneeded processing in _spawnMochaWithListeners?"
### Description

`_spawnMochaWithListeners` function within file "test/integration/helpers.js".

Code in question is [here](https://github.com/mochajs/mocha/blob/d0cc3b2e43fe99b265edce8960d13b25d0c98be9/test/integration/helpers.js#L253), but relevant portion copied below.
[code]

Need to determine if there's any reason for the `.split('\n').join('\n')` portion.
If so, document why; otherwise, remo

[2019-02-03 12:11] firdausious opened #3709 "bbgv\\\\\\bvxc="
### Prerequisites

- [ ] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2019-02-03 17:09] craigtaub commented on #3709
@firdausious was this opened out of accident?
If not please give full details or we will close it.

[2019-02-03 17:21] craigtaub commented on #3604
I'll put something together

[2019-02-03 17:58] crossaaron commented on #3702
would like to take this one.  any documentation on getting the local development environment running?  struggling with Karma/saucelabs auth process  to pass all tests

[2019-02-04 03:44] sunkakar commented on #3705
Hi. Can you give me some more context on where the badge needs to be added?
I would like to work on this issue!

[2019-02-04 11:31] outsideris commented on #3414
@boneskull  Now, I'm not.

[2019-02-04 11:49] outsideris commented on #3709
I believe it is an accident.

[2019-02-04 11:49] #3709 closed

[2019-02-04 18:38] boneskull commented on #3702
@crossaaron the `wd` module is only used for tests on SauceLabs, which you aren't running locally, so not sure what the problem was there.

at any rate, changes here should not affect any browser tests; the only potential failure would be a linting error.

[2019-02-04 18:48] boneskull opened #3713 "keep auto-generated content in docs out of VCS"
Our documentation has automatically generated sections.  The content in these sections is part of the doc build and should not be in VCS.

[code]

Should *not* be modified when running `npm start docs`.

Instead, the build should be run against a transient copy of the file.  That means:

1. Copy `docs/index.md` to a temp location
1. Run [the preprocess script](https://github.com/mochajs/mocha/blob

[2019-02-04 19:01] boneskull opened #3714 "duplicated header anchor links on mouseover"
1. Go to https://next.mochajs.org
1. Mouseover a heading

![image](https://user-images.githubusercontent.com/924465/52230074-538ef400-286b-11e9-89ad-c0e72fb8ba7d.png)

Remove the `#`; keep the other one.

cc @Munter

[2019-02-04 19:35] cjdeleon62 commented on #3714
@boneskull @Munter mind if I take this issue?

[2019-02-04 20:39] boneskull opened #3716 "smart quotes and smart hyphens in docs"
It’d be cool if we could get “smart quotes”—and hyphens—in our documentation.

that’s probably going to be a markdown processor or eleventy plugin. ideally this would apply to API docs as well but that can be a separate issue since the tools are different (there’s another issue about consolidating the markdown tools somewhere)

[2019-02-04 21:21] kbirger opened #3717 "Documentation for usage with Karma/Angular 4+"
I assume that since older versions of mocha worked with older versions of Angular, that this is still possible, but all of the references I can find online for this are varied and not helpful. I think it would be helpful for this project if there was an official documentation for how to set up mocha for Karma and Angular.

[2019-02-04 23:46] boneskull commented on #3717
the wiki would make sense for this... but we'd need someone who's familiar with Angular to create it.

[2019-02-05 03:57] firdausious commented on #3709
Oopps.. that was an accident.. my apologize and thank you for closing this issue..

[2019-02-05 10:17] Munter commented on #3714
Is this still a thing? I thought I fixed that one. If it's still a problem it might be related to the markdown auto header linking functionality

[2019-02-05 20:43] PhABC commented on #591
@shirakaba Thanks for this! I get the intent, but can't get it working. Sorry if this is a novice question, where where am I supposed to add these declarations?

While typescript compiles fine when I use `describe.if` and VSCode shows me correctly the function definition, I get a `TypeError: describe.if is not a function` error. Any idea?

[2019-02-06 02:48] kbirger commented on #3717
@weswhite I'm not an owner of this project, but at a glance, this seems like a reasonable example to base it on:
https://github.com/shellscape/mocha-chrome

I greatly appreciate it by the way.

[2019-02-06 17:10] boneskull commented on #3717
@weswhite yes, whatever is helpful for @kbirger would likely be helpful for the greater community.  I can't say what's needed because I don't use Mocha with Karma & Angular (though Mocha uses Karma to test itself)

[2019-02-06 17:14] shirakaba commented on #591
@PhABC Ah, yes – sorry to neglect.

You should have an entry file that always gets run first (e.g. `setup.spec.ts` or `index.spec.ts`) before any of your intended tests run. Add it all in there; think of it as a polyfill. You're getting the TypeError because a `describe.if()` block was run before the `describe.if` implementation was assigned.

Note: The "reference path" line needs to strictly be a

[2019-02-06 19:43] victorhugojt opened #3718 "Project-local custom reporter launching binary mocha"
### Prerequisites

- [ X] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [X] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't supp

[2019-02-06 19:53] damianb commented on #2927
I'm running into this myself right now; I have a code smell in my tests that has recently emerged due to a need where I have to run some rollbacks after running certain tests on my test database (in order to avoid dependencies on db state changes between tests).

What has happened is basically the following:

[code]

This then results in an odd structure to tests (anything that tests modification

[2019-02-06 21:01] boneskull commented on #2927
@damianb 	That isn't a code smell in and of itself.  Some tests need setup, some tests need cleanup, some tests need both.  Suites allow you to group tests logically and/or functionally.  It's not unusual or incorrect to have a suite with a single test in it.

[2019-02-06 21:05] damianb commented on #2927
Fair enough.  It certainly does make it less pleasant to look at the test results afterwards, but that's a nit that I'll have to get over.

[2019-02-06 21:06] boneskull commented on #2927
In fact, it might make sense to put your code which causes the DB to be modified in a "before all" or "before each" hook, then only perform assertions within the test itself. Each suite can then describe the assumptions the tests make:

- suite: "when foo is true"
  - before each: set foo to true
  - test: "baz should result in x"; make assertion
  - after each: cleanup foo
  - suite: "when bar is

[2019-02-06 21:11] boneskull commented on #2927
A big secret is that you don't need a top-level suite, because one exists already:

[code]

But given the assumptions your tests are making, it seems reasonable to rename the suite to something like "when user is modified", or put the other two in a suite called "when user is read" or something like that.  The fact that you need a describe means the tests make an assumption; document it in the sui

[2019-02-06 21:15] victorsferreira commented on #2407
I was getting this error but I was accidentally returning a promise (supertest)

[code]

Removing the 'return' clause solved the problem

[2019-02-07 18:02] plroebuck commented on #3718
You didn't provide enough information to help you.
Fill out the "Versions" section above so I'll at least be able to tell what/where to look.

[2019-02-08 05:33] weswhite commented on #3717
@boneskull I figured out how to do this. Where should I put the steps? First open source contribution, sorry...

[2019-02-08 15:51] Ch84 opened #3720 "Mocha TypeError fn is not a function"
### Description
Mocha won't run, leaving me a `TypeError` message that 'fn' is not a "function".

What do I have to do to solve this?

Thanks in advance!

See attached image.
![mochatypeerror](https://user-images.githubusercontent.com/33604841/52489131-c11b8700-2bc1-11e9-99d6-fe68738cfc5a.JPG)

### Steps to Reproduce

**Expected behavior:** [What you expect to happen]
Mocha should run the script.

[2019-02-08 16:36] plroebuck commented on #3720
Actually filling in the template is required -- no idea what version you're running, OS, what you did...

[2019-02-08 17:48] boneskull commented on #3717
@weswhite 	Create a new [wiki page](https://github.com/mochajs/mocha/wiki).  make sure you link to it from the list of tutorials on the front wiki page.  thanks for your help!! :heart:

[2019-02-08 18:34] gatsbyz commented on #3140
[code]

[2019-02-08 19:01] #3681 closed

[2019-02-08 19:14] Ch84 commented on #3720
### Steps to Reproduce
**Expected behavior:** [Mocha should run the script]

**Actual behavior:** [Initiates searching for the driver and finding Chrome but then crashes, script won't run at all]

**Reproduces how often:** [100%]

### Versions
* The output of `mocha --version` and `node node_modules/.bin/mocha --version`: 5.2.0
* The output of `node --version`: 10.15.0
* The version and architectu

[2019-02-08 21:23] boneskull opened #3721 "investigate sortier for additional formatting"
https://github.com/snowcoders/sortier

@plroebuck

[2019-02-09 22:51] craigtaub commented on #3720
Pease send details of what is in your script, including what you expect for output. Looking at the screenshot looks like the error is from selenium-webdriver.

[2019-02-10 12:15] Ch84 commented on #3720
Here is my code:

var webdriver = require ('selenium-webdriver'),
    { suite, it, afterEach, beforeEach } = require ('selenium-webdriver/testing');
By = webdriver.By,
until = webdriver.until;
var driver;

// Describe the scenario and write function

suite('Google Search Engine Scenario', function() {
    this.timeout(50000);
    beforeEach(function() {

    // Set up the driver and URL

    drive

[2019-02-10 12:19] Ch84 commented on #3720
Expected output is that it should start and run the script, I checked the documentation and there has been some changes and I read that I am supposed to use suite instead of describe, since it first gave me the error that describe is not a function. So that is what I have been finding out so far, but I don't understand what could be the problem with selenium-webdriver in this case.

[2019-02-10 15:36] plroebuck commented on #3720
* Replace `suite` with `describe` in both places (they perform the same function, but `suite` is for "tdd" interface, while `describe` is for "bdd" interface). Don't mix'n'match. Where did you read that?
* Should move `it`(works with mocha) within the `describe`, or your driver will not be setup (since it's in the root suite).
* The `it` already within `describe` passes `5000`argument -- Mocha's `

[2019-02-10 16:34] Ch84 commented on #3720
Changed the code to this:

var webdriver = require ('selenium-webdriver'),
    { describe, it, afterEach, beforeEach } = require ('selenium-webdriver/testing');
By = webdriver.By,
until = webdriver.until;
var driver;

// Describe the scenario and write function

describe('Google Search Engine Scenario', function() {
    this.timeout(50000);
    beforeEach(function() {

    // Set up the driver and

[2019-02-10 17:18] plroebuck commented on #3720
This work?

***"example.spec.js"***:
[code]

[code]

[2019-02-10 17:56] Ch84 commented on #3720
Created new file and wrote that code.

But gives me a syntax error

![syntaxerrormochadebugcode](https://user-images.githubusercontent.com/33604841/52537281-31164280-2d65-11e9-8bb5-f66955d114d9.JPG)

I have searched the code for misspellings, missed define of variables e.t.c. and corrected all mistakes I made, but still no difference, the syntax error remains.

Here is my version of the code:

con

[2019-02-10 18:53] #3414 closed

[2019-02-11 08:03] plroebuck commented on #3720
Corrected given code and provided working [step-by-step instructions](https://github.com/mochajs/mocha/issues/3720#issuecomment-462152731) for sample project using Selenium WebDriver using Chrome.

[2019-02-11 08:03] #3720 closed

[2019-02-11 08:37] furstenheim commented on #3675
@cyjake Just tried mocha 5.2.0 (latest) with `--full-trace` option and the problem persists

[2019-02-12 01:50] boneskull commented on #3718
a reporter must be exported as `module.exports = MyReporter`

[2019-02-12 01:50] #3718 closed

[2019-02-12 02:54] cyjake commented on #3675
@boneskull I've reproduced this issue locally and done a superficial study of the reason. It is blocked at `Base.epilogue()` (`generateDiff()` specifically).

[2019-02-12 23:27] #3693 closed

[2019-02-13 01:51] #3706 closed

[2019-02-13 01:52] boneskull commented on #3705
@sunkakar Just near the bottom somewhere.  thanks!

[2019-02-13 14:21] PavelKastornyy opened #3724 "Add possibility to set babel 7 config file path"
I am trying to use mocha with Babel7 and I came across the following problem. Babel 7 can be configured via `babel.config.js` however, there seems to be no way to pass babel config file path to mocha. I asked a question at [stackoverflow](https://stackoverflow.com/questions/54669222/how-to-pass-babel7-config-file-path-to-mocha-and-gulp-mocha) but got no answer.

If it is possible to do, then, plea

[2019-02-13 15:08] plroebuck commented on #3724
From [Babel's config file docs](https://babeljs.io/docs/en/config-files#project-wide-configuration):

So why would you need to pass anything?

[2019-02-13 15:22] PavelKastornyy commented on #3724
@plroebuck

This is my project structure:
[code]
So, I have three ES6 modules. Module `script4jfx.graphics` depends on other two modules. The problem with Babel 7 is that it is not so easy to make it compile files outside current folder. To solve this problem I try using `babel.config.js`.

I think that it is not referenced because after removing all `.babelrc` from modules and adding `babel.confi

[2019-02-13 15:47] plroebuck commented on #3724
Forget Mocha for the moment. What happens when you enable debugging and run Babel by hand? Does that show your "babel.config.js" settings being used?

[2019-02-13 16:09] plroebuck commented on #3720
@Ch84, you have any problems using instructions?

[2019-02-13 16:58] Ch84 commented on #3720
Got a problem with git bash but i think i have been figuring out why. I will try that solution first and get back to you. Thanks in advance!

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: P. Roebuck <notifications@github.com>
Sent: Wednesday, February 13, 2019 5:09 PM
To: mochajs/mocha
Cc: Ch84; Mention
Subject: Re: [mochajs/mocha] Mocha TypeError fn is not a f

[2019-02-13 17:36] PavelKastornyy commented on #3724
This is my `babel.config.js`:
[code]
Here we go:
[code]
As you see without setting `config-file` it doesn't work.

[2019-02-13 17:36] PavelKastornyy commented on #3724
@plroebuck
This is my `babel.config.js`:
[code]
Here we go:
[code]
As you see without setting `config-file` it doesn't work.

[2019-02-13 19:05] Ch84 commented on #3720
Just as I thought that error message depended on that I forgot to turn on the administrator for git bash denying me some permissions :). With that solved and done everything I got this far anyway. Attaching image.
![gitbasherrormsgmochastart](https://user-images.githubusercontent.com/33604841/52736680-b51d3400-2fca-11e9-9597-b2df0666aa30.JPG)

[2019-02-13 21:06] cspotcode opened #3727 "Config file schema"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2019-02-14 05:39] MuhammadJamaluddin commented on #2895
My `package.json` has this:
`"test": "mocha server/spec/server-spec.js; RES=$?; kill %1; exit $RES"`
And my file structure is:
[code]
And, of course,  I'm currently in the rrot directory where the server directory is located, but when I run `npm test` I get that error:
`Warning: Could not find any test files matching pattern: server/spec/server-spec.js;`
I'm using a Windows OS. I've tried `cmd.exe

[2019-02-14 06:33] mirajehossain commented on #3010
Hi, I am facing same issue, here is my code:
[code]

[2019-02-14 12:27] plroebuck commented on #3010
Does your `SubjectService` take more than 2 seconds to respond?
Then either increase or disable the timeout for the test.

[code]
Depending on the number of tests you have to run on the result, an alternative is to restructure the test to do the time-consuming part in `before` hook:
[code]

[2019-02-14 13:08] plroebuck commented on #2895
@MuhammadJamaluddin, you _should_ be able to just have:
[code]

Depending on what version of mocha you're using, you may see something helpful in the debug output by using `cross-env` and launching it like this:
[code]
[code]
Or use a glob and just see what mocha finds... JIC you misspelled something...
[code]

[2019-02-14 13:31] plroebuck commented on #3720
Well, it's sort of working. Something isn't right with ChromeDriver installation; WebDriver can't find the download. Can try reinstalling it and hopefully see something in the output...
[code]

I verified this on **macOS 10.13.6**...
[Dilbert - Computer Holy Wars](https://dilbert.com/strip/1995-06-24)

[2019-02-14 15:45] Antonius-S opened #3729 "Diff is not generated for assert.deepEqual(obj, undefined, message) with non-empty message"
### Prerequisites

- [x ] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [ x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't sup

[2019-02-14 15:57] plroebuck commented on #3724
From Babel's docs, it says:

**(not claiming _any_ Babel expertise)**
So _I_ would try the following first:
[code]
After that, rerun your "Point XXX" test from above. The RC files should allow Babel to pickup config when running `npx` from various locations.

[2019-02-14 16:07] PavelKastornyy commented on #3724
@plroebuck
I've already tried what you suggest. The problem is that `.babelrc` doesn't extend well `babel.config.js`. But to make it clear for you I repeat, so :
I added .babelrc to /home/Pavel/script4j/modules/script4jfx.graphics with the following content:
`{ "extends": "../../babel.config.js" }`
And now:
[code]

[2019-02-14 16:08] plroebuck commented on #3724
As far as getting Mocha to work with your base config file, dunno if above is sufficient or not.
If not...
Assuming somewhere, you're using something like this in "package.json".
[code]
Instead, I'd create a standalone registration file.
[code]
and use it instead (so Babel will search towards $MONOREPO for the "babel.config.js" file)...
[code]

[2019-02-14 16:16] PavelKastornyy commented on #3724
@plroebuck Thank you very much for your solution - `require("@babel/register")({rootMode: "upward"});` + `mocha --require registerbabel7.js` - it seems to work.

[2019-02-14 17:14] mirajehossain commented on #3010
@plroebuck no, ``` SubjectService``` take ```0.46s``` to response.  Actually I forgot to connect my DB. It resolved now.
But I didn't understand why this error received.

[2019-02-14 19:18] plroebuck commented on #3724
How about this?
[code]

[2019-02-14 19:21] #3724 closed

[2019-02-14 19:23] PavelKastornyy commented on #3724
@plroebuck It works either. But I need babel only to run mocha tests. However, solving problem with mocha I still can't make babel compile file outside working folder (as I've said before this is a `feature` of babel 7). Could you take a look at the following question, maybe you can suggest something https://stackoverflow.com/questions/54695624/how-to-configure-babel-config-js-for-for-testing-modu

[2019-02-14 20:30] Ch84 commented on #3720
still same error msg so I tried to just actually copy my chromedriver.exe file to the same path as my javascript file and then try to run again. It found the webdriver and started to run chrome, so my guess was right anyway it was looking for the chromedriver.exe file. Although the tests failed, but I guess I just now have to continue to play around with my code and try to get further =p. Anyway h

[2019-02-14 20:32] Ch84 commented on #3720
And one more question is, can I access this project from the Windows GUI? Since I am using Visual Studio Code. In that case how do I do that?

[2019-02-15 13:28] nicojs commented on #2783
For people interested, we've built the re-run functionality in the Stryker plugin for mocha: https://github.com/stryker-mutator/stryker/blob/930a7c39952e09a7d3f913fd9423bf78f608ec17/packages/mocha-runner/src/MochaTestRunner.ts#L48-L68

The problem we now face is that we _want to rerun mocha, without cleaning require cash or reloading the files_. We want to call it "hot reload". So rerun tests, wit

[2019-02-15 15:10] plroebuck commented on #2783
This is just _one_ aspect.. there are several others required to _really_ hope to reuse a Mocha instance.
Have something in mind, but post 6.0 release.

[2019-02-15 15:29] AgaAgnieszkaBorcz opened #3732 "Mocha Logo what license?"
Mocha logo what license is falling under ? >>> Thank you

[2019-02-15 15:57] plroebuck commented on #3732
I know there was a PR somewhere that discussed attribution, but for the life of me I can't find it.
Any particular reason?

[2019-02-15 16:02] AgaAgnieszkaBorcz commented on #3732
We would love to be able to include your logo as part of our inventory but aren’t sure of the restrictions regarding its use for commercial purposes, so we would like to find out what your policy is regarding this and if this would be a possibility?

We do not plan to modify or alter the logo in any way or claim that it is ours. To get a better idea of how we plan to use the logo, please see the f

[2019-02-15 18:37] craigtaub commented on #3729
@Antonius-S
I believe this is a question for the `assert` module.
Mocha makes use of the thrown `error.message` for its output, and as you can see below the message that it returns is the problem.

Run as `node test.js`
[code]

Results:

[code]

[2019-02-15 19:11] plroebuck commented on #3732
ping @boneskull

[2019-02-16 08:45] lqez commented on #3664
@boneskull I found a lot of light themes of code prettifier. Could you recommend a theme from https://jmblog.github.io/color-themes-for-google-code-prettify/?

[2019-02-16 09:05] outsideris opened #3736 "make sponsors logo more readable when logo is white in homepage"
In [homepage](https://mochajs.org/), some sponsors's logo is white. So, people can't realize who is support us.
We should make them to people see the logo well like background color or shadow.

<img width="943" alt="2019-02-16 18 02 34" src="https://user-images.githubusercontent.com/390146/52897195-0c164980-3215-11e9-97fb-41c01eec4ea2.png">

[2019-02-16 17:16] #3382 closed

[2019-02-16 18:48] #3708 closed

[2019-02-17 08:26] sushanth3366 commented on #3279
I used small 'I' every where for inbox still I am not able to run test
<img width="888" alt="screen shot 2019-02-17 at 1 55 24 pm" src="https://user-images.githubusercontent.com/46863846/52910319-c3fe3200-32bb-11e9-9b69-e18be50d9a43.png">

[2019-02-17 08:29] sushanth3366 commented on #3279
I used small 'I' every where for inbox still I am not able to run test
I am using web3@1.0.0-beta.26
I also tried web3@1.0.0-beta.37 but still got same error
<img width="815" alt="screen shot 2019-02-17 at 1 57 18 pm" src="https://user-images.githubusercontent.com/46863846/52910330-117a9f00-32bc-11e9-8b4c-482df340f0c5.png">

[2019-02-17 09:18] plroebuck commented on #3279
@sushanth3366, you misspelled `describe`...

[2019-02-17 10:55] sushanth3366 commented on #3279
bro still its showing this error

On Sun, Feb 17, 2019 at 2:48 PM P. Roebuck <notifications@github.com> wrote:

[2019-02-17 11:01] sushanth3366 commented on #3279
<img width="502" alt="screen shot 2019-02-17 at 4 30 01 pm" src="https://user-images.githubusercontent.com/46863846/52911997-565d0080-32d1-11e9-8929-5b48c3596073.png">
<img width="845" alt="screen shot 2019-02-17 at 4 23 58 pm" src="https://user-images.githubusercontent.com/46863846/52912002-6248c280-32d1-11e9-8d15-090025d5cee0.png">
any one please resolve this issue its a bit urjent for me.

[2019-02-17 17:27] plroebuck commented on #3279
I'll use this standard project layout.
[code]
Put your "Car" class in its own file...
[code]
Now create its test specification...
[code]
Create "package.json" and patch by hand...
[code]
It should look like this:
[code]
Finally, run the test.
[code]

[2019-02-17 19:24] plroebuck commented on #3279
Now (re)add the Etherium related modules.
**Ensure you have native build tools (e.g., Xcode on macOS) installed first***

[code]
Create another test specification to verify your Web3 setup.
[code]
Test again.
[code]

[2019-02-17 19:26] sushanth3366 commented on #3279
Man thank u so much😀😀!!!

On Mon, 18 Feb 2019 at 12:54 AM, P. Roebuck <notifications@github.com>
wrote:

[2019-02-18 07:50] Antonius-S commented on #3729
Yep you're right. I was confused by presence of some diff-related code in `\lib\reporters\base.js`. Probably I should report the issue to Node team

[2019-02-18 08:57] craigtaub commented on #3729
So in this scenario it passes criteria for Mocha to generate its own diff.

[2019-02-18 10:21] juergba opened #3740 "this.skip() - bug summary"
### Description

#### 1. `this.skip()` in `beforeEach` hooks
Incorrect hook pattern.
All `beforeEach` hooks are executed, but `afterEach` hooks are skipped completely, see #2546
=> fixed: #3741

#### 2. async `this.skip()` in `beforeEach` hooks
results in a "Uncaught async skip; aborting execution", see [test](https://github.com/mochajs/mocha/blob/master/test/integration/fixtures/pending/skip-asyn

[2019-02-18 17:02] plroebuck commented on #2783
Of note, the Mocha-6.0 release API includes [`Mocha#unloadFiles`](https://github.com/mochajs/mocha/blob/52b5c42c3dda8c386735969642843bd1129a4562/lib/mocha.js#L356). It's one step towards eventual `mocha` reuse...

[2019-02-18 23:49] boneskull commented on #3732
I believe it's the same as the site, which is [CC-BY-4.0](https://github.com/mochajs/mocha/blob/master/docs/LICENSE-CC-BY-4.0).

I don't know of any further restrictions on its use, but that doesn't mean there aren't any.  The old E.D. of the JS Foundation made noises about trademark registration.  I don't know if anything ever happened on that front.  Maybe @joryburson has some idea?

@AgaAgniesz

[2019-02-18 23:50] boneskull commented on #3732
(a cursory search of the USPTO database doesn't return any obvious hits)

[2019-02-19 00:01] vrozin commented on #3705
Hi! I am interested in helping with this issue, but I have one point of confusion:
The list of sponsors is coming from [Open Collective](https://opencollective.com/mochajs/sponsor/), which then gets added to README.md and [http://npmjs.com/package/mocha](http://npmjs.com/package/mocha).
I'm not sure how to approach this since there's no access to website's assets to add the badge.

[2019-02-19 02:15] tripodsan opened #3742 "running mocha shows yargs deprecation with latest yargs dependency"
### Prerequisites
- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppor

[2019-02-19 02:21] jorydotcom commented on #3732
hello hello - since is for commercial use, I am 99% certain the @JSFOwner has to grant Stickermule an explicit license... @AgaAgnieszkaBorcz do you have an email address I can cc to confirm? Also can you explain what if any portion of the proceeds of this will be returned to the project?

[2019-02-19 07:44] nicojs commented on #2783
Actually... no...

To delete the require cache correctly, not only the test files but also the _source files_ should be cleared. Mocha doesn't keep track of those files. This is what we need to do in Stryker right now (the `purgeFiles` method takes care of it).

Just to make sure we don't confuse 2 things: we actually want to reuse the same instance of mocha _without clearing any file cache_. Shou

[2019-02-19 09:52] cspotcode opened #3743 "Very slow startup time"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2019-02-19 13:44] wdavidw opened #3744 "CoffeeScript tests after v6.0.0 and suite return value check"
### Prerequisites

- [x ] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x ] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't sup

[2019-02-19 15:35] plroebuck commented on #3742
Asked for recommendation in yargs/yargs#1262 if upgrade to yargs-13 not possible.

[2019-02-19 15:51] plroebuck commented on #3744
This works though, right?
[code]
I remember cleaning up my project after enabling strict settings from `coffeelint`.

[2019-02-19 16:03] wdavidw commented on #3744
The problem is not inside `it` but inside `desribe` so this example wouldn't work, it shall be

[code]

[2019-02-19 16:11] plroebuck commented on #3744
OK. So one `return` per `describe`, not per `it`. Just checking in case example misformatted.
But it doesn't occur without Node `--throw-deprecation` argument?

[2019-02-19 16:17] wdavidw commented on #3744
Exact... until version 7.0.0!

[2019-02-19 16:30] jakesjews commented on #3744
This is preventing my team from upgrading too. I'd rather not suppress all deprecations. Perhaps some sort of option to disable the return check would work? We have a few thousand tests so it would be a lot of work to add return undefined to every describe.

[2019-02-19 16:31] plroebuck commented on #3744
How many `describe`s in your tests?

Had quickly thought of checking for `".coffee"` in `require.extensions`, but that wouldn't be of any help for source already transpiled... We run a few tests against CoffeeScript, but didn't think to add one for implicit returns.

[2019-02-19 16:32] wdavidw commented on #3744
Same for me, among others, the csv package implements all tests in coffee.

[2019-02-19 16:33] jakesjews commented on #3744
We have 2215 describes

[2019-02-19 16:33] wdavidw commented on #3744
What about my proposal, checking if the return value is an instance of what it return ? Actually, does `it` really need to return something? Can't it return undefined ?

[2019-02-19 16:37] plroebuck commented on #3744
Was supposed to help solve this...
[code]

[2019-02-19 16:37] wdavidw commented on #3744
@jakesjews 2215 in one package ? that is a good score. 154 for the csv package, 390 for nikita

[2019-02-19 16:38] wdavidw commented on #3744
@plroebuck, yes, that is what i meant when mentioning #3744 in the title (and not in the contents, issues shall be linked now) and saying that I understood the motivation.

[2019-02-19 16:39] jakesjews commented on #3744
@wdavidw this is in a larger application with backend and frontend

[2019-02-19 17:12] yodeyer opened #3746 "Third party UI no longer works from version 6"
### Prerequisites

- [X] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [X] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2019-02-19 17:34] boneskull commented on #3705
create a new list at the bottom. separate from OC sponsors

[2019-02-19 17:54] peni4142 opened #3747 "Standard xunit reporter throws an error even when all tests pass"
### Prerequisites

- [x] Checked that your issue hasn't already been filed by cross-referencing [issues with the `faq` label](https://github.com/mochajs/mocha/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Afaq%20)
- [x] Checked next-gen ES issues and syntax problems by using the same environment and/or transpiler configuration without Mocha to ensure it isn't just a feature that actually isn't suppo

[2019-02-19 18:19] plroebuck commented on #3744
Keep in mind that Mocha-6.0 has several large rewrites of portions of the codebase.
We're not coming out with Mocha-7.0 _anytime_ soon; after all, this version _just_ rolled out.
So don't use the Node `--throw-deprecation` argument for now, and we'll get this fixed soon.

[2019-02-19 18:23] plroebuck commented on #3744
I knew you understood. I posted the original motivation code, edited that, then reposted. Edit didn't go through, but didn't notice...

[2019-02-19 19:18] AgaAgnieszkaBorcz commented on #3732
Hello,

That's great. My email address is agaborcz86@gmail.com. I think there will
be definitely possibly in the future but not initially while we’re getting
started. We will be in touch regarding this matter of donation.

Thank you for your help
Looking forward to the answer

Best regards

Aga

On Tue, Feb 19, 2019 at 2:21 AM Jory Burson <notifications@github.com>
wrote: